<div class="container">
	<h1>Product List
		<a (click)="open()" class="btn btn-default btn-lg">
			<span class="fa fa-plus" aria-hidden="true"></span>
		</a>
	</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Brand</th>
				<th>Creation Date</th>
				<th>Date Available</th>
				<th>Days Available</th>
				<th>Description</th>
				<th>Display Name</th>
				<th>Price</th>
				<th>Tax</th>
				<th>Discount</th>
				<th>End Date</th>
				<th>Keywords</th>				
				<th>Long Description</th>
				<th>Parent Category</th>				
				<th>Start Date</th>				
				<th>Version</th>
				<th>Update Date</th>
				<!-- <th>Thumbnail Image</th>
				<th>Small Image</th>
				<th>Large Image</th> -->
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of products">
				<td>{{product.brand}}</td>
				<td>{{product.creation_date | date: "d MMM, yyyy"}}</td>
				<td>{{product.date_available | date: "d MMM, yyyy"}}</td>
				<td>{{product.days_available}}</td>
				<td>{{product.description}}</td>
				<td>{{product.display_name}}</td>
				<td>{{product.price}}</td>
				<td>{{product.tax}}</td>
				<td>{{product.discount}}</td>
				<td>{{product.end_date | date: "d MMM, yyyy"}}</td>
				<td>{{product.keywords}}</td>				
				<td>{{product.long_description}}</td>
				<td>{{product.category_name}}</td>				
				<td>{{product.start_date | date: "d MMM, yyyy"}}</td>				
				<td>{{product.version}}</td>
				<td>{{product.update_date | date: "d MMM, yyyy"}}</td>
				<!-- <td>{{product.thumbnail_image}}</td>
				<td>{{product.small_image}}</td>
				<td>{{product.large_image}}</td> -->
			</tr>
		</tbody>
	</table>
</div>
