<div class="wrapper">
  <div *ngFor='let table of tables; let i = index' (click)='selectTable(i)' class="tables">
    <app-table [table]='table' [index]='i' [active]='i === activeTable' [width]='tablesWidth'>
    </app-table>
  </div>
  <a href="#" class="btn" (click)="open()"><i class="fa fa-plus"></i></a>
</div>