<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    	<span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="container">
    <h1>Add New Area</h1>
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="saveArea()" #areaForm="ngForm">
          <div class="form-group">
            <label for="display_name">Display name</label>
            <input type="text" class="form-control" [(ngModel)]="area.display_name" name="display_name" required>
          </div> 
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" [(ngModel)]="area.description" name="description" required>
          </div>     
          <div class="form-group">
            <label for="seats">Tables in this area</label>
            <input type="text" class="form-control" [(ngModel)]="area.tables" name="tables" required>
          </div>
          <div class="form-group">
            <label for="observations">Observations</label>
            <input type="text" class="form-control" [(ngModel)]="area.observations" name="observations">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!areaForm.form.valid">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>