<header class="hero-unit" id="banner" style="padding-top: 16rem">
	<div class="container">
		<h2>Bine ai venit pe aplicatia MM Flow!</h2>
		<br>
		<br>
		<img src="assets/images/yeoman.png" alt="I'm Yeoman">
		<br>
		<br>
		<br>
		<h4>Acesta aplicatie apartine SC Rolem SRL, iar drepturile de autor asupra intregului continut,<br> inclusiv imaginile si baza
			de date, sunt detinute in totalitate de aceasta.</h4>
		<br><br>
		<h5>Aplicatie dezvoltata de Ahead Business Consulting SRL si <a target="_blank" ng-href="http://www.snipesoft.ro" style="text-decoration: underline;">Snipesoft SRL</a></h5>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
		</div>
	</div>
</div>