<div class="container-fluid">


        <table width=100% height=100%>
            <tr>
                <H3 style="text-align: center; vertical-align: middle;">Pagina in lucru. Utilizatorii si rolurile atribuite fiecaruia vor fi adaugate ulterior</H3>
                <td class="height" style="text-align: center; vertical-align: middle;">
                    <img src="resources/img/fpsLogo.png" width=100 height=100 />
                </td>
            </tr>
        </table>
    <!-- <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta utilizatorul" id="search" ng-model="searchUsers"/>
            </div>
        </div>
        <div class="col-md-offset-11" style="height: 3em; width: 3em;"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-striped voffset2" id="alignedTable">
                <thead>
                    <tr>
                    	<th>
                    		<a ng-click="sortType = 'userName'; sortReverse = !sortReverse">
                            Username
                            <span ng-show="sortType == 'userName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'userName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                    	</th>
                        <th>
                            <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Denumire
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortType = 'description'; sortReverse = !sortReverse">
                            Descriere
                            <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | filter:searchUsers ">
                    	<td>
                    		{{user.userName}}
                    	</td>
                        <td>
                            <button class="btn btn-link" ng-click="openModal('edit', service)"> 
                                {{user.firstName}} {{user.middleName}} {{user.lastName}}
                            </button>
                        </td>
                        <td>
                            Adresa: {{user.address}}; Tel. mobil: {{user.mobile1}}; Email: {{user.email}}; Web: {{user.website}};
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div> -->
</div>
