<div>
	<button type="button" class="btn" ng-click="onButtonClick()" ng-class="cssClasses">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i> {{text}}
    </button>
	<input type="file" style="display: none" />
</div>

