<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-3 col-xs-10 text-center">
            <h4><span class="fa fa-sitemap" aria-hidden="true"></span> Customizare centre de cost</h4>
        </div>
        <div class="col-md-2 col-xs-10">
            <div class="icon-addon">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Cauta centru de cost" id="search" ng-model="$ctrl.serchCostCenter" autocomplete="off"
                />
            </div>
        </div>
        <div class="col-md-4 text-right">
            <span class="fa fa-plus-circle fa-3x mouseOver" ng-click="$ctrl.openModal('add')" uib-tooltip="Adauga centru de cost" style="color:green;"
                tooltip-append-to-body="true"></span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row no-gutter">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 table-responsive">
            <table class="table table-striped voffset1 table-condensed" id="alignedTable">
                <thead>
                    <tr class="mouseOver">
                        <th style="width: 80px!important;" class="text-center" ng-click="$ctrl.sort('active')">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='active'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='active'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('code')" style="width:20rem">
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Centru de cost
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='code'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='code'"></span>
                        </th>
                        <!--<th ng-click="$ctrl.sort('name')" style="width:30rem">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Denumire centru de cost
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='name'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='name'"></span>
                        </th>-->
                        <th ng-click="$ctrl.sort('type')" class="text-center" style="width:10rem">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Tip CC
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='type'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='type'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('description')" class="text-center">
                            <span class="fa fa-file-text-o"></span> Descriere CC
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='description'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='description'"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="costCenter in $ctrl.costCenters | filterByMatchingFields: $ctrl.serchCostCenter : 'code' : 'name' : 'type' : 'description' | orderBy:$ctrl.customSorter:$ctrl.sortOptions.reverse | itemsPerPage: 20"
                        pagination-id="paginationCostCenters">
                        <td class="text-center">
                            <label title="Activ/Inactiv">
                                <i class="fa fa-check" ng-class="costCenter.isActive ? 'fa-check' : 'fa-minus'" aria-hidden="true"></i>
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="$ctrl.openModal('edit', costCenter)">
                                {{costCenter.code}}
                            </button>
                        </td>
                        <!--<td>
                            {{costCenter.name}}
                        </td>-->
                        <td class="text-center">
                            <span ng-if="costCenter.isMfa">MFA2</span>
                            <span ng-if="!costCenter.isMfa">Standard</span>
                        </td>
                        <td class="text-center">
                            {{costCenter.description}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationCostCenters">
            </dir-pagination-controls>
        </div>
    </div>
</div>