<div snp-esc="cancel(accountForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(accountForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="save()" novalidate name="accountForm">
        <div class="modal-body">
            <div class="form-group">
                <p class="text-danger">{{item.message}}</p>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="inner-addon left-addon" ng-class="{ 'has-error': accountForm.accountName.$touched
                                     && accountForm.accountName.$invalid }">
                                <i class="fa fa-credit-card"></i>
                                <input type="text" class="form-control" placeholder="Numele contului bancar" id="accountName" name="accountName" ng-model="item.accountName" required="required" title="Denumirea contului"/>
                                <div class="help-block" ng-messages="accountForm.accountName.$error" ng-if="accountForm.accountName.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="inner-addon left-addon" ng-class="{ 'has-error': accountForm.owner.$touched && accountForm.owner.$invalid }">
                                <span class="glyphicon glyphicon-user"></span>
                                <input type="text" class="form-control" placeholder="Detinatorul contului bancar" id="owner" name="owner" ng-model="item.owner" required="required" title="Detinatorul contului bancar"/>
                                <div class="help-block" ng-messages="accountForm.owner.$error" ng-if="accountForm.owner.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="inner-addon left-addon" ng-class="{ 'has-error': accountForm.bankName.$touched && accountForm.bankName.$invalid }">
                                <span class="glyphicon glyphicon-piggy-bank"></span>
                                <input type="text" class="form-control" placeholder="Denumirea bancii" id="bankName" name="bankName" ng-model="item.bankName" required="required" title="Denumirea bancii"/>
                                <div class="help-block" ng-messages="accountForm.bankName.$error" ng-if="accountForm.bankName.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <div class="inner-addon left-addon">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <input type="text" class="form-control" placeholder="Descriere (Ex: Cont plata TVA)" id="description" ng-model="item.description" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <p><i>Detalii suplimentare despre contul bancar</i></p>
                    <textarea id="message" name="message" class="form-control" rows="3" ng-model="item.details"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <snp-delete ng-show="delete.visible" confirm="delete.confirm()"></snp-delete>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancel(accountForm.$dirty)">Cancel</button>
                        <button type="submit" class="btn btn-success" value="save" ng-disabled="!accountForm.$valid">Salvare</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'app/views/misc/snp-overlay.html'"></div>
    </form>
</div>
