<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta contul bancar" id="serch" ng-model="searchAccount" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-offset-11">
            <img src="resources/img/addButton.ico" ng-click="openModal('add')" class="center-block img-circle img-responsive mouseOver" style="height: 2.5rem; width: 2.5rem;" title="Adauga cont bancar">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th ng-click="sort('accountName')">
                            <i class="fa fa-credit-card"></i> Numele contului
                            <span class="glyphicon sort-icon" ng-show="sortKey=='accountName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('owner')">
                            <span class="glyphicon glyphicon-user"></span> Detinatorul contului
                            <span class="glyphicon sort-icon" ng-show="sortKey=='owner'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <!-- <th ng-click="sort('IBAN')">
    IBAN
    <span class="glyphicon sort-icon" ng-show="sortKey=='IBAN'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
</th>
                                     <th ng-click="sort('currency')">
                            Moneda
                            <span class="glyphicon sort-icon" ng-show="sortKey=='currency'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th> -->
                        <th ng-click="sort('bankName')">
                            <span class="glyphicon glyphicon-piggy-bank"></span> Banca
                            <span class="glyphicon sort-icon" ng-show="sortKey=='bankName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('description')">
                            <span class="glyphicon glyphicon-pencil"></span> Descriere cont
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="bankAccount in bankAccounts| filter:searchAccount | orderBy:sortKey:reverse  | itemsPerPage: 17">
                        <td>
                            <button class=" btn btn-link " ng-click="openModal( 'edit', bankAccount) ">
                                {{bankAccount.accountName}}
                            </button>
                        </td>
                        <td>
                            {{bankAccount.owner}}
                        </td>
                        <!--                         <td>
                            {{bankAccount.IBAN}}
                        </td>
                        <td>
                            {{bankAccount.currency}}
                        </td> -->
                        <td>
                            {{bankAccount.bankName}}
                        </td>
                        <td>
                            {{bankAccount.description}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12 text-center ">
            <dir-pagination-controls max-size="10 " direction-links="true " boundary-links="true ">
            </dir-pagination-controls>
        </div>
    </div>
</div>
