.wrapper{
    width: 100%;
    display: block;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}
.tabHead{
    float: left;    
}
.btn{
    height: 40px;
    width: 40px;
    padding: 8px 15px 8px 15px;
}