<div class="wrapper row">
  <div *ngFor='let tab of tabs; let i = index' (click)='selectTab(i)' class="tabHead">
    <app-tab [tab]='tab' [active]='i === activeTab' (closeEvent)='closeTab(i)'
      [closeAllowed]='closeTabsAllowed' [width]='tabsWidth'>
    </app-tab>
  </div>
  <a href="#" class="btn" (click)="open()"><i class="fa fa-plus"></i></a>
</div>
<div class="wrapper row">
  <app-tables [tables]='tables' [areas]='tabs'></app-tables>
</div>
