<div snp-esc="cancel(transferForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(transferForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="save()" novalidate name="transferForm">
        <div class="modal-body">
            <div class="form-group">
                <p class="text-danger text-center">{{item.message}}</p>
            </div>
            <div class="form-group text-center">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="item.type" btn-radio="'IN'" required="required"><span class="glyphicon glyphicon-download"></span> Intrare</label>
                    <label class="btn btn-default" ng-model="item.type" btn-radio="'OUT'" required="required">Iesire <span class="glyphicon glyphicon-upload"></span></label>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-5" ng-class="{ 'has-error': transferForm.account.$touched && transferForm.account.$invalid }">
                        <select name="account" ng-model="item.extended.bankAccount" class="form-control" title="Cont din care/spre care se efectueaza tranzactia" required="required" ng-options="bankAccount.owner + ': ' + bankAccount.accountName for bankAccount in item.extended.bankAccounts" id="account">
                        </select>
                        <div class="help-block" ng-messages="transferForm.account.$error" ng-if="transferForm.account.$touched">
                            <div ng-messages-include="app/views/misc/messages.html"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="wrapper text-center" style="margin-top:3px;">
                            <span class="fa fa-2x" ng-if="item.type" ng-class="item.type=='IN'?'fa-arrow-right':'fa-arrow-left'"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <input type="text text-center" class="form-control" readonly value="Cont master: BCR Lei" />
                        <!-- ng-model="item.extended.bankAccount.bankName" -->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': transferForm.value.$touched && transferForm.value.$invalid }">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-money"></i>
                                <input type="number" class="form-control" placeholder="Valoare(LEI)" id="value" name="value" ng-model="item.amount" required="required" step="any" />
                                <div class="help-block" ng-messages="transferForm.value.$error" ng-if="transferForm.value.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="item.extended.dateOptions" ng-model="item.operationDT" is-open="item.extended.isCalendarOpen" enable-time="false" required="required" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="item.extended.openCalendar($event, 'operationDT')"><i class="fa fa-calendar"></i></button>
                         </span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': transferForm.crt.$touched && transferForm.crt.$invalid }">
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <input type="number" class="form-control" placeholder="Nr. CRT" id="crt" name="crt" ng-model="item.crt" ng-change="item.extended.validateThisCRT(item.crt)" ng-model-options='{ debounce: 1000 }' title="Numar CRT" required="required" step="any"/>
                                <div class="help-block" ng-messages="transferForm.crt.$error" ng-if="transferForm.crt.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row no-gutter">
                        <div class="col-md-3">
                            <div class="form-group" ng-class="{ 'has-error': transferForm.linkNumber.$touched && transferForm.linkNumber.$invalid }">
                                <div class="inner-addon left-addon">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <input type="text" class="form-control" placeholder="Nr. Leg." placeholder="Numar de legatura" id="linkNumber" ng-model="item.linkNumber" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="inner-addon left-addon">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <input type="text" class="form-control" placeholder="Descriere transfer" title="Descriere transfer" id="name" ng-model="item.description" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <p><i>Detalii suplimentare despre transfer</i></p>
                        <textarea id="message" name="message" class="form-control" rows="3" ng-model="item.details"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row no-gutter">
                        <div class="col-md-6">
                            <label for="details">Fisiere existente</label>
                            <table>
                                <tr ng-repeat="file in item.files">
                                    <td>
                                        <snp-delete ng-if="item.files" confirm="item.extended.removeFile(file)" size="btn-xs"></snp-delete>
                                    </td>
                                    <td>
                                        &nbsp;<i class="fa fa-file"></i>
                                    </td>
                                    <td>
                                        &nbsp;<a href="" ng-click="snpUtils.download(file.path)" title="{{file.name}}">
                                {{file.name}}
                                </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <label for="details">Fisiere noi</label>
                            <snp-upload accept="" files="item.newFiles"> </snp-upload>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row ">
                        <div class="col-xs-6 text-left">
                            <snp-delete ng-show="delete.visible " confirm="delete.confirm() "></snp-delete>
                        </div>
                        <div class="col-xs-6 text-right ">
                            <button type="button" class="btn btn-default btn-sm" ng-click="cancel(transferForm.$dirty)">Cancel</button>
                        <button type="submit" class="btn btn-success" value="save" ng-disabled="!transferForm.$valid && !item.type.$valid || (item.extended.validCRT == 0)">Salvare</button>
                        </div>
                    </div>
                </div>
                <div ng-include="'app/views/misc/snp-overlay.html'">
                </div>
            </div>
        </div>
    </form>
</div>
