<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta transferul" id="search" ng-model="searchTransfer.text" autofocus autocomplete="off" />
                <i class="inputFieldClear" ng-if="searchTransfer.text.length" ng-click="searchTransfer.text = ''">
                    <b>X</b>
                </i> 
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="transferTypeSelect" ng-model="searchTransfer.type" class="form-control" title="Tip Transfer" ng-options="tt.value for tt in allTransferTypes">
                </select>
            </div>
        </div>
        <div class="col-md-offset-11">
            <img src="resources/img/addButton.ico" ng-click="openModal('add', bankAccounts)" class="center-block img-circle img-responsive mouseOver" title="Adauga transfer" style="height: 2.5em; width: 2.5em;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th ng-click="sort('crt')">
                            Crt
                            <span class="glyphicon sort-icon" ng-show="sortKey=='crt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('type')">
                            <span class="glyphicon glyphicon-download"></span> In/Out <span class="glyphicon glyphicon-upload"></span>
                            <span class="glyphicon sort-icon" ng-show="sortKey=='type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('extended.bankAccount.owner')">
                            <span class="glyphicon glyphicon-user"></span> Numele contului
                            <span class="glyphicon sort-icon" ng-show="sortKey=='extended.bankAccount.owner'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('extended.bankAccount.bankName')">
                            <span class="glyphicon glyphicon-piggy-bank"></span> Banca
                            <span class="glyphicon sort-icon" ng-show="sortKey=='extended.bankAccount.bankName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('amount')">
                            <i class="fa fa-money"></i> Valoare (LEI)
                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('operationDT')">
                            <span class="glyphicon glyphicon-calendar"></span> Data transferului
                            <span class="glyphicon sort-icon" ng-show="sortKey=='operationDT'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('linkNumber')">
                            <span class="glyphicon glyphicon-folder-open"></span> Nr. Leg.
                            <span class="glyphicon sort-icon" ng-show="sortKey=='linkNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('description')">
                            <span class="glyphicon glyphicon-pencil"></span> Descriere
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('files')">
                            <i class="fa fa-paperclip"></i> Fisiere
                            <span class="glyphicon sort-icon" ng-show="sortKey=='files'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="transfer in transfers | filterMatchingFields: searchTransfer.type.key:'type' | filterMatchingFields:searchTransfer.text: 'crt':'extended.bankAccount.owner':'extended.bankAccount.bankName':'amount':'linkNumber':'description' | orderBy:sortKey:reverse | itemsPerPage: itemsPerPage ">
                        <td class="text-center">
                            <span class="fa fa-info-circle" ng-if="transfer.details" tooltip="{{transfer.details}}" tooltip-append-to-body="true"  tooltip-placement="right"></span>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-link" ng-click="openModal('edit', bankAccounts, transfer)">
                                {{transfer.crt}}
                            </button>
                        </td>
                        <td class="text-center">
                            <span>{{transfer.type}}</span>
                        </td>
                        <td>
                            <span>{{transfer.extended.bankAccount.accountName}}</span>
                        </td>
                        <td>
                            <span>{{transfer.extended.bankAccount.bankName}}</span>
                        </td>
                        <td>
                            <span>{{transfer.amount}}</span>
                        </td>
                        <td>
                            <i>{{transfer.operationDT  | dateTimeFormat}}</i>
                        </td>
                        <td>
                            <span>{{transfer.linkNumber}}</span>
                        </td>
                        <td>
                            <span>{{transfer.description}}</span>
                        </td>
                        <td>
                            <a href="" ng-click="snpUtils.download(file.path)" ng-repeat="file in transfer.files" title="{{file.name}}">
                                <i class="fa fa-file"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="itemsPerPage" ng-model="itemsPerPage" class="form-control" title="Pagini">
                        <!-- <option value="999999">Toate ({{transfers.length}})</option> -->
                        <option value="10">10/Pag</option>
                        <option value="17" ng-selected="{{itemsPerPage == 17}}">17/Pag</option>
                        <option value="50">50/Pag</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
