<div snp-esc="cancel(serviceForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(serviceForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form name="serviceForm" role="form" ng-submit="save()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <p class="text-danger">{{item.message}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': serviceForm.name.$touched && serviceForm.name.$invalid }">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <input type="text" class="form-control" placeholder="Denumire" id="name" name="name" ng-model="item.name" required autofocus minlength="3" >
                    <div class="help-block" ng-messages="serviceForm.name.$error" ng-if="serviceForm.name.$touched">
                        <div ng-messages-include="app/views/misc/messages.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <div class="inner-addon">
                        <i class="glyphicon glyphicon-file"></i>
                        <input type="text" class="form-control" placeholder="Descriere" id="description" ng-model="item.description" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <p><i>Detalii suplimentare ale serviciului</i></p>
                    <textarea id="message" name="message" class="form-control" rows="3" ng-model="item.details"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <snp-delete ng-show="delete.visible" confirm="delete.confirm()"></snp-delete>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(serviceForm.$dirty)">Cancel</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!serviceForm.$valid">Salvare</button>
                </div>
            </div>
        </div>
        <div ng-include="'app/views/misc/snp-overlay.html'"></div>
    </form>
</div>
