<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta serviciul" id="search" ng-model="searchServices" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-offset-11 voffset2">
            <img src="resources/img/addButton.ico" ng-click="openModal('add')" class="center-block img-circle img-responsive mouseOver" style="height: 2.5rem; width: 2.5rem;" title="Adauga serviciu">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th ng-click="sort('name')" class="span6">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Denumire serviciu
                            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('description')" class="span6">
                            <span class="glyphicon glyphicon-pencil"></span> Descriere
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="service in serviceGroups | filter:searchServices | orderBy:sortKey:reverse  | itemsPerPage: itemsPerPage ">
                        <td>
                            <button class="btn btn-link" ng-click="openModal('edit', service)">
                                {{service.name}}
                            </button>
                        </td>
                        <td>
                            {{service.description}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="itemsPerPage" ng-model="itemsPerPage" class="form-control" title="Pagini">
                        <!-- <option value="999999">Toate ({{serviceGroups.length}})</option> -->
                        <option value="10">10/Pag</option>
                        <option value="17" ng-selected="{{itemsPerPage == 17}}">17/Pag</option>
                        <option value="50">50/Pag</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
