<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm" style="width:100%;">
            <legend>Criterii de selectie pentru facturi si plati</legend>
            <form class="form" role="form" novalidate>
                <div class="row no-gutter">
                    <div class="col-md-11 text-left">
                        <div class="row no-gutter">
                            <div class="col-md-6 text-left">
                                <label>Denumire raport</label>
                                <input type="text" class="form-control" ng-model="reportName" id="reportName" name="reportName" />
                            </div>
                            <div class="col-md-3 text-left">
                                <label>De la</label>
                                <p class="input-group">
                                    <input type="text" id="dateFrom" name="dateFrom" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateFrom" is-open="extended.dateFromIsOpen" enable-time="false" max-date="dateTo" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateFrom')"><i class="fa fa-calendar"></i></button></span>
                                </p>
                            </div>
                            <div class="col-md-3 text-left">
                                <label>Pana la</label>
                                <p class="input-group">
                                    <input type="text" id="dateTo" name="dateTo" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateTo" is-open="extended.dateToIsOpen" enable-time="false" min-date="dateFrom" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateTo')"><i class="fa fa-calendar"></i></button>
                            </span>
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-md-5 text-left">
                                <label>Furnizor</label>
                                <select name="supplierName" id="supplierName" ng-model="supplier" ng-change="hideUnlinked()" class="form-control" ng-options="supplier.name for supplier in suppliers">
                                    <option value="" selected>Toti</option>
                                </select>
                            </div>
                            <div class="col-md-3 text-left">
                                <label>Grupa servicii</label>
                                <select style="display: none;" name="serviceGroupId" id="serviceGroupIdLinked" ng-model="serviceGroup" class="form-control" ng-options="serviceGroup.name for serviceGroup in supplier.services">
                                    <option value="" selected>Toate</option>
                                </select>
                                <select name="serviceGroupId" id="serviceGroupId" ng-model="serviceGroup" class="form-control" ng-options="serviceGroup.name for serviceGroup in supplierServiceGroup | unique:'name'">
                                    <option value="" selected>Toate</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-left">
                                <label>Bloc</label>
                                <select name="buildingName" id="buildingName" ng-model="building" class="form-control" ng-options="building.aliasName for building in buildings">
                                    <option value="" selected>Toate</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-left">
                                <label for="invoiceTypeId">Tip factura</label>
                                <select name="invoiceTypeId" id="invoiceTypeId" ng-model="invoiceType" class="form-control" ng-options="invoiceType.name for invoiceType in invoiceTypes">
                                    <option value="" selected>Toate</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <div class="row no-gutter">
                            <div class="text-center mouseOver" title="Genereaza raport" ng-click="buttonDisabled || generateReport()" ng-disabled="buttonDisabled">
                                <i class="fa fa-files-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="text-center">
                                <p>
                                    <i class="fa fa-trash-o fa-2x mouseOver voffset5 clearFilters" title="Reseteaza filtere" ng-click="clearAll()"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <nvd3 options="options" data="data" api="api"></nvd3>
    <div class="row" id="mainForm" style="display: none">
        <div class="col-md-10" style="float: left;">
            <a class="btn" ng-click="remCols()" id="remCols">Elimina coloane din raport <span class="glyphicon glyphicon-chevron-down" id="remColsIcon"></span></a>
            <div collapse="!isCollapsed">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('nrCrt')"> Nr. crt.
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('operationDT')">Data
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('supplierName')"> Furnizor
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('serviceGroupName')"> Servicii
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('linkNumber')"> Nr. leg.
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('buildingAliasName')"> Bloc
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('invoiceTypeName')">Nr. factura
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('invoiceAmount')"> Valoare factura
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('outAmount')"> Suma platita
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('remainingAmount')"> Rest de plata
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label>Vizualizare</label>
            <p>
                <i class="fa fa-file-pdf-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('pdf')" title="Export PDF"></i>
                <i class="fa fa-file-excel-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('excel')" title="Export XSL"></i>
                <i class="fa fa-bar-chart fa-2x mouseOver" ng-click="nvd3Chart()" title="Incarca chart"></i></p>
        </div>
        <div class="col-xs-12 table-responsive"> <!-- style="max-height: 500px; overflow-y: scroll;" -->
            <table class="table table-striped voffset2 export-table table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th class="nrCrt">
                            <i class="fa fa-truck"></i> Nr. crt.
                        </th>
                        <th class="operationDT">
                            <span class="glyphicon glyphicon-calendar"></span> Data
                        </th>
                        <th class="supplierName">
                            <span class="fa fa-truck"></span> Furnizor
                        </th>
                        <th class="serviceGroupName">
                            <i class="glyphicon glyphicon-shopping-cart"></i> Servicii
                        </th>
                        <th class="linkNumber">
                            <i class="fa fa-calendar-check-o"></i> Nr. leg.
                        </th>
                        <th class="buildingAliasName">
                            <i class="fa fa-building"></i> Bloc
                        </th>
                        <th class="invoiceTypeName">
                            <i class="fa fa-file"></i>Nr. factura
                        </th>
                        <th class="invoiceAmount  text-right">
                            <i class="fa fa-credit-card"></i> Valoare factura
                        </th>
                        <th class="outAmount  text-right">
                            <i class="fa fa-money"></i> Suma platita
                        </th>
                        <th class="remainingAmount  text-right">
                            <i class="fa fa-money"></i> Rest de plata
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="invoice in invoices" ng-style="setRowColor(invoice.statusId)">
                        <td class="nrCrt">
                            <i>{{invoice.crt}}</i>
                        </td>
                        <td class="operationDT">
                            <span>
                                {{invoice.createDT | dateTimeFormat}}
                            </span>
                        </td>
                        <td class="supplierName">
                            <i>{{invoice.supplierName}}</i>
                        </td>
                        <td class="serviceGroupName">
                            <i>{{invoice.serviceGroupName}}</i>
                        </td>
                        <td class="linkNumber">
                            <i>{{invoice.linkNumber}}</i>
                        </td>
                        <td class="buildingAliasName">
                            <i>{{invoice.buildingAliasName}}</i>
                        </td>
                        <td class="invoiceTypeName text-center">
                            <i>{{invoice.externalNumber}}</i>
                        </td>
                        <td class="invoiceAmount text-right">
                            <i>{{invoice.invoiceAmount}}</i>
                        </td>
                        <td class="outAmount text-right">
                            <i>{{invoice.amount}}</i>
                        </td>
                        <td class="remainingAmount text-right">
                            <i>{{invoice.remainingAmount}}</i>
                        </td>
                    </tr>
                    <tr>
                        <td class="nrCrt">
                            <i></i>
                        </td>
                        <td class="operationDT">
                            <span>
                                
                            </span>
                        </td>
                        <td class="supplierName">
                            <i></i>
                        </td>
                        <td class="serviceGroupName">
                            <i></i>
                        </td>
                        <td class="linkNumber">
                            <i></i>
                        </td>
                        <td class="buildingAliasName">
                            <i></i>
                        </td>
                        <td class="invoiceTypeName">
                            <i></i>
                        </td>
                        <td class="invoiceAmount text-right" style="font-weight:bold;">
                            <i>Total: {{getTotalAmount(invoices, 'TOTAL')}}</i>
                        </td>
                        <td class="outAmount text-right" style="font-weight:bold;">
                            <i>Total: {{getTotalAmount(invoices, 'PAID')}}</i>
                        </td>
                        <td class="remainingAmount text-right" style="font-weight:bold;">
                            <i>Total: {{getTotalAmount(invoices, 'REST')}}</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
