<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm" style="width:100%;" s>
            <legend>Criterii de selectie pentru transferuri</legend>
            <form class="form" role="form" novalidate>
                <div class="row no-gutter">
                    <div class="col-md-11 text-left">
                        <div class="row offset">
                            <div class="col-md-4 text-left">
                                <label>Denumire raport</label>
                                <input type="text" class="form-control" ng-model="reportName" id="reportName" name="reportName" />
                            </div>
                            <div class="col-md-2 text-left">
                                <label>De la</label>
                                <p class="input-group">
                                    <input type="text" id="dateFrom" name="dateFrom" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateFrom" is-open="extended.dateFromIsOpen" enable-time="false" max-date="dateTo" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateFrom')"><i class="fa fa-calendar"></i></button></span>
                                </p>
                            </div>
                            <div class="col-md-2 text-left">
                                <label>Pana la</label>
                                <p class="input-group">
                                    <input type="text" id="dateTo" name="dateTo" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateTo" is-open="extended.dateToIsOpen" enable-time="false" min-date="dateFrom" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateTo')"><i class="fa fa-calendar"></i></button>
                            </span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label>Tipul tranzactiei</label>
                                <select name="transferTypeSelect" ng-model="searchTransfersType" class="form-control" ng-options="tt.value for tt in allTransferTypes">
                                </select>
                            </div>
                            <div class="col-md-1 text-left">
                                <label></label>
                                <p>
                                    <i class="fa fa-trash-o fa-2x mouseOver voffset1 clearFilters" title="Reseteaza filtere" ng-click="clearAll()"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <div class="row no-gutter">
                            <div class="text-center mouseOver" title="Genereaza raport" ng-click="buttonDisabled || generateReport()" ng-disabled="buttonDisabled">
                                <i class="fa fa-files-o fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <nvd3 options="options" data="data" api="api"></nvd3>
    <div class="row" id="mainForm" style="display: none">
        <div class="col-md-10" style="float: left;">
            <a class="btn" ng-click="remCols()" id="remCols">Elimina coloane din raport <span class="glyphicon glyphicon-chevron-down" id="remColsIcon"></span></a>
            <div collapse="!isCollapsed">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('crt')"> Nr. Crt
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('operationDT')"> Data transferului
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('account')"> Cont bancar
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('description')"> Descriere
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('linkNumber')"> Nr. Leg.
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('input')">Intrare
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('output')">Iesire
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label class="text-center">Vizualizare</label>
            <p>
                <i class="fa fa-file-pdf-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('pdf')" title="Export PDF"></i>
                <i class="fa fa-file-excel-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('excel')" title="Export XSL"></i>
                <i class="fa fa-bar-chart fa-2x mouseOver" ng-click="nvd3Chart()" title="Incarca chart"></i></p>
        </div>
        
        <div class="row">
            <div class="col-xs-12 table-responsive" > <!-- style="max-height: 500px; overflow-y: scroll;" -->
                <table class="table table-striped voffset2 export-table table-condensed" id="alignedTable">
                    <thead>
                        <tr>
                            <th class="crt">
                                <span class="glyphicon glyphicon-pencil"></span> Nr. Crt
                            </th>
                            <th class="operationDT">
                                <span class="glyphicon glyphicon-calendar"></span> Data
                            </th>
                            <th class="account">
                                <span class="glyphicon glyphicon-credit-card"></span> Cont bancar
                            </th>
                            <th class="description">
                                <span class="glyphicon glyphicon-pencil"></span> Descriere
                            </th>
                            <th class="linkNumber">
                                <span class="glyphicon glyphicon-folder-open"></span> Nr. Leg.
                            </th>
                            <th class="input text-right">
                                <span class="glyphicon glyphicon-download"></span> Intrare
                            </th>
                            <th class="output text-right">
                                <span class="glyphicon glyphicon-upload"></span> Iesire
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transfer in transfers ">
                            <td class="text-center crt">
                                <span>{{transfer.crt}}</span>
                            </td>
                            <td class="operationDT">
                                <i>{{transfer.operationDT  | dateTimeFormat}}</i>
                            </td>
                            <td class="account">
                                <span>{{transfer.account}}</span>
                            </td>
                            <td class="description">
                                <span>{{transfer.description}}</span>
                            </td>
                            </td>
                            <td class="linkNumber">
                                <span>{{transfer.linkNumber}}</span>
                            </td>
                            <td class="input text-right">
                                <span ng-if="transfer.type=='IN'">{{transfer.amount}}</span>
                            </td>
                            <td class="output text-right">
                                <span ng-if="transfer.type=='OUT'">{{transfer.amount}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center crt">
                                <span></span>
                            </td>
                            <td class="operationDT">
                                <i></i>
                            </td>
                            <td class="account">
                                <span></span>
                            </td>
                            <td class="description">
                                <span></span>
                            </td>
                            <td class="linkNumber">
                                <span></span>
                            </td>
                            <td class="input text-right" style="font-weight:bold;">
                                <span>Total: {{getTotalAmount(transfers, 'IN')}}</span>
                            </td>
                            <td class="output text-right" style="font-weight:bold;">
                                <span>Total: {{getTotalAmount(transfers, 'OUT')}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
