<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm" style="width:100%;">
            <legend>Criterii de selectie</legend>
            <form class="form" role="form" novalidate>
                <div class="row no-gutter">
                    <div class="col-md-11 text-left">
                        <div class="row offset">
                            <div class="col-md-4 text-left">
                                <label>Denumire raport</label>
                                <input type="text" class="form-control" ng-model="reportName" id="reportName" name="reportName" />
                            </div>
                            <div class="col-md-3 text-left">
                                <label>De la</label>
                                <p class="input-group">
                                    <input type="text" id="dateFrom" name="dateFrom" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateFrom" is-open="extended.dateFromIsOpen" enable-time="false" max-date="dateTo" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateFrom')"><i class="fa fa-calendar"></i></button>
                        </span>
                                </p>
                            </div>
                            <div class="col-md-3 text-left">
                                <label>Pana la</label>
                                <p class="input-group">
                                    <input type="text" id="dateTo" name="dateTo" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateTo" is-open="extended.dateToIsOpen" enable-time="false" min-date="dateFrom" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateTo')"><i class="fa fa-calendar"></i></button>
                            </span>
                                </p>
                            </div>
                            <div class="col-md-1 text-left">
                                <label></label>
                                <p>
                                    <i class="fa fa-trash-o fa-2x mouseOver voffset1 clearFilters" title="Reseteaza filtere" ng-click="clearAll()"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <div class="row no-gutter">
                            <div class="text-center mouseOver" title="Genereaza raport" ng-click="buttonDisabled || generateReport()" ng-disabled="buttonDisabled">
                                <i class="fa fa-files-o fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <nvd3 options="options" data="data" api="api"></nvd3>
    <div class="row" id="mainForm" style="display: none;">
        <div class="col-md-10">
            <a class="btn" ng-click="remCols()" id="remCols">Elimina coloane din raport <span class="glyphicon glyphicon-chevron-down" id="remColsIcon"></span></a>
            <div class="topbar" style="display:none">
                <table class=class="table table-striped voffset2 table-condensed" id="alignedTable">
                    <tbody>
                        <tr>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('crt')">Nr. Crt.
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('operationDT')">Data operatiune
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('description')">Explicatii
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('linkNumber')">Nr. Leg.
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('input')">Val. Intrare
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('output')">Val. Iesire
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('sold')"> Sold curent
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label>Vizualizare</label>
            <p>
                <i class="fa fa-file-pdf-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('pdf')" title="Export PDF"></i>
                <i class="fa fa-file-excel-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('excel')" title="Export XSL"></i>
                <i class="fa fa-bar-chart fa-2x mouseOver" ng-click="nvd3Chart()" title="Arata chart"></i></p>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive" > <!-- style="max-height: 500px; overflow-y: scroll;" -->
                <table class="table table-striped voffset2 export-table table-condensed">
                    <thead>
                        <tr>
                            <th class="crt">
                                <span class="glyphicon glyphicon-pencil text-right"></span> Nr. Crt
                            </th>
                            <th class="operationDT">
                            <span class="glyphicon glyphicon-calendar"></span> Data
                                <!-- <span class="glyphicon glyphicon-download"></span>Data operatiune<span class="glyphicon glyphicon-upload"></span> -->
                            </th>
                            <th class="description">
                                <span class="glyphicon glyphicon-pencil"></span> Explicatii
                            </th>
                            <th class="linkNumber">
                                <span class="glyphicon glyphicon-folder-open"></span> Nr. Leg.
                            </th>
                            <th class="input text-right">
                                <span class="glyphicon glyphicon-download"></span> Val. Intrare
                            </th>
                            <th class="output text-right">
                                <span class="glyphicon glyphicon-upload"></span> Val. Iesire
                            </th>
                            <th class="sold text-right">
                                <span class="glyphicon glyphicon-pencil"></span> Sold curent
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center crt">
                                <span></span>
                            </td>
                            <td class="operationDT">
                                <span></span>
                            </td>
                            <td class="description">
                                <span></span>
                            </td>
                            <td class="linkNumber">
                                <span></span>
                            </td>
                            <td class="input text-right" style="font-weight:bold;">
                                <span></span>
                            </td>
                            <td class="output text-right" style="font-weight:bold;">
                                <span></span>
                            </td>
                            <td class="sold text-right" style="font-weight:bold;">
                                <span>
                                    <span>Balanta initiala perioada selectata: {{overview[overview.length-1].grandInitialTotalAmount}}</span>
                                </span>
                            </td>
                        </tr>
                        <tr ng-repeat="ovr in overview">
                            <td class="text-center crt">
                                <span>{{ovr.crt}}</span>
                            </td>
                            <td class="operationDT">
                                <span>
                                {{ovr.operationDT | dateTimeFormatLite}}
                            </span>
                            </td>
                            <td class="description">
                                <span ng-if="ovr.supplier">Furnizor: {{ovr.supplier}} </span>
                                <span ng-if="ovr.client">Client: {{ovr.client}} </span>
                                <span ng-if="ovr.description">Transfer: {{ovr.description}}</span>
                            </td>
                            <td class="linkNumber">
                                <span>{{ovr.linkNumber}}</span>
                            </td>
                            <td class="input text-right">
                                <span>{{toPositive(ovr.inAmount)}}</span>
                            </td>
                            <td class="output text-right">
                                <span>{{toPositive(ovr.outAmount)}}</span>
                            </td>
                            <td class="sold text-right">
                                <i>{{ovr.sold}}</i>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center crt">
                                <span></span>
                            </td>
                            <td class="operationDT">
                                <span></span>
                            </td>
                            <td class="description">
                                <span></span>
                            </td>
                            <td class="linkNumber">
                                <span></span>
                            </td>
                            <td class="input text-right" style="font-weight:bold;">
                                <span></span>
                            </td>
                            <td class="output text-right" style="font-weight:bold;">
                                <span></span>
                            </td>
                            <td class="sold text-right" style="font-weight:bold;">
                                <span>
                                    <span>Sold curent: {{overview[overview.length-1].sold}}</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center crt">
                                <span></span>
                            </td>
                            <td class="operationDT">
                                <span></span>
                            </td>
                            <td class="description">
                                <span></span>
                            </td>
                            <td class="linkNumber">
                                <span></span>
                            </td>
                            <td class="input text-right" style="font-weight:bold;">
                                <span>Total intrare perioada selectata: {{overview[overview.length-1].inTotalAmount}}</span>
                            </td>
                            <td class="output text-right" style="font-weight:bold;">
                                <span>Total iesire perioada selectata: {{toPositive(overview[overview.length-1].outTotalAmount)}}</span>
                            </td>
                            <td class="sold text-right" style="font-weight:bold;">
                                <span>
                                    <span>Balanta perioada selectata: {{overview[overview.length-1].grandTotalAmount}}</span>
                                </span>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
