<div class="row-fluid">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked text-center mouseOver">
            <li role="presentation" ng-class="setActiveClass('app.reports.overview')">
                <a ng-click="navigateToState('app.reports.overview')">
                    <i class="fa fa-file-text-o fa-2x"></i></i>
                    </i> Raportare generala
                </a>
            </li>
            <li role="presentation" ng-class="setActiveClass('app.reports.transfers')">
                <a ng-click="navigateToState('app.reports.transfers')">
                    <i class="fa fa-file-pdf-o fa-2x"></i> Transferuri
                </a>
            </li>
            <li role="presentation" ng-class="setActiveClass('app.reports.incoms')">
                <a ng-click="navigateToState('app.reports.incoms')">
                    <i class="fa fa-file-word-o fa-2x"></i> Intrari clienti
                </a>
            </li>
            <li role="presentation" ng-class="setActiveClass('app.reports.invoices')">
                <a ng-click="navigateToState('app.reports.invoices')">
                    <i class="fa fa-file-powerpoint-o fa-2x"></i> Facturi / Plati
                </a>
            </li>
        </ul>
    </div>
    <div ui-view class="col-sm-10">
        <table width=100% height=100%>
            <tr>
                <H5 style="text-align: center; vertical-align: middle;">
            <p class="lead"><b><i>Raportari</i></b>
                <ul class="list-unstyled" style="line-height: 2">
                    <li><span class="fa fa-check text-success"></span> Vizualizarea raportarii generale pe un anumit interval de timp</li>
                    <li><span class="fa fa-check text-success"></span> Raportari legate strict de intrarile de la clienti</li>
                    <li><span class="fa fa-check text-success"></span> Raportarea transferurilor bancare din/in conturi proprii</li>
                    <li><span class="fa fa-check text-success"></span> Raportarea separata a platilor si facturilor, pe diverse criterii de selectie</li>
                    <li><span class="fa fa-check text-success"></span> Diagrame personalizate pe fiecare tip de raportare</li>
                </ul>
            </p>

                </H3>
                <td class="height" style="text-align: center; vertical-align: middle;">
                    <img src="resources/img/fpsLogo.png" width=100 height=100 />
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
</div>
