<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm" style="width:100%;">
            <legend>Criterii de selectie pentru intrarile de la clienti</legend>
            <form class="form" role="form" novalidate>
                <div class="row no-gutter">
                    <div class="col-md-11 text-left">
                        <div class="row offset">
                            <div class="col-md-3 text-left">
                                <label>Denumire raport</label>
                                <input type="text" class="form-control" ng-model="reportName" id="reportName" name="reportName" />
                            </div>
                            <div class="col-md-2 text-left">
                                <label>De la</label>
                                <p class="input-group">
                                    <input type="text" id="dateFrom" name="dateFrom" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateFrom" is-open="extended.dateFromIsOpen" enable-time="false" max-date="dateTo" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateFrom')"><i class="fa fa-calendar"></i></button>
                        </span>
                                </p>
                            </div>
                            <div class="col-md-2 text-left">
                                <label>Pana la</label>
                                <p class="input-group">
                                    <input type="text" id="dateTo" name="dateTo" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="extended.dateOptions" ng-model="dateTo" is-open="extended.dateToIsOpen" enable-time="false" min-date="dateFrom" datepicker-append-to-body="true" />
                                    <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="extended.openCalendar($event, 'dateTo')"><i class="fa fa-calendar"></i></button>
                            </span>
                                </p>
                            </div>
                            <div class="col-md-2 text-left">
                                <label>Bloc</label>
                                <select name="buildingName" id="buildingName" ng-model="building" class="form-control" ng-options="building.aliasName for building in buildings">
                                    <option value="" selected>Toate</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-left">
                                <label for="apTypeId">Tip apartament</label>
                                <select name="apTypeId" id="apTypeId" ng-model="apType" class="form-control" ng-options="apartment.apType for apartment in apartments | unique:'apType'">
                                    <option value="" selected>Toate</option>
                                </select>
                            </div>
                            <div class="col-md-1 text-left">
                                <label></label>
                                <p>
                                    <i class="fa fa-trash-o fa-2x mouseOver voffset1 clearFilters" title="Reseteaza filtere" ng-click="clearAll()"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <div class="row no-gutter">
                            <div class="text-center mouseOver" title="Genereaza raport" ng-click="buttonDisabled || generateReport()" ng-disabled="buttonDisabled">
                                <i class="fa fa-files-o fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <nvd3 options="options" data="data" api="api"></nvd3>
    <div class="row" id="mainForm" style="display: none">
        <div class="col-md-10" style="float: left;">
            <a class="btn" ng-click="remCols()" id="remCols">Elimina coloane din raport <span class="glyphicon glyphicon-chevron-down" id="remColsIcon"></span></a>
            <div collapse="!isCollapsed">
                <table class="table" id="alignedTable">
                    <tbody>
                        <tr>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('crt')"> Nr Dosar
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('operationDT')"> Data
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('client')"> Nume Client
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('apType')"> Tip Apt.
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('building')"> Bloc
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('dosar')"> Nr. Dosar
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('nrLeg')"> Nr. Leg.
                            </td>
                            <td style="text-align: center; padding: 15px;">
                                <input type="checkbox" ng-click="hide('valoare')"> Valoare (LEI)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label>Vizualizare</label>
            <p>
                <i class="fa fa-file-pdf-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('pdf')" title="Export PDF"></i>
                <i class="fa fa-file-excel-o fa-2x mouseOver" style="margin-right:10px;" ng-click="exportAction('excel')" title="Export XSL"></i>
                <i class="fa fa-bar-chart fa-2x mouseOver" ng-click="nvd3Chart()" title="Incarca chart"></i></p>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive"> <!-- style="max-height: 500px; overflow-y: scroll;" -->
                <table class="table table-striped voffset2 export-table table-condensed" id="alignedTable">
                    <thead>
                        <tr>
                            <th class="crt">
                                <span> Nr. Crt.</span>
                            </th>
                            <th class="operationDT">
                                <span class="glyphicon glyphicon-calendar"></span> Data
                            </th>
                            <th class="client">
                                <span class="glyphicon glyphicon-pencil"></span> Nume client
                            </th>
                            <th class="apType">
                                <span class="glyphicon glyphicon-home" title="Tip Apt." tooltip-append-to-body="true"></span>
                            </th>
                            <th class="building">
                                <i class="fa fa-building-o" title="Cladire" tooltip-append-to-body="true"></i>
                            </th>
                            <th class="dosar">
                                <span class="glyphicon glyphicon-user"></span> Nr. Dosar
                            </th>
                            <th class="nrLeg">
                                <span class="glyphicon glyphicon-piggy-bank"></span> Nr. Leg.
                            </th>
                            <th class="valoare  text-right">
                                <i class="fa fa-money"></i> Valoare (LEI)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="income in incoms">
                            <td class="text-center crt">
                                <span>{{income.crt}}</span>
                            </td>
                            <td class="operationDT">
                                <span>
                                {{income.operationDT | dateTimeFormat}}
                            </span>
                            </td>
                            <td class="text-center client">
                                <span>{{income.client}}</span>
                            </td>
                            <td class="text-center apType">
                                <span>{{income.apType}}</span>
                            </td>
                            <td class="text-center building">
                                <span>{{income.buildingName}}</span>
                            </td>
                            <td class="dosar text-center">
                                <span>{{income.caseNumber}}</span>
                            </td>
                            <td class="nrLeg text-center">
                                <span>{{income.linkNumber}}</span>
                            </td>
                            <td class="text-right valoare">
                                <span>{{income.amount}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center crt">
                                <span></span>
                            </td>
                            <td class="operationDT">
                                <span></span>
                            </td>
                            <td class="text-center client">
                                <span></span>
                            </td>
                            <td class="text-center apType">
                                <span></span>
                            </td>
                            <td class="text-center building">
                                <span></span>
                            </td>
                            <td class="dosar">
                                <span></span>
                            </td>
                            <td class="nrLeg">
                                <span></span>
                            </td>
                            <td class="text-right valoare" style="font-weight: bold;">
                                <i>Total: {{getTotalAmount(incoms)}}</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
