<div class="container-fluid" style="padding-top: 6rem">
	<div class="row no-gutter">
		<div class="col-md-3 col-xs-10 text-center">
			<h4><span class="fa fa-users fa-lg" aria-hidden="true"></span> Profit & Loss <b>(&beta;)</b></h4>
		</div>
		<div class="col-sm-7"></div>
		<div class="col-sm-1" class="text-right">
			<snp-excel process-data="$ctrl.processData(data)" show-error="$ctrl.showError(error)"></snp-excel>
		</div>
		<div class="col-md-1 text-center">
			<button class="btn btn-success" ng-click="$ctrl.save()" ng-disabled="!$ctrl.pnlFile || $ctrl.pnlFile.id || !$ctrl.pnlFile.extended.isValidForSaving || $ctrl.savingInProgress">
                <span class="fa fa-save"></span> Salvare
            </button>
			<button type="button" class="btn btn-danger" ng-if="$ctrl.pnlFile && $ctrl.pnlFile.extended.hasInvalidPnls" ng-model="$ctrl.pnlFile.extended.showOnlyInvalidPnls"
			 uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                <span class="fa fa-filter" uib-tooltip="Arata intrari invalide" tooltip-append-to-body="true" tooltip-placement="bottom">
            </button>
		</div>
	</div>
	<div class="row no-gutter" style="margin-top: 2rem; overflow:hidden;">
		<div class="col-md-4 text-center">
			<div class="row">
				<div class="icon-addon" style="margin-left: 15rem;margin-right: 15rem;">
					<span class="fa fa-search"></span>
					<input type="text" class="form-control" placeholder="Cauta fisier productie" id="search" ng-model="$ctrl.searchPnlFile" ng-model-options="{ debounce: 1000 }"
					 autocomplete="off" />
				</div>
			</div>
			<div class="table-responsive">
				<table class="table voffset1 table-condensed table-hover" id="alignedTable" style="margin-top: 1rem;">
					<thead>
						<tr>
							<th style="text-align:center; width:35%;" ng-click="$ctrl.sortFile('importDate', 'D')">
								<i class="fa fa-calendar" aria-hidden="true"></i> Data fisier
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsFile.key=='importDate'" ng-class="$ctrl.sortOptionsFile.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsFile.key!='importDate'"></span>
							</th>
							<th style="text-align:center; ; width:50%;" ng-click="$ctrl.sortFile('name')">
								<span class="fa fa-pencil"></span> Denumire
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsFile.key=='name'" ng-class="$ctrl.sortOptionsFile.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsFile.key!='name'"></span>
							</th>
							<th style="text-align:right;">
								<span class="fa fa-cogs "></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="pnlFile in $ctrl.pnlFiles | filterByMatchingFields: $ctrl.searchPnltFile : 'importDate' : 'name' | orderBy:$ctrl.customSorterFile:$ctrl.sortOptionsFile.reverse | itemsPerPage: 30"
						 pagination-id="paginationPnlFiles" ng-class="{'info':pnlFile.id === $ctrl.pnlFile.id}">
							<td style="text-align:center; width:35%;">
								<i class="fa fa-info-circle fa-md mouseOver" style="color:blue;" ng-if="pnlFile.createdAt" uib-tooltip='Importat in data {{pnlFile.createdAt | date:"dd-MM-yyyy HH:mm"}} de utilizatorul "{{pnlFile.User.name}}"'
								 tooltip-append-to-body="true" tooltip-placement="right"></i>
								<button class="btn btn-link" ng-click="$ctrl.selectFile(pnlFile)">
                                    {{pnlFile.importDate | date:'dd-MM-yyyy HH:mm'}}
                                </button>
							</td>
							<td class="textOverflow" style="overflow: hidden; text-overflow: ellipsis; text-align:center; ; width:50%;">
								{{pnlFile.name}}
							</td>
							<td class="text-right">
								<snp-delete confirm="$ctrl.deletePnlFile(pnlFile)" size="btn-sm"></snp-delete>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationPnlFiles">
					</dir-pagination-controls>
				</div>
			</div>
		</div>

		<div class="col-md-8 text-center">
			<div class="row text-center" ng-if="!$ctrl.pnlFile" style="margin-top:15rem;">
				<h3>Selectati un fisier de realizari productie din lista pentru a ii vedea detaliile,<br> sau incarcati un fisier de productie
					nou pentru salvare
				</h3>
			</div>
			<div class="row" ng-if="$ctrl.pnlFile">
				<div class="col-sm-9">
					<h4>
						Detalii fisier <i><b>{{$ctrl.pnlFile.name}}</b></i> din <i><b>{{$ctrl.pnlFile.importDate | date:'dd-MM-yyyy HH:mm'}}</b>
                        </i>
					</h4>
				</div>
				<div class="col-md-3 text-center">
					<div class="icon-addon" style="margin-right:4rem">
						<span class="fa fa-search"></span>
						<input type="text" class="form-control" placeholder="Cauta detalii in fisierul de productie" id="search" ng-model="$ctrl.searchPnl"
						 autocomplete="off" />
					</div>
				</div>
			</div>
			<div class="table-responsive" style="margin-left:1rem;" ng-if="$ctrl.pnlFile">
				<table class="table table-striped voffset1 table-condensed table-hover" id="alignedTable">
					<thead>
						<tr>
							<th ng-click="$ctrl.sortPnl('account')" class="text-center mouseOver">
								<i class="fa fa-credit-card-o" aria-hidden="true"></i> Account
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsPnl.key=='account'" ng-class="$ctrl.sortOptionsPnl.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsPnl.key!='account'"></span>
							</th>
							<th ng-click="$ctrl.sortPnl('postingDateTime', 'D')" class="text-center mouseOver">
								<i class="fa fa-credit-card" aria-hidden="true"></i> Posting Date
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsPnl.key=='postingDateTime'" ng-class="$ctrl.sortOptionsPnl.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsPnl.key!='postingDateTime'"></span>
							</th>
							<th ng-click="$ctrl.sortPnl('amount')" class="text-center mouseOver">
								<i class="fa fa-money" aria-hidden="true"></i> Amount
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsPnl.key=='amount'" ng-class="$ctrl.sortOptionsPnl.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsPnl.key!='amount'"></span>
							</th>
							<!--<th ng-click="$ctrl.sortPnl('currency')" class="text-center mouseOver">
								<i class="fa fa-pencil" aria-hidden="true"></i> Currency
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsPnl.key=='currency'" ng-class="$ctrl.sortOptionsPnl.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsPnl.key!='currency'"></span>
							</th>-->
							<th ng-click="$ctrl.sortPnl('costCenter')" class="text-center mouseOver">
								<i class="fa fa-align-center" aria-hidden="true"></i> Cost Center
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsPnl.key=='costCenter'" ng-class="$ctrl.sortOptionsPnl.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsPnl.key!='costCenter'"></span>
							</th>
							<!--<th ng-click="$ctrl.sortPnl('costCenterName')" class="text-center mouseOver">
								<span class="fa fa-pencil"></span> Denumire Cost center
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsPnl.key=='costCenterName'" ng-class="$ctrl.sortOptionsPnl.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsPnl.key!='costCenterName'"></span>
							</th>-->
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="pnl in $ctrl.pnlFile.pnls | filter : ($ctrl.pnlFile.extended.showOnlyInvalidPnls || '') && !(pnl.extended.message.length === 0) | 
						filterByMatchingFields: $ctrl.searchPnl : 'account' : 'postingDateTime' : 'amount' : 'costCenter' : 'currency' | 
						orderBy:$ctrl.customSorterPnl:$ctrl.sortOptionsPnl.reverse | itemsPerPage: 50"
						 pagination-id="paginationPnls" ng-class="{danger: pnl.extended.message}" title="{{pnl.extended.message}}">
							<td>
								{{pnl.account}}
							</td>
							<td>
								{{pnl.postingDateTime | date:'dd-MM-yyyy'}}
							</td>
							<td>
								{{pnl.amount | number}}
							</td>
							<!--<td>
								{{pnl.currency}}
							</td>-->
							<td>
								{{pnl.costCenter}}
							</td>
							<!--<td>
								{{pnl.costCenterName}}
							</td>-->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row" ng-if="$ctrl.pnlFile">
				<div class="col-xs-12 text-center">
					<dir-pagination-controls max-size="30" direction-links="true" boundary-links="true" pagination-id="paginationPnls">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>