<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-3 col-xs-10 text-center">
            <h4><span class="fa fa-object-group" aria-hidden="true"></span> Customizare grupa de materiale</h4>
        </div>
        <div class="col-md-2 col-xs-10">
            <div class="icon-addon">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Cauta grupa de materiale" id="search" ng-model="$ctrl.searchMaterialGroup"
                    autocomplete="off" />
            </div>
        </div>
        <div class="col-md-5 text-right">
            <span class="fa fa-plus-circle fa-3x mouseOver" ng-click="$ctrl.openModal('add')" uib-tooltip="Adauga grupa materiale" style="color:green;"
                tooltip-append-to-body="true"></span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row no-gutter">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 table-responsive">
            <table class="table table-striped voffset1 table-condensed">
                <thead>
                    <tr class="mouseOver">
                        <th style="width: 80px!important;" class="text-center" ng-click="$ctrl.sort('active')">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='active'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='active'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('code')" style="width:8rem;">
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Cod
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='code'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='code'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('name')" style="width:25rem;">
                            <span class="fa fa-pencil"></span> Denumire grupa de materiale
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='name'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='name'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('sector.name')" class="text-center" style="width:25rem;">
                            <span class="fa fa-sitemap"></span> Sector
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='sector.name'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='sector.name'"></span>
                        </th>
                        </th>
                        <th ng-click="$ctrl.sort('position')" class="text-center">
                            <span class="fa fa-list-ul"></span> Pozitie
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='position'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='position'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('description')">
                            <span class="fa fa-file-text-o"></span> Descriere
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='description'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='description'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('details')">
                            <span class="fa fa-align-center"></span> Detalii
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='details'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='details'"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="materialGroup in $ctrl.materialGroups | filterByMatchingFields: $ctrl.searchMaterialGroup : 'code' : 'name' : 'description' : 'details' : 'sector.name' : 'position' | orderBy:$ctrl.customSorter:$ctrl.sortOptions.reverse | itemsPerPage: 20"
                        pagination-id="paginationMaterialGroups">
                        <td class="text-center">
                            <label title="Activ/Inactiv">
                                <i class="fa fa-check" ng-class="materialGroup.active ? 'fa-check' : 'fa-minus'" aria-hidden="true"></i>
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="$ctrl.openModal('edit', materialGroup)">
                                {{materialGroup.code}}
                            </button>
                        </td>
                        <td>
                            {{materialGroup.name}}
                        </td>
                        <td class="text-center">
                            {{materialGroup.sector.name}}
                        </td>
                        <td class="text-center">
                            {{materialGroup.position}}
                        </td>
                        <td class="text-center">
                            {{materialGroup.description}}
                        </td>
                        <td class="text-center">
                            {{materialGroup.details}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationMaterialGroups">
            </dir-pagination-controls>
        </div>
    </div>
</div>