<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-3 col-xs-10 text-center">
            <h4><span class="fa fa-sitemap" aria-hidden="true"></span> Customizare grupari costuri si bugete</h4>
        </div>
        <div class="col-md-2 col-xs-10">
            <!--<div class="icon-addon">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Cauta sector " id="search" ng-model="$ctrl.searchSector" autocomplete="off"
                />
            </div>-->
        </div>
        <div class="col-md-5 text-right">
            <span class="fa fa-plus-circle fa-3x mouseOver" ng-click="$ctrl.openModal('add')" uib-tooltip="Asigneaza costuri" style="color:green;"
                tooltip-append-to-body="true"></span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row no-gutter">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 table-responsive">
        </div>
    </div>
</div>