<div snp-esc="cancel(form.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(form.$dirty)">×</a>
        <h4 class="modal-title text-center">{{title}}</h4>
    </div>
    <form name="form" role="form" ng-submit="save()" novalidate>
        <div class="modal-body">
            <div class="form-inline">
                <div class="row no-gutter">
                    <div class="col-xs-12 text-center" style="text:inline;"> <label required="required" class="control-label" style="font-size: large;">Costul</label>
                        <select ng-model="item.child" required="required"></select><label required="required" class="control-label" style="font-size: large;"> are parintele</label> 
                        <select ng-model="item.parent" required="required"></select><label required="required" class="control-label" style="font-size: large;"> pe pozitia</label>  
                        <input type="number" style="width:5rem;" class="form-control" name="position" id="position" ng-model="item.position" required="required" autofocus
                            autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <snp-delete ng-show="delete.visible" confirm="delete.confirm()" size="btn-sm"></snp-delete>
                </div>
                <div class="col-xs-8 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(form.$dirty)"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Anulare</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!form.$valid"><span class="fa fa-save"></span> Salvare</button>
                </div>
            </div>
            <div ng-include="'snp-overlay.html'"></div>
        </div>
    </form>
</div>