<div>
    <div class="row" ng-repeat="p in __userFiles | filter : { name : '!!' }">
        <div class="col-xs-8">
            <ul class="list-inline">
                <li>
                    <snp-delete confirm="removeFile(p)" ng-disabled="p.percent !== 100" size="btn-xs"></snp-delete>
                </li>
                <li>{{ p.name }}</li>
            </ul>
        </div>
        <div class="col-xs-3">
            <div class="progress" ng-hide="p.percent == 100">
                <div class="progress-bar" style="width: {{ p.percent }}%;"><span class="sr-only">{{ p.percent }}%</span></div>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary"><i class="fa fa-upload"></i> Adauga fisiere noi</button>
            <input name="snp-upload-input" style="display:none" type="file" multiple="multiple">
        </div>
    </div>
</div>
