@import '~bootstrap/dist/css/bootstrap.css';
/*@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");*/
@import '~font-awesome/css/font-awesome.css';
@import '~angular-toastr/dist/angular-toastr.min.css';

.hidden {
    display: none;
}

/*Overlay for dirty forms - Begin*/

 .wordwrap {
     white-space: pre-wrap;
     /* CSS3 */
     white-space: -moz-pre-wrap;
     /* Firefox */
     white-space: -pre-wrap;
     /* Opera <7 */
     white-space: -o-pre-wrap;
     /* Opera 7 */
     word-wrap: break-word;
     /* IE */
 }

 .snp-overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.9);
     z-index: 50;
     /*    position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
    height: calc(100% + 64px);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);*/
 }

 .snp-overlay .snp-content {
     background: #FFF;
     width: 300px;
     margin: 0 auto;
     position: relative;
     top: 200px;
     padding-bottom: 25px;
     border: 5px solid;
     z-index: 100;
 }

 .reveal-if-active {
     opacity: 0;
     max-height: 0;
     overflow: hidden;
 }
 /*Overlay for dirty forms - End*/


/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import '~font-awesome/css/font-awesome.css';

/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.6.3') format('woff'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyphicon-bed:before {
  content: "\e219";
}

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Component styles are injected through gulp */
/* inject:css */
@import 'achievement/achievement.css';
@import 'admin/admin.css';
@import 'customizing/budget-line/budget-line.css';
@import 'customizing/cost-center/cost-center.css';
@import 'customizing/cost-grouping/cost-grouping.css';
@import 'customizing/customizing.css';
@import 'customizing/material-group/material-group.css';
@import 'customizing/sector/sector.css';
@import 'main/main.css';
@import 'my-account/my-account.css';
@import 'pnl/pnl.css';
@import 'report-profit-loss/report-profit-loss.css';
@import 'report/report.css';
@import 'sell-volume/sell-volume.css';
@import 'stuli/stuli.css';
@import '../components/footer/footer.css';
@import '../components/modal/modal.css';
@import '../components/util/snpDelete/snpDelete.css';
/* endinject */


/* cust nav-bar */
#cust-nav.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#cust-nav.navbar-default {
    font-size: 16px;
    background-color: rgba(195, 224, 235, 1);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(195, 224, 235, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(195, 224, 235, 1) 100%);
    border-bottom-width: 1px;
}
#cust-nav.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    /*background-color: rgba(130, 34, 34, 1);*/
}
#cust-nav.navbar-default .navbar-nav>li>a:hover,
#cust-nav.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(227, 215, 215, 1);
    background: -webkit-linear-gradient(top, rgba(152, 172, 214, 1) 0%, rgba(227, 215, 215, 1) 100%);
    background: linear-gradient(to bottom, rgba(152, 172, 214, 1) 0%, rgba(227, 215, 215, 1) 100%);
}
#cust-nav.navbar-default .navbar-nav>.active>a,
#cust-nav.navbar-default .navbar-nav>.active>a:hover,
#cust-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(227, 227, 227, 1);
    background: -webkit-linear-gradient(top, rgba(177, 200, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: linear-gradient(to bottom, rgba(177, 200, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
}
#cust-nav.navbar-default .navbar-toggle {
    border-color: #e3e3e3;
}
#cust-nav.navbar-default .navbar-toggle:hover,
#cust-nav.navbar-default .navbar-toggle:focus {
    background-color: #e3e3e3;
}
#cust-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #e3e3e3;
}
#cust-nav.navbar-default .navbar-toggle:hover .icon-bar,
#cust-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #c3e0eb;
}

/*.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8e44ad;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
  border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
}*/

/*cust nav-bar end*/

 @media print {
    nav {
        display: none;
    }
    img {
        display: none;
    }
    div.print-hidden {
        display: none!important;
    }
    div.print-visible {
        display: block!important;
    }
    div.printable {
        margin: 0 0 0 0;
        top: 0;
        left: 0;
        display: block;
        zoom:1.1;
    }
    @page {
        size: portrait;
    }
}

 .noMarginTop{
    margin-top: 0px;
 }

  .noMarginBottom{
    margin-top: 0px!important;
 }

   .form-group-no-margin{
    margin-top: 0px!important;
 }

 .clearDisabledInput {
     background: transparent!important;
     border-style: none!important;
 }

  .fixedImg1 {
/*     width: 40px!important;*/
     height: 40px!important;
     float: left;
     margin: 3px;
     padding: 3px;
 }
 .fixedImg2 {
     width: 40px!important;
     height: 40px!important;
     float: left;
     margin: 3px;
     padding: 3px;
 }

 .large-Modal .modal-dialog {
     width: 1100px;
     /*  position: absolute;*/
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto
 }
 /*align elements within a table row -begin*/

 td {
     height: 10px;
 }

 #alignedTable td {
     vertical-align: middle;
 }
 /*align elements within a table row - end*/
 /*.alert-success {
    color: green!important;
    background-color: green!important;
}*/
 /*headers and footers begin*/

 #header {
     width: 100%;
     position: fixed;
     height: 75px;
 }

 #footer {
     height: auto;
     width: 100%;
 }

 body {
     /*zoom:2;*/
     background-color: #F8F8FF!important;
 }
 /*headers and footers end*/
 /*custom navbar begin*/

 .nav-list {
     list-style: none;
     font-size: medium;
         border-radius: 0;
 }

 .nav-list a {
     color: black;
 }

 .nav-list a:hover,
 a:visited,
 a:link,
 a:active {
     text-decoration: none;
     transition: color 0.3s ease-out;
     color: inherit;
         border-radius: 0;
 }

 .nav-list li {
     position: relative;
     display: inline-block;
     margin: 5px;
     font-weight: bolder;
         border-radius: 0;
 }

 .method:after,
 .method:before,
 .method a:after,
 .method a:before {
     background-color: #85C3E9;
     color: #85C3E9;
 }

 .method:hover {
     color: #85C3E9;
 }

 .nav-list li:after,
 .nav-list li:before,
 .nav-list a:before,
 .nav-list a:after {
     position: absolute;
     content: '';
       border-radius: 0;
 }

 .nav-list li:after,
 .nav-list li:before {
     bottom: -4px;
     height: 4px;
 }

 .nav-list li:not(.selected):before {
     left: 0;
     right: -2px;
 }

 .nav-list li.selected:after {
     left: 0;
     right: 39px;
 }

 .nav-list li.selected:before {
     right: -2px;
     width: 13px;
 }

 .nav-list .selected a:before {
     height: 22px;
     width: 4px;
     bottom: -22px;
     right: 7px;
 }

 .nav-list .selected a:after {
     height: 4px;
     width: 40px;
     bottom: -13px;
     right: 5px;
     transform: rotate(30deg);
     z-index: 1!important;
 }

 .wrapper {
     width: auto;
     margin: 0 auto;
     z-index: 2;
     margin-top: 5px;
     margin-bottom: 20px;
     cursor: pointer;
 }

 h1 {
     text-align: center;
     padding-bottom: .5em;
 }

 h1:hover {
     color: #ECECEC;
 }

 footer {
     margin-top: 5em;
     float: right;
     font-size: .7em;
 }

 footer a {
     color: #79B1D4;
     text-decoration: none;
 }

 footer a:hover {
     color: #ECECEC;
 }

 .red {
     color: #F27132;
 }
 /*navbar end*/

 .no-padding {
     padding: 3px 6px!important;
 }

 .inputExtended {
     margin-left: -28px;
     margin-right: 0px;
     width: 130%;
 }
 /*.dimScreen {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}*/

 html,
 body {
     height: 100%;
     margin: 0;
 }

 input[type='number'] {
     -moz-appearance: textfield;
 }
 /*Remove arrows in numbr field - End*/

 .inputFieldClear {
     position: absolute;
     right: 8px;
     top: 0;
     bottom: 0;
     height: 14px;
     margin: auto;
     font-size: 10px;
     cursor: pointer;
 }
 /**/

 .center-block {
     float: none;
     margin-left: auto;
     margin-right: auto;
 }

 .input-group .icon-addon .form-control {
     border-radius: 0;
 }

 .icon-addon {
     position: relative;
     color: #555;
     display: block;
 }

 .icon-addon:after,
 .icon-addon:before {
     display: table;
     content: " ";
 }

 .icon-addon:after {
     clear: both;
 }

 .icon-addon.addon-md .glyphicon,
 .icon-addon .glyphicon,
 .icon-addon.addon-md .fa,
 .icon-addon .fa {
     position: absolute;
     z-index: 2;
     left: 10px;
     font-size: 14px;
     width: 20px;
     margin-left: -2.5px;
     text-align: center;
     padding: 10px 0;
     top: 1px
 }

 .icon-addon.addon-lg .form-control {
     line-height: 1.33;
     height: 46px;
     font-size: 18px;
     padding: 10px 16px 10px 40px;
 }

 .icon-addon.addon-sm .form-control {
     height: 30px;
     padding: 5px 10px 5px 28px;
     font-size: 12px;
     line-height: 1.5;
 }

 .icon-addon.addon-lg .fa,
 .icon-addon.addon-lg .glyphicon {
     font-size: 18px;
     margin-left: 0;
     left: 11px;
     top: 4px;
 }

 .icon-addon.addon-md .form-control,
 .icon-addon .form-control {
     padding-left: 30px;
     float: left;
     font-weight: normal;
 }

 .icon-addon.addon-sm .fa,
 .icon-addon.addon-sm .glyphicon {
     margin-left: 0;
     font-size: 12px;
     left: 5px;
     top: -1px
 }

 .icon-addon .form-control:focus + .glyphicon,
 .icon-addon:hover .glyphicon,
 .icon-addon .form-control:focus + .fa,
 .icon-addon:hover .fa {
     color: #2580db;
 }
 /**/
 /*stepwizard pacient start*/

 .stepwizard {
     display: table;
     width: 100%;
     position: relative;
 }

 .stepwizard-step {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     position: relative;
 }

 .stepwizard-step p {
     margin-top: 5px;
 }

 .btn-circle {
     width: 40px;
     height: 40px;
     text-align: center;
     padding: 8px!important;
     font-size: 12px;
     line-height: 1.6;
     border-radius: 30px!important;
 }

 .btn-circle.active {
     background-color: rgb(22, 145, 190)!important;
     /*            background-color: #7BCFE8!important;*/
     color: white!important;
 }

 .stepwizard-step button[disabled] {
     opacity: 1 !important;
     filter: alpha(opacity=100) !important;
 }

 .stepwizard-row {
     display: table-row;
     margin-top: -20px;
 }

 .stepwizard-row:before {
     top: 20px;
     bottom: 0;
     position: absolute;
     content: " ";
     width: 100%;
     height: 1px;
     background-color: black;
     z-order: 0;
 }
 /*stepwizard pacient end*/
 /*Profix logo - Begin*/

 .logo {
     float: left;
     position: absolute;
     left: 45%;
     top: 10px;
 }
 /*Profix logo  - Begin*/

 .clearFilters:hover {
     color: red;
 }

 .generateReport:hover {
     color: #00B200!important;
 }

 .newPatient:hover {
     color: #85C3E9!important;
 }
 /*Remove arrows in numbr field - Begin*/

 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     margin: 0;
 }
 /*Remove arrows in numbr field - End*/
 /*Beautify table - Begin*/

 .reportColSelector {
     background-color: #00cc8f;
     border-right: solid black 1px;
     border-left: solid black 1px;
     cursor: pointer;
 }

 .table-striped {
     padding: 0 !important;
     margin: 0;
     border: 0 none;
     border-spacing: 0;
 }

 .table-striped td {
     border-bottom-style: dotted;
     border-width: 0 0 1px 0;
     border-color: #ECECEC;
     padding: 0 !important;
     margin: 0;
     vertical-align: middle;
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 15px;
 }

 .table-striped tr {
     padding: 0 !important;
     margin: 0;
     border-width: 0;
     padding: 0;
 }

 .table-striped tr:nth-child(even) {
     background-color: #D3D3D3;
     padding: 0 !important;
 }

 .table-striped tr:nth-child(odd) {
     background-color: #ECECEC;
     padding: 0 !important;
 }
 /*Beautify table - End*/
 /*Signin Form - Begin*/

 .form-signin {
     max-width: 330px;
     padding: 15px;
     margin: 0 auto;
 }

 .form-signin .form-signin-heading,
 .form-signin .checkbox {
     margin-bottom: 10px;
 }

 .form-signin .checkbox {
     font-weight: normal;
 }

 .form-signin .form-control {
     position: relative;
     font-size: 16px;
     height: auto;
     padding: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 .form-signin .form-control:focus {
     z-index: 2;
 }

 .form-signin input[type="text"] {
     margin-bottom: -1px;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
 }

 .form-signin input[type="password"] {
     margin-bottom: 10px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }

 .account-wall {
     margin-top: 18vh;
     padding: 20px 0px 10px 0px;
     background-color: #f7f7f7;
     -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 }

 .login-title {
     color: #555;
     font-size: 18px;
     font-weight: 400;
     display: block;
 }

 .profile-img {
     width: 120px;
     height: 120px;
     margin: 0 auto 10px;
     display: block;
 }

 .need-help {
     margin-top: 10px;
 }

 .new-account {
     display: block;
     margin-top: 10px;
 }
 /*Signin Form - Begin*/
 /*Apply row no gutter to rows that dont need a space separator between inputs - Begin*/

 .row.no-gutter {
     margin-left: 3px;
     margin-right: 3px;
     padding-right: 1px;
     padding-left: 1px;
 }

 .row.no-gutter [class*='col-']:not(:first-child),
 .row.no-gutter [class*='col-']:not(:last-child) {
     padding-right: 3px;
     padding-left: 3px;
     padding-right: 1px;
     padding-left: 1px;
 }
 /*Apply row no gutter to rows that dont need a space separator between inputs - Begin*/

 .loginButton {
     width: 60px;
     height: 60px;
 }
 /*Overlay for dirty forms - Begin*/

 .wordwrap {
     white-space: pre-wrap;
     /* CSS3 */
     white-space: -moz-pre-wrap;
     /* Firefox */
     white-space: -pre-wrap;
     /* Opera <7 */
     white-space: -o-pre-wrap;
     /* Opera 7 */
     word-wrap: break-word;
     /* IE */
 }

 .snp-overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.9);
     z-index: 50;
     /*    position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
    height: calc(100% + 64px);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);*/
 }

 .snp-overlay .snp-content {
     background: #FFF;
     width: 300px;
     margin: 0 auto;
     position: relative;
     top: 200px;
     padding-bottom: 25px;
     border: 5px solid;
     z-index: 100;
 }

 .reveal-if-active {
     opacity: 0;
     max-height: 0;
     overflow: hidden;
 }
 /*Overlay for dirty forms - End*/

 input[type="radio"]:checked ~ .reveal-if-active,
 input[type="checkbox"]:checked ~ .reveal-if-active {
     opacity: 1;
     max-height: 100px;
     /* little bit of a magic number :( */
     overflow: visible;
 }

 form .form-group {
     margin-bottom: 10px;
     border-top-style:
 }
 /*Glitch solutin when opening the modal - Begin*/

 body.modal-open {
     overflow: inherit;
     padding-right: 0 !important;
 }
 /*Glich solutin when opening the modal - End*/
 /*Nav pills color - Begin*/

 .nav-pills-cust > .active > a,
 .nav-pills-cust > .active > a:hover {
     color: #fff;
     background-color: #337ab7!important;
     border-radius: 0;
 }

 .nav-pills-cust > li {
     float: left;
     list-style: none;
     border-radius: 0;
 }

 .nav-pills-cust > li > a {
     border-radius: 0;
 }

 .nav-pills-cust > li + li {
     margin-left: 2px;
 }

 .nav-stacked-cust > li {
     float: none;
 }

 .nav-stacked-cust > li + li {
     margin-top: 2px;
     margin-left: 0;
 }

 .nav-justified-cust {
     width: 100%;
 }

 .nav-justified-cust > li {
     float: none;
 }

 .nav-justified-cust > li > a {
     margin-bottom: 5px;
     text-align: center;
 }

 .nav-cust {
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
 }

 .nav-cust > li {
     position: relative;
     display: block;
 }

 .nav-cust > li > a {
     position: relative;
     display: block;
     padding: 10px 15px;
 }

 .nav-cust > li > a:hover,
 .nav-cust > li > a:focus {
     text-decoration: none;
     background-color: #eee;
 }
 /*Nav pills color - Begin*/

 .mouseOver {
     cursor: pointer;
     cursor: hand;
 }
 /*Nav pills color - End*/
 /*Invalid inputs in forms - Begin */

 input:required:focus {
     border: 1px solid red;
     outline: none;
 }

 select:invalid {
     box-shadow: 1px 1px 1px 1px rgba(200, 0, 0, 0.85);
 }

 select:required:focus {
     border: 1px solid red;
     outline: none;
 }
 /*Invalid inputs in forms - End*/
 /*Position of the logo - Begin*/
 /*Position of the logo - End*/

 .datetime-picker-dropdown {}

 .datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
     border: 0;
 }

 .datetime-picker-dropdown > li.time-picker-menu div > table {}
 /*Search / Filter field - Begin*/

 .search input {
     width: 250px;
     height: 32px;
     background: #fcfcfc;
     border: 1px solid #aaa;
     border-radius: 5px;
     box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
 }

 .search input {
     text-indent: 32px;
 }

 .search .fa-search {
     position: absolute;
     top: 10px;
     left: 10px;
 }
 /*Search / Filter field - End*/

 .form-group {
     position: relative;
 }

 .container-fluid {
     width: 100%;
     overflow: hidden;
     padding-left: 3px!important;
     padding-right: 3px!important;
 }

 .panel-body {
     padding: 5px!important;
 }

 .well-sm {
     padding: 25px!important;
     padding-top: 4px!important;
     padding-bottom: 4px!important;
     border-radius: 3px;
 }
 /*Vertical offset - Begin*/

 .voffset {
     margin-top: 2px;
 }

 .voffset1 {
     margin-top: 5px;
 }

 .voffset2 {
     margin-top: 10px;
 }

 .voffset3 {
     margin-top: 15px;
 }

 .voffset4 {
     margin-top: 30px;
 }

 .voffset5 {
     margin-top: 40px;
 }

 .voffset6 {
     margin-top: 60px;
 }

 .voffset7 {
     margin-top: 80px;
 }

 .voffset8 {
     margin-top: 100px;
 }

 .voffset9 {
     margin-top: 150px;
 }
 /*Vertical offset - End*/
 /*mark required fields - Begin*/

 .control-label:after {
     content: "*";
     color: red;
 }

 label {
     margin-bottom: 0px!important;
 }
 /*mark required fields - End*/
 /* stilizare well pas 4 start*/

 .well-step4 {
     min-height: 20px;
     padding: 1px;
     margin-bottom: 3px!important;
     background-color: #f5f5f5;
     border: 1px solid #e3e3e3;
     border-radius: 10px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
 }
 /* stilizare well pas 4 end */
 /* stilizare buton de adaugare transe start*/

 .addInstallment {
     width: 800px;
     margin: 0 auto;
 }

 .addInstallment img {
     margin: 20px;
     border: 5px solid #eee;
     -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
     -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
 }

 .addInstallment img:hover {
     -webkit-transform: rotate(-7deg);
     -moz-transform: rotate(-7deg);
     -o-transform: rotate(-7deg);
 }
 /* stilizare buton de adaugare transe end*/
 /*child bigger than his parent - begin*/

 .bigKid1 {
     position: relative;
     width: 100vw!important;
     left: calc(-50vw + 50%);
 }

 .bigKid2 {
     position: relative;
     width: 80vw!important;
     left: calc(-40vw + 50%);
 }
 /*child bigger than his parent - end*/

 label {
     font-size: 12px;
 }

 .center-positioning{
        width: 20rem;
        position: absolute!important;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        }

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/*angular toastr CSS for production begin */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/
}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container .toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
  opacity: 0.8;
}
#toast-container .toast:hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
#toast-container .toast.toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container .toast.toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container .toast.toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container .toast.toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center .toast,
#toast-container.toast-bottom-center .toast {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#toast-container.toast-top-full-width .toast,
#toast-container.toast-bottom-full-width .toast {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #030303;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/*Animations*/
div[toast] {
  opacity: 1 !important;
}
div[toast].ng-enter {
  opacity: 0 !important;
  transition: opacity .3s linear;
}
div[toast].ng-enter.ng-enter-active {
  opacity: 1 !important;
}
div[toast].ng-leave {
  opacity: 1;
  transition: opacity .3s linear;
}
div[toast].ng-leave.ng-leave-active {
  opacity: 0 !important;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container .toast.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

/*angular toastr CSS for production end */
