<div class="container-fluid" style="padding-top: 6rem">
	<div class="row no-gutter">
		<div class="col-md-3 col-xs-10 text-center">
			<h4><span class="fa fa-user-plus" aria-hidden="true"></span> Customizare utilizatori</h4>
		</div>
		<div class="col-md-2 col-xs-10">
			<div class="icon-addon">
				<span class="fa fa-search"></span>
				<input type="text" class="form-control" placeholder="Cauta utilizator" id="search" ng-model="admin.searchUser" autocomplete="off"
				/>
			</div>
		</div>
		<div class="col-md-4 text-right">
			<span class="fa fa-plus-circle fa-3x mouseOver" ng-click="admin.openModal('add')" uib-tooltip="Adauga utilizator" style="color:green;"
				tooltip-append-to-body="true"></span>
		</div>
	</div>
	<div class="row no-gutter">
		<div class="col-xs-3"></div>
		<div class="col-xs-6 table-responsive">
			<table class="table table-striped voffset1 table-condensed table-hover" id="alignedTable">
				<thead>
					<tr class="mouseOver">
						<th style="width: 10rem!important;" class="text-center" ng-click="admin.sort('active')">
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
						</th>
						<th ng-click="admin.sort('name')" style="width: 20rem!important;">
							<i class="fa fa-pencil" aria-hidden="true"></i> Nume si prenume
							<span class="fa sort-icon" ng-show="admin.sortOptions.key=='name'" ng-class="admin.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
							<span class="fa fa-sort" ng-show="admin.sortOptions.key!='name'"></span>
						</th>
						<th ng-click="admin.sort('userName')" style="width: 20rem!important;">
							<i class="fa fa-user" aria-hidden="true"></i> Nume utilizator
							<span class="fa sort-icon" ng-show="admin.sortOptions.key=='userName'" ng-class="admin.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
							<span class="fa fa-sort" ng-show="admin.sortOptions.key!='userName'"></span>
						</th>
						<th ng-click="admin.sort('role')" style="width: 20rem!important;">
							<span class="fa fa-user"></span> Rol
							<span class="fa sort-icon" ng-show="admin.sortOptions.key=='role'" ng-class="admin.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
							<span class="fa fa-sort" ng-show="admin.sortOptions.key!='role'"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="user in admin.users | filterByMatchingFields: admin.searchUser: 'name' : 'userName' : 'role' | orderBy:admin.customSorter:admin.sortOptions.reverse | itemsPerPage: 20"
						pagination-id="paginationUsers">
						<td class="text-center">
							<label title="Activ/Inactiv">
                                <i class="fa fa-check" ng-class="user.active ? 'fa-check' : 'fa-minus'" aria-hidden="true"></i>
                            </label>
						</td>
						<td>
							<button class="btn btn-link" ng-click="admin.openModal('edit', user)">
                                {{user.name}}
                            </button>
						</td>
						<td>
							{{user.userName}}
						</td>
						<td>
							{{user.role}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationUsers">
			</dir-pagination-controls>
		</div>
	</div>
</div>