<div snp-esc="cancel(form.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(form.$dirty)">×</a>
        <h4 class="modal-title text-center">{{title}}</h4>
    </div>
    <form name="form" role="form" ng-submit="save()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <div class="row no-gutter">
                    <label class="control-label">Nume si prenume</label>
                    <div class="icon-addon">
                        <i class="fa fa-pencil"></i>
                        <input type="text" class="form-control" placeholder="Denumire" name="name" id="name" ng-model="item.name" autocomplete="off"/>
                    </div>
                </div>
                <div class="row no-gutter">
                    <label class="control-label">Utilizator</label>
                    <div class="icon-addon">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" name="userName" id="userName" ng-model="item.userName" autocomplete="off"/>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-md-8 form-group" style="padding:0;">
                        <label>Rol</label>
                        <div class="form-group">
                            <select class="form-control" name="singleSelect" ng-model="item.role">
                                <option value="admin">Admin</option>
                                <option value="user">Utilizator</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox text-center" style="top: 1.5rem;">
                            <label>
                            <input type="checkbox" ng-model="item.active"> Activ
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-md-12" style="padding:0;">
                        <label>Parola initiala / Resetare parola</label>
                        <div class="icon-addon">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" placeholder="Parola" name="initialPassword" id="initialPassword" ng-model="item.initialPassword"
                                autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <snp-delete ng-show="delete.visible" confirm="delete.confirm()" size="btn-sm"></snp-delete>
                </div>
                <div class="col-xs-8 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(form.$dirty)"> Anulare</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!form.$valid"><span class="fa fa-save"></span> Salvare</button>
                </div>
            </div>
            <div ng-include="'snp-overlay.html'"></div>
        </div>
    </form>
</div>