<div class="container">
	<h1>Category List
		<button class="btn" (click)="open()"><i class="fa fa-plus"></i></button>
	</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Display Name</th>
				<th>Description</th>
				<th>Created at</th>
				<th>Ends at</th>
				<th>Keywords</th>
				<th>Long description</th>
				<th>Is root</th>
				<th>Starts at</th>
				<th>Version</th>
				<th>Last updated</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let category of categories">
				<td>{{category.display_name}}</td>
				<td>{{category.description}}</td>
				<td>{{category.creation_date | date : "d MMM, yyyy"}}</td>
				<td>{{category.end_date | date : "d MMM, yyyy"}}</td>
				<td>{{category.keywords}}</td>
				<!-- <td>{{category.large_image}}</td> -->
				<td>{{category.long_description}}</td>
				<!-- <td>{{category.parent_category}}</td> -->
				<td>{{category.root}}</td>
				<!-- <td>{{category.small_image}}</td> -->
				<td>{{category.start_date | date : "d MMM, yyyy"}}</td>
				<!-- <td>{{category.thumbnail_image}}</td> -->
				<td>{{category.version}}</td>
				<td>{{category.update_date | date : "d MMM, yyyy"}}</td>
			</tr>
		</tbody>
	</table>
</div>
