<div class="container" style="padding-top: 16rem; width=20%;">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-3 text-center">
			<h3>Autentificare</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-3">
			<form class="form" name="form" ng-submit="vm.login(form)" novalidate>
				<div class="form-group">
					<label>Utilizator</label>
					<input type="text" name="userName" class="form-control" ng-model="vm.user.userName" required autocomplete="off">
				</div>
				<div class="form-group">
					<label>Parola</label>
					<input type="password" name="password" class="form-control" ng-model="vm.user.password" required autocomplete="off">
				</div>
				<div class="form-group has-error">
					<p class="help-block" ng-show="form.userName.$error.required && vm.submitted">
						Introduceti utilizatorul!
					</p>
					<p class="help-block" ng-show="form.password.$error.required && vm.submitted">
						Introduceti parola!
					</p>
					<p class="help-block">{{ vm.errors.login }}</p>
				</div>
				<div class="pull-right">
					<button class="btn btn-inverse btn-lg btn-login" type="submit">
            Logare
          </button>
				</div>
			</form>
		</div>
	</div>
	<div class="row text-center" style="margin-top:10rem;">
		<h4>Acesta aplicatie apartine SC Rolem SRL, iar drepturile de autor asupra intregului continut,<br> inclusiv imaginile si baza
			de date, sunt detinute in totalitate de aceasta.</h4>
		<br><br>
		<h5>Aplicatie dezvoltata de Ahead Business Consulting SRL si <a target="_blank" ng-href="http://www.snipesoft.ro" style="text-decoration: underline;">Snipesoft SRL</a></h5>
	</div>
</div>