<div class="snp-overlay" ng-show="isDirtyConfirmationPopup.visible">
    <div class="snp-content">
        <label class="wordwrap text-center well" style=" border: 3px solid white;">Au avut loc modificari. Sunteti sigur ca vreti sa inchideti fereastra fara a salva modificarile?</label>
        <div class="text-center">
            <button type="button" class="btn btn-default" ng-click="isDirtyConfirmationPopup.no()">Nu</button>
            <button type="button" class="btn btn-danger" ng-click="isDirtyConfirmationPopup.yes()">Da</button>
        </div>
    </div>
</div>
