<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="resources/img/fpsLogo.png" alt="">
                <form class="form-signin" accept-charset="UTF-8" role="form" ng-submit="login()" name="loginForm">
                    <input type="text" class="form-control" placeholder="Utilizator" id="fpsUsername" name="fpsUsername" ng-model="username" autofocus>
                    <div class="help-block" ng-messages="loginForm.fpsUsername.$error" ng-if="loginForm.fpsUsername.$touched">
                        <div ng-messages-include="app/views/misc/messages.html"></div>
                    </div>
                    <input type="password" class="form-control" placeholder="Parola" id="fpsPassword" name="fpsPassword" ng-model="password">
                    <div class="help-block" ng-messages="loginForm.fpsPassword.$error" ng-if="loginForm.fpsPassword.$touched">
                        <div ng-messages-include="app/views/misc/messages.html"></div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!loginForm.$valid">
                        Autentificare</button>
                    <div class="col-xs-12 text-center" style="color:red" voffset5>
                        {{message}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer text-center">
    <h4>Aplicatie de uz intern a companiei ISARAN. Toate drepturile rezervate.</h4>
    <h5> Powered by Sharpdot SRL and <a href="http://www.snipesoft.ro">Snipesoft SRL</a></h5>
</div>
