<div snp-esc="cancel(invoiceForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(invoiceForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="save()" novalidate name="invoiceForm">
        <div class="modal-body">
            <div class="form-group">
                <p class="text-danger text-center">{{item.message}}</p>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-2 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.externalNumber.$touched && invoiceForm.externalNumber.$invalid }">
                            <label class="control-label">Nr. Factura</label>
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <input type="text" class="form-control" id="externalNumber" name="externalNumber" ng-model="item.externalNumber" required="required" />
                                <div class="help-block" ng-messages="invoiceForm.externalNumber.$error" ng-if="invoiceForm.externalNumber.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.supplierName.$touched && invoiceForm.supplierName.$invalid }">
                            <label class="control-label">Furnizor</label>
                            <select name="supplierName" id="supplierName" ng-model="item.extended.supplier" class="form-control" title="Furnizor" required="required" ng-options="supplier.name for supplier in item.extended.suppliers">
                            </select>
                            <div class="help-block" ng-messages="invoiceForm.supplierName.$error" ng-if="invoiceForm.supplierName.$touched">
                                <div ng-messages-include="app/views/misc/messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.serviceGroupId.$touched && invoiceForm.serviceGroupId.$invalid }">
                            <label class="control-label">Grupa servicii</label>
                            <select name="serviceGroupId" id="serviceGroupId" ng-model="item.extended.supplierServiceGroup" class="form-control" title="Grupa de servicii" ng-options="serviceGroup.name for serviceGroup in item.extended.supplier.services" required="required" ng-disabled="!item.extended.supplier">
                            </select>
                            <div class="help-block" ng-messages="invoiceForm.serviceGroupId.$error" ng-if="invoiceForm.serviceGroupId.$touched">
                                <div ng-messages-include="app/views/misc/messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-md-3 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.value.$touched && invoiceForm.value.$invalid }">
                            <label class="control-label">Suma de plata</label>
                            <div class="inner-addon left-addon">
                                <i class="fa fa-money"></i>
                                <input type="number" class="form-control" placeholder="Valoare(LEI)" id="value" name="value" ng-model="item.amount" required="required" step="any"/>
                                <div class="help-block" ng-messages="invoiceForm.value.$error" ng-if="invoiceForm.value.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.buildingName.$touched && invoiceForm.buildingName.$invalid }">
                            <label class="control-label">Bloc</label>
                            <select name="buildingName" id="buildingName" ng-model="item.extended.building" class="form-control" title="Bloc" required="required" ng-options="building.name for building in item.extended.buildings">
                            </select>
                            <div class="help-block" ng-messages="invoiceForm.buildingName.$error" ng-if="invoiceForm.buildingName.$touched">
                                <div ng-messages-include="app/views/misc/messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.invoiceTypeId.$touched && invoiceForm.invoiceTypeId.$invalid }">
                            <label class="control-label" for="invoiceTypeId">Tip factura</label>
                            <select name="invoiceTypeId" id="invoiceTypeId" ng-model="item.extended.invoiceType" class="form-control" title="Tip Factura" required="required" ng-options="invoiceType.name for invoiceType in item.extended.invoiceTypes">
                            </select>
                            <div class="help-block" ng-messages="invoiceForm.invoiceTypeId.$error" ng-if="invoiceForm.invoiceTypeId.$touched">
                                <div ng-messages-include="app/views/misc/messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <div class="form-group">
                            <label for="sel1">Status factura</label>
                            <input type="text" name="statusId" id="statusId" ng-model="item.statusName" class="form-control" title="Status Factura" ng-disabled="1" />
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-md-3 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.createDT.$touched && invoiceForm.createDT.$invalid }">
                            <label class="control-label">Data emitere</label>
                            <p class="input-group">
                                <input type="text" id="createDT" name="createDT" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="item.extended.dateOptions" ng-model="item.createDT" is-open="item.extended.createDTIsOpen" enable-time="false" max-date="item.dueDT" required="required" ng-change="item.extended.createDTChanged(item)" />
                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="item.extended.openCalendar($event, 'createDT')"><i class="fa fa-calendar"></i></button>
                                </span>
                                <div class="help-block" ng-messages="invoiceForm.createDT.$error" ng-if="invoiceForm.createDT.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <div class="form-group" ng-class="{ 'has-error': invoiceForm.dueDT.$touched && invoiceForm.dueDT.$invalid }">
                            <label class="control-label">Data scadenta</label>
                            <p class="input-group">
                                <input type="text" id="dueDT" name="dueDT" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="item.extended.dateOptions" ng-model="item.dueDT" is-open="item.extended.dueDTIsOpen" enable-time="false" min-date="item.createDT" required="required" />
                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="item.extended.openCalendar($event, 'dueDT')"><i class="fa fa-calendar"></i></button>
                                </span>
                                <div class="help-block" ng-messages="invoiceForm.dueDT.$error" ng-if="invoiceForm.dueDT.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <div class="form-group">
                            <label>Data platii integrale</label>
                            <p class="input-group">
                                <input type="text" id="paymentDT" name="paymentDT" class="form-control" datetime-picker="dd MMM yyyy" ng-model="item.paymentDT" ng-disabled="1" />
                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-disabled="1"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center" style="padding-bottom: 0;">
                        <label></label>
                        <div class="row">
                            <label for="hasIssue">
                                <input type="checkbox" id="hasIssue" name="hasIssue" ng-model="item.hasIssue" ng-true-value="1" ng-false-value="0" ng-checked="item.hasIssue == 1" style="padding-bottom: 0;" /> Factura cu probleme
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="form-group" >
                    <div class="inner-addon left-addon">
                        <label for="details">Detalii suplimentare despre factura</label>
                        <textarea placeholder="Ex: De ce e factura cu probleme? (unde e cazul), alte detalii specifice furnizorului de servicii.." id="details" name="details" ng-model="item.details" class="form-control" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-md-6">
                    <label for="details">Fisiere existente</label>
                    <table>
                        <tr ng-repeat="file in item.files" >
                            <td>
                                <snp-delete ng-if="item.files" confirm="item.extended.removeFile(file)" size="btn-xs"></snp-delete>
                            </td>
                            <td>
                                &nbsp;<i class="fa fa-file"></i> 
                            </td>
                            <td>
                                &nbsp;<a href="" ng-click="snpUtils.download(file.path)" title="{{file.name}}">
                                {{file.name}}
                            </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <label for="details">Fisiere noi</label>
                    <snp-upload accept="" files="item.newFiles"> </snp-upload>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <snp-delete ng-if="item.statusId != 13" ng-show="delete.visible" confirm="delete.confirm()"></snp-delete>
                </div>
                <div class="col-xs-6 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(invoiceForm.$dirty)">Cancel</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!invoiceForm.$valid">Salvare</button>
                </div>
            </div>
        </div>
        <div ng-include="'app/views/misc/snp-overlay.html'">
        </div>
    </form>
</div>
