<div snp-esc="cancel(paymentHistForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(paymentHistForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="savePaymentHistory()" name="paymentHistForm">
	    <div class="modal-body">
	        <div class="form-group">
	            <p class="text-danger">{{item.message}}</p>
	        </div>
            <div class="row no-gutter">
	            <table class="table" id="alignedTable">
	                <thead>
	                    <tr>
	                        <th>
	                            CRT
	                        </th>
	                        <th>
	                            Data platii 
                            </th>
                            <th>
	                            Nr. legatura 
                            </th>
                            <th>
	                            Detalii plata
                            </th>
                            <th>
	                            Suma platita 
                            </th>
                            <th>
                            	Actiuni
                            </th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="p in item.payments">
	                        <td>
                                {{p.paymentCRT}}
	                        </td>
	                        <td>
	                            {{p.paymentOperationDT | dateTimeFormatLite}}
	                        </td>
	                        <td>
	                            {{p.paymentLinkNumber}}
	                        </td>
	                        <td>
	                            {{p.paymentDetails}}
	                        </td>
	                        <td>
	                            {{p.paymentAmount}}
	                        </td>
	                        <td>
                    			<input ng-click="item.extended.removeThisPayment(p)" ng-model="p.selected" type="checkbox" title="Sterge plata curenta si a tuturor platilor care au acelasi CRT ({{p.paymentCRT}})." />
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        <div class="modal-footer">
	            <div class="row ">
                    <div class="col-xs-6 text-left">
                    </div>
                    <div class="col-xs-6 text-right ">
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancel(paymentHistForm.$dirty)">Cancel</button>
                        <button type="submit" ng-disabled="item.paymentsToBeDeleted.length == 0" class="btn btn-danger" value="savePaymentHistory">Sterge</button>
                    </div>
	            </div>
	        </div>
	        <div ng-include="'app/views/misc/snp-overlay.html'">
	        </div>
	    </div> 
    </form>
</div>
