<div snp-esc="cancel(paymentForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(paymentForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="savePayment()" novalidate name="paymentForm">
        <div class="modal-body">
            <div class="form-group">
                <p class="text-danger text-center">{{item.message}}</p>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-4">
                        <label class="control-label">Data platii</label>
                        <p class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="item.extended.dateOptions" ng-model="item.operationDT" is-open="item.extended.isCalendarOpen" enable-time="false" required="required" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="item.extended.openCalendar($event, 'operationDT')"><i class="fa fa-calendar"></i></button>
                         </span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': paymentForm.crt.$touched && paymentForm.crt.$invalid }">
                            <label class="control-label">Nr. CRT</label>
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <input type="number" ng-change="item.extended.validateThisCRT(item.crt)" ng-model-options='{ debounce: 1000 }'class="form-control" placeholder="Nr. CRT" id="crt" name="crt" ng-model="item.crt" title="Numar CRT" required="required" step="any"/>
                                <div class="help-block" ng-messages="paymentForm.crt.$error" ng-if="paymentForm.crt.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nr legatura</label>
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <input type="text" class="form-control" placeholder="Nr. Leg." placeholder="Numar de legatura" id="linkNumber" ng-model="item.linkNumber" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <label ng-if="item.invoicesToPayCounter == 1">Factura de plata</label>
                    <label ng-if="item.invoicesToPayCounter > 1">Facturi de plata</label>
                    <div class="">
                        <table class="table" id="alignedTable">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-dot-circle-o"></i> Status & Numar
                                    </th>
                                    <th>
                                        <i class="fa fa-truck"></i> Furnizor
                                    </th>
                                    <th>
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Serviciu
                                    </th>
                                    <th>
                                        Valoare
                                    </th>
                                    <th>
                                        Rest
                                    </th>
                                    <th>
                                        <label class="control-label">Suma platita</label>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in item.invoicesToPay">
                                    <td>
                                        <span ng-if="invoice.statusId == 12" class="label label-info">
                                            <i class="fa fa-flag"></i>
                                        </span>
                                        <span ng-if="invoice.statusId == 13" class="label label-success">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span ng-if="invoice.statusId == 14" class="label label-warning">
                                            <i class="fa fa-warning"></i>
                                        </span> &nbsp; {{invoice.externalNumber}}
                                    </td>
                                    <td>
                                        <b>{{invoice.supplierName}}</b>
                                    </td>
                                    <td>
                                        {{invoice.serviceGroupName}}
                                    </td>
                                    <td>
                                        <b>{{invoice.amount}}</b>
                                    </td>
                                    <td>
                                        {{invoice.remainingAmount}}
                                    </td>
                                    <td>
                                        <div class="form-group" ng-class="{ 'has-error': paymentForm.singlePartialAmount.$touched && paymentForm.singlePartialAmount.$invalid }">
                                            <input type="number" class="form-control" title="Suma platita. Daca se plateste integral, suma trebuie sa fie egala cu suma totala de plata. Daca se plateste partial atunci trebuie sa fie mai mica." id="singlePartialAmount" name="singlePartialAmount" ng-model="invoice.partialAmount" step="any" required="required" />
                                            <div class="help-block" ng-messages="paymentForm.singlePartialAmount.$error" ng-if="paymentForm.singlePartialAmount.$touched">
                                                <div ng-messages-include="app/views/misc/messages.html"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="invoice.remainingAmount == invoice.partialAmount">
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td ng-if="invoice.remainingAmount != invoice.partialAmount">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right" ng-if="item.invoicesToPayCounter > 1">
                        <b>Total de plata {{item.invoicesToPayCounter}} facturi: {{item.extended.totalRA(item.invoicesToPay)}} LEI
                        </b>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <label>Detalii suplimentare</label>
                        <textarea id="message" name="message" class="form-control" rows="3" ng-model="item.details"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row ">
                    <div class="col-xs-6 text-left">
                    </div>
                    <div class="col-xs-6 text-right ">
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancel(paymentForm.$dirty)">Cancel</button>
                        <button type="submit" class="btn btn-success" value="savePayment" ng-disabled="!paymentForm.$valid && !item.type.$valid || (item.extended.validCRT == 0)">Salvare</button>
                    </div>
                </div>
            </div>
            <div ng-include="'app/views/misc/snp-overlay.html'">
            </div>
        </div>
    </form>
</div>
