<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta factura..
                " id="search" ng-model="searchInvoices.text" autofocus autocomplete="off" />

                <i class="inputFieldClear" ng-if="searchInvoices.text.length" ng-click="clearSearch()">
                    <b>X</b>
                </i>                        
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="filterStatus" ng-model="searchInvoices.status" class="form-control" title="Lista statusuri" tooltip-append-to-body="true">
                    <option value="">Toate statusurile</option>
                    <option value="Neachitate">Neachitate</option>
                    <option value="4ch1747e">Achitate</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="filterInvoiceType" ng-model="searchInvoices.invoiceType" class="form-control" title="Tipuri de Facturi" ng-options="f.name for f in invoiceTypes" tooltip-append-to-body="true">
                    <option value="">Toate Tipurile</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="filterBuilding" ng-model="searchInvoices.building" class="form-control" title="Lista Cladiri" ng-options="b.name for b in buildings" tooltip-append-to-body="true">
                    <option value="">Toate Cladirile</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <!-- partial/single sau full/multiple ca si tip de plata -->
            <button type="button" ng-click="openPayModal('add', invoicesToPay)" class="btn btn-primary" ng-disabled="invoicesToPay.length === 0">Plateste <span ng-show="invoicesToPay.length">{{invoicesToPay.length}}</span></button>
        </div>
        <div class="col-md-offset-11">
            <img src="resources/img/addButton.ico" ng-click="openModal('add')" class="center-block img-circle img-responsive mouseOver" style="height: 2.5em; width: 2.5em;" title="Adauga factura">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th ng-click="sort('externalNumber')">
                            <i class="fa fa-dot-circle-o"></i> Status & Nr
                            <span class="glyphicon sort-icon" ng-show="sortKey=='externalNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th></th>
                        <th ng-click="sort('supplierName')">
                            <i class="fa fa-truck"></i> Furnizori
                            <span class="glyphicon sort-icon" ng-show="sortKey=='supplierName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('serviceGroupName')">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Servicii
                            <span class="glyphicon sort-icon" ng-show="sortKey=='serviceName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('amount')">
                            Valoare
                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('remainingAmount')">
                            Rest
                            <span class="glyphicon sort-icon" ng-show="sortKey=='remainingAmount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('createDT')">
                            <i class="fa fa-calendar-check-o"></i> Data emitere
                            <span class="glyphicon sort-icon" ng-show="sortKey=='createDT'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
<!--                         <th ng-click="sort('dueDT')">
                            <i class="fa fa-calendar-minus-o"></i> Data scadenta
                            <span class="glyphicon sort-icon" ng-show="sortKey=='dueDT'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th> -->
<!--                         <th ng-click="sort('daysRemaining')">
                            <i class="fa fa-hourglass-start" title="Zile ramase pana la data scadenta" tooltip-append-to-body="true"></i>
                            <span class="glyphicon sort-icon" ng-show="sortKey=='daysRemaining'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th> -->
                        <th ng-click="sort('buildingName')">
                            <i class="fa fa-building-o" title="Cladire" tooltip-append-to-body="true"></i>
                            <span class="glyphicon sort-icon" ng-show="sortKey=='buildingName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>
                            <i class="fa fa-download"></i>
                        </th>
                        <th>
                            <i class="fa fa-cog"></i> Actiuni
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="invoice in invoices | filterMatchingFields:searchInvoices.text:'externalNumber':'supplierName': 'serviceGroupName':'amount':'daysRemaining':'buildingName' | filterMatchingFields:searchInvoices.status: 'statusCategoryName' | filterMatchingFields:searchInvoices.building.name:'buildingName' | filterMatchingFields:searchInvoices.invoiceType.name:'invoiceTypeName' | orderBy:sortKey:reverse | itemsPerPage: itemsPerPage" ng-style="setRowColor(invoice.statusId)">
                        <td>
                            <span ng-if="invoice.statusId == 12" class="label label-info">
                                <i class="fa fa-flag"></i>
                            </span>
                            <span ng-if="invoice.statusId == 13" class="label label-success">
                                <i class="fa fa-check"></i>
                            </span>
                            <span ng-if="invoice.statusId == 14" class="label label-warning">
                                <i class="fa fa-warning"></i>
                            </span>
                            <button class="btn btn-link" ng-click="openModal('edit', invoice)" title="{{invoice.statusName}}" tooltip-append-to-body="true">
                                {{invoice.externalNumber}}
                            </button>
                        </td>
                        <td>
                            <i ng-if="invoice.hasIssue == 1" class="fa fa-exclamation-triangle" title="Factura cu probleme!" style="color:red;" tooltip-append-to-body="true"></i>
                            <i ng-if="invoice.invoiceTypeName == 'Proforma'" class="fa fa-flask" title="Factura Proforma" style="color:blue;" tooltip-append-to-body="true"></i>
                            <i ng-if="invoice.invoiceTypeName == 'De Discount'" class="fa fa-tags" title="Factura De Discount" style="color:orange;" tooltip-append-to-body="true"></i>
                            <i ng-if="invoice.invoiceTypeName == 'Storno'" class="fa fa-minus" title="Factura Storno" style="color:grey;" tooltip-append-to-body="true"></i>
                            <i ng-if="invoice.invoiceTypeName == 'De Avans'" class="fa fa-anchor" title="Factura De Avans" style="color:blue;" tooltip-append-to-body="true"></i>
                        </td>
                        <td>
                            <button ng-if="invoice.supplierIsDeleted == 1" class="btn btn-link" ng-click="supplierClick(invoice.supplierName)" title="Furnizor sters din configurare">
                                <del>{{invoice.supplierName}}</del>
                            </button>
                            <button ng-if="invoice.supplierIsDeleted != 1" class="btn btn-link" ng-click="supplierClick(invoice.supplierName)">
                                {{invoice.supplierName}}
                            </button>
                        </td>
                        <td>
                            <i ng-if="invoice.serviceGroupIsDeleted == 1" title="Furnizor sters din configurare">
                                <del>{{invoice.serviceGroupName}}</del>
                            </i>
                            <i ng-if="invoice.serviceGroupIsDeleted != 1">{{invoice.serviceGroupName}}</i>
                        </td>
                        <td>
                            <b> {{invoice.amount}}</b>
                        </td>
                        <td>
                            <span ng-if="invoice.statusId == 13">
                                <i class="fa fa-minus"></i>
                            </span>
                            <span ng-if="invoice.statusId != 13">
                                 <b>{{invoice.remainingAmount}}</b>
                            </span>
                        </td>
                        <td>
                            <i>{{invoice.createDT | dateTimeFormatLite}}</i>
                        </td>
<!--                         <td>
                            <i>{{invoice.dueDT | dateTimeFormatLite}}</i>
                        </td> -->
<!--                         <td>
                            <span ng-if="invoice.statusId == 13">
                                <i class="fa fa-minus"></i>
                            </span>
                            <span ng-if="invoice.statusId != 13">
                                 {{daysRemaining(invoice.createDT, invoice.dueDT)}}
                            </span>
                        </td> -->
                        <td>
                            <span ng-if="invoice.buildingIsDeleted == 1" title="Cladire stearsa din configurare">
                                <del>{{invoice.buildingName}}</del>
                            </span>
                            <span ng-if="invoice.buildingIsDeleted != 1">
                                {{invoice.buildingName}}
                            </span>
                        </td>
                        <td class="text-center">
                            <a href="" ng-click="snpUtils.download(file.path)" ng-repeat="file in invoice.files" title="{{file.name}}">
                                <i class="fa fa-file"></i>
                            </a>
                        </td>
                        <td align="center">
                            <!-- Facturile achitate complet au status = 13 -->
                            <!--<span ng-if="invoice.statusId != 13"> -->
                                <input ng-click="sendInvoiceForPayment(invoice, invoice.extended.addRemoveFlag)" ng-model="invoice.extended.addRemoveFlag" type="checkbox" title="Plateste factura nr. {{invoice.externalNumber}} pentru furnizor {{invoice.supplierName}}" tooltip-append-to-body="true">
                            <!--</span>-->
                            <a ng-click="openPayHistoryModal('view', invoice.id, invoice.externalNumber, invoice.payments)" title="Detalii plati factura nr. {{invoice.externalNumber}} pentru furnizor {{invoice.supplierName}}" tooltip-append-to-body="true">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="itemsPerPage" ng-model="itemsPerPage" class="form-control" title="Pagini">
            <!--             <option value="999999">Toate ({{invoices.length}})</option> -->
                        <option value="10">10/Pag</option>
                        <option value="17" ng-selected="{{itemsPerPage == 17}}">17/Pag</option>
                        <option value="50">50/Pag</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
