/*align elements within a table row -begin*/

td {
    height: 10px;
}

#alignedTable td {
    vertical-align: middle;
}


/*align elements within a table row - end*/

.clearFilters:hover {
    color: red;
}


/*Remove arrows in numbr field - Begin*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/*Remove arrows in numbr field - End*/

.inputFieldClear {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 10px;
    cursor: pointer;
}


/*Beautify table - Begin*/

.reportColSelector {
    background-color: #00cc8f;
    border-right: solid black 1px;
    border-left: solid black 1px;
    cursor: pointer;
}

.table-striped {
    padding: 0 !important;
    margin: 0;
    border: 0 none;
    border-spacing: 0;
}

.table-striped td {
    border-bottom-style: dotted;
    border-width: 0 0 1px 0;
    border-color: #999999;
    padding: 0 !important;
    margin: 0;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.table-striped tr {
    padding: 0 !important;
    margin: 0;
    border-width: 0;
    padding: 0;
}

.table-striped tr:nth-child(even) {
    background-color: #D3D3D3;
    padding: 0 !important;
}

.table-striped tr:nth-child(odd) {
    background-color: #ECECEC;
    padding: 0 !important;
}


/*Beautify table - End*/


/*Messages in footer - Begin*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
}


/*Messages in footer - End*/


/*Signin Form - Begin*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}


/*Signin Form - Begin*/


/*Apply row no gutter to rows that dont need a space separator between inputs - Begin*/

.row.no-gutter {
    margin-left: 3px;
    margin-right: 3px;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 3px;
    padding-left: 3px;
}


/*Apply row no gutter to rows that dont need a space separator between inputs - Begin*/

.loginButton {
    width: 60px;
    height: 60px;
}


/*Overlay for dirty forms - Begin*/

.wordwrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

.snp-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 50;
    /*    position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
    height: calc(100% + 64px);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);*/
}

.snp-overlay .snp-content {
    background: #FFF;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    padding-bottom: 25px;
    border: 5px solid;
    z-index: 100;
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}


/*Overlay for dirty forms - End*/

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px;
    /* little bit of a magic number :( */
    overflow: visible;
}

form .form-group {
    margin-bottom: 10px;
    border-top-style:
}


/*Glitch solutin when opening the modal - Begin*/

body.modal-open {
    overflow: inherit;
    padding-right: 0 !important;
}


/*Glich solutin when opening the modal - End*/


/*Nav pills color - Begin*/

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    background-color: #689384 !important;
}


/*Nav pills color - Begin*/

.mouseOver {
    cursor: pointer;
    cursor: hand;
}


/*Nav pills color - End*/


/*Invalid inputs in forms - Begin */

input:invalid {
    box-shadow: 1px 1px 1px 1px rgba(200, 0, 0, 0.85);
}

input:required:focus {
    border: 1px solid red;
    outline: none;
}

select:invalid {
    box-shadow: 1px 1px 1px 1px rgba(200, 0, 0, 0.85);
}

select:required:focus {
    border: 1px solid red;
    outline: none;
}


/*Invalid inputs in forms - End*/


/*text color - Begin*/

.nav li {
    color: #689384;
}


/*text color - End*/


/*Position of the logo - Begin*/


/*Position of the logo - End*/

.datetime-picker-dropdown {}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.time-picker-menu div > table {}


/*Search / Filter field - Begin*/

.search input {
    width: 250px;
    height: 32px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input {
    text-indent: 32px;
}

.search .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
}


/*Search / Filter field - End*/

.form-group {
    position: relative;
}


/*Icon Positionin in forms - Begin*/

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;
}

.left-addon .fa {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

.right-addon .fa {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


/*Icon Positionin in forms - End*/

.container-fluid {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}


/*Vertical offset - Begin*/

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}


/*Vertical offset - End*/


/*mark required fields - Begin*/

.control-label:after {
    content: "*";
    color: red;
}


/*mark required fields - End*/


/*NavBar properties - Begin*/

@font-face {
    font-family: "FontAwesome";
    src: url('https://github.com/FortAwesome/Font-Awesome/raw/master/font/fontawesome-webfont.eot');
    src: url('https://github.com/FortAwesome/Font-Awesome/raw/master/font/fontawesome-webfont.eot?#iefix') format('eot'), url('https://github.com/FortAwesome/Font-Awesome/raw/master/font/fontawesome-webfont.woff') format('woff'), url('https://github.com/FortAwesome/Font-Awesome/raw/master/font/fontawesome-webfont.ttf') format('truetype'), url('https://github.com/FortAwesome/Font-Awesome/raw/master/font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: FontAwesome;
}

.icon-glass:before {
    content: "\f000";
}

.icon-music:before {
    content: "\f001";
}

.icon-search:before {
    content: "\f002";
}

.icon-envelope:before {
    content: "\f003";
}

.icon-heart:before {
    content: "\f004";
}

.icon-star:before {
    content: "\f005";
}

.icon-star-empty:before {
    content: "\f006";
}

.icon-user:before {
    content: "\f007";
}

.icon-film:before {
    content: "\f008";
}

.icon-th-large:before {
    content: "\f009";
}

.icon-th:before {
    content: "\f00a";
}

.icon-th-list:before {
    content: "\f00b";
}

.icon-ok:before {
    content: "\f00c";
}

.icon-remove:before {
    content: "\f00d";
}

.icon-zoom-in:before {
    content: "\f00e";
}

.icon-zoom-out:before {
    content: "\f010";
}

.icon-off:before {
    content: "\f011";
}

.icon-signal:before {
    content: "\f012";
}

.icon-cog:before {
    content: "\f013";
}

.icon-trash:before {
    content: "\f014";
}

.icon-home:before {
    content: "\f015";
}

.icon-file:before {
    content: "\f016";
}

.icon-time:before {
    content: "\f017";
}

.icon-road:before {
    content: "\f018";
}

.icon-download-alt:before {
    content: "\f019";
}

.icon-download:before {
    content: "\f01a";
}

.icon-upload:before {
    content: "\f01b";
}

.icon-inbox:before {
    content: "\f01c";
}

.icon-play-circle:before {
    content: "\f01d";
}

.icon-repeat:before {
    content: "\f01e";
}


/* \f020 doesn't work in Safari. all shifted one down */

.icon-refresh:before {
    content: "\f021";
}

.icon-list-alt:before {
    content: "\f022";
}

.icon-lock:before {
    content: "\f023";
}

.icon-flag:before {
    content: "\f024";
}

.icon-headphones:before {
    content: "\f025";
}

.icon-volume-off:before {
    content: "\f026";
}

.icon-volume-down:before {
    content: "\f027";
}

.icon-volume-up:before {
    content: "\f028";
}

.icon-qrcode:before {
    content: "\f029";
}

.icon-barcode:before {
    content: "\f02a";
}

.icon-tag:before {
    content: "\f02b";
}

.icon-tags:before {
    content: "\f02c";
}

.icon-book:before {
    content: "\f02d";
}

.icon-bookmark:before {
    content: "\f02e";
}

.icon-print:before {
    content: "\f02f";
}

.icon-camera:before {
    content: "\f030";
}

.icon-font:before {
    content: "\f031";
}

.icon-bold:before {
    content: "\f032";
}

.icon-italic:before {
    content: "\f033";
}

.icon-text-height:before {
    content: "\f034";
}

.icon-text-width:before {
    content: "\f035";
}

.icon-align-left:before {
    content: "\f036";
}

.icon-align-center:before {
    content: "\f037";
}

.icon-align-right:before {
    content: "\f038";
}

.icon-align-justify:before {
    content: "\f039";
}

.icon-list:before {
    content: "\f03a";
}

.icon-indent-left:before {
    content: "\f03b";
}

.icon-indent-right:before {
    content: "\f03c";
}

.icon-facetime-video:before {
    content: "\f03d";
}

.icon-picture:before {
    content: "\f03e";
}

.icon-pencil:before {
    content: "\f040";
}

.icon-map-marker:before {
    content: "\f041";
}

.icon-adjust:before {
    content: "\f042";
}

.icon-tint:before {
    content: "\f043";
}

.icon-edit:before {
    content: "\f044";
}

.icon-share:before {
    content: "\f045";
}

.icon-check:before {
    content: "\f046";
}

.icon-move:before {
    content: "\f047";
}

.icon-step-backward:before {
    content: "\f048";
}

.icon-fast-backward:before {
    content: "\f049";
}

.icon-backward:before {
    content: "\f04a";
}

.icon-play:before {
    content: "\f04b";
}

.icon-pause:before {
    content: "\f04c";
}

.icon-stop:before {
    content: "\f04d";
}

.icon-forward:before {
    content: "\f04e";
}

.icon-fast-forward:before {
    content: "\f050";
}

.icon-step-forward:before {
    content: "\f051";
}

.icon-eject:before {
    content: "\f052";
}

.icon-chevron-left:before {
    content: "\f053";
}

.icon-chevron-right:before {
    content: "\f054";
}

.icon-plus-sign:before {
    content: "\f055";
}

.icon-minus-sign:before {
    content: "\f056";
}

.icon-remove-sign:before {
    content: "\f057";
}

.icon-ok-sign:before {
    content: "\f058";
}

.icon-question-sign:before {
    content: "\f059";
}

.icon-info-sign:before {
    content: "\f05a";
}

.icon-screenshot:before {
    content: "\f05b";
}

.icon-remove-circle:before {
    content: "\f05c";
}

.icon-ok-circle:before {
    content: "\f05d";
}

.icon-ban-circle:before {
    content: "\f05e";
}

.icon-arrow-left:before {
    content: "\f060";
}

.icon-arrow-right:before {
    content: "\f061";
}

.icon-arrow-up:before {
    content: "\f062";
}

.icon-arrow-down:before {
    content: "\f063";
}

.icon-share-alt:before {
    content: "\f064";
}

.icon-resize-full:before {
    content: "\f065";
}

.icon-resize-small:before {
    content: "\f066";
}

.icon-plus:before {
    content: "\f067";
}

.icon-minus:before {
    content: "\f068";
}

.icon-asterisk:before {
    content: "\f069";
}

.icon-exclamation-sign:before {
    content: "\f06a";
}

.icon-gift:before {
    content: "\f06b";
}

.icon-leaf:before {
    content: "\f06c";
}

.icon-fire:before {
    content: "\f06d";
}

.icon-eye-open:before {
    content: "\f06e";
}

.icon-eye-close:before {
    content: "\f070";
}

.icon-warning-sign:before {
    content: "\f071";
}

.icon-plane:before {
    content: "\f072";
}

.icon-calendar:before {
    content: "\f073";
}

.icon-random:before {
    content: "\f074";
}

.icon-comment:before {
    content: "\f075";
}

.icon-magnet:before {
    content: "\f076";
}

.icon-chevron-up:before {
    content: "\f077";
}

.icon-chevron-down:before {
    content: "\f078";
}

.icon-retweet:before {
    content: "\f079";
}

.icon-shopping-cart:before {
    content: "\f07a";
}

.icon-folder-close:before {
    content: "\f07b";
}

.icon-folder-open:before {
    content: "\f07c";
}

.icon-resize-vertical:before {
    content: "\f07d";
}

.icon-resize-horizontal:before {
    content: "\f07e";
}

.icon-bar-chart:before {
    content: "\f080";
}

.icon-twitter-sign:before {
    content: "\f081";
}

.icon-facebook-sign:before {
    content: "\f082";
}

.icon-camera-retro:before {
    content: "\f083";
}

.icon-key:before {
    content: "\f084";
}

.icon-cogs:before {
    content: "\f085";
}

.icon-comments:before {
    content: "\f086";
}

.icon-thumbs-up:before {
    content: "\f087";
}

.icon-thumbs-down:before {
    content: "\f088";
}

.icon-star-half:before {
    content: "\f089";
}

.icon-heart-empty:before {
    content: "\f08a";
}

.icon-signout:before {
    content: "\f08b";
}

.icon-linkedin-sign:before {
    content: "\f08c";
}

.icon-pushpin:before {
    content: "\f08d";
}

.icon-external-link:before {
    content: "\f08e";
}

.icon-signin:before {
    content: "\f090";
}

.icon-trophy:before {
    content: "\f091";
}

.icon-github-sign:before {
    content: "\f092";
}

.icon-upload-alt:before {
    content: "\f093";
}

.icon-lemon:before {
    content: "\f094";
}

.icon-phone:before {
    content: "\f095";
}

.icon-check-empty:before {
    content: "\f096";
}

.icon-bookmark-empty:before {
    content: "\f097";
}

.icon-phone-sign:before {
    content: "\f098";
}

.icon-twitter:before {
    content: "\f099";
}

.icon-facebook:before {
    content: "\f09a";
}

.icon-github:before {
    content: "\f09b";
}

.icon-unlock:before {
    content: "\f09c";
}

.icon-credit-card:before {
    content: "\f09d";
}

.icon-rss:before {
    content: "\f09e";
}

.icon-hdd:before {
    content: "\f0a0";
}

.icon-bullhorn:before {
    content: "\f0a1";
}

.icon-bell:before {
    content: "\f0a2";
}

.icon-certificate:before {
    content: "\f0a3";
}

.icon-hand-right:before {
    content: "\f0a4";
}

.icon-hand-left:before {
    content: "\f0a5";
}

.icon-hand-up:before {
    content: "\f0a6";
}

.icon-hand-down:before {
    content: "\f0a7";
}

.icon-circle-arrow-left:before {
    content: "\f0a8";
}

.icon-circle-arrow-right:before {
    content: "\f0a9";
}

.icon-circle-arrow-up:before {
    content: "\f0aa";
}

.icon-circle-arrow-down:before {
    content: "\f0ab";
}

.icon-globe:before {
    content: "\f0ac";
}

.icon-wrench:before {
    content: "\f0ad";
}

.icon-tasks:before {
    content: "\f0ae";
}

.icon-filter:before {
    content: "\f0b0";
}

.icon-briefcase:before {
    content: "\f0b1";
}

.icon-fullscreen:before {
    content: "\f0b2";
}

.icon-group:before {
    content: "\f0c0";
}

.icon-link:before {
    content: "\f0c1";
}

.icon-cloud:before {
    content: "\f0c2";
}

.icon-beaker:before {
    content: "\f0c3";
}

.icon-cut:before {
    content: "\f0c4";
}

.icon-copy:before {
    content: "\f0c5";
}

.icon-paper-clip:before {
    content: "\f0c6";
}

.icon-save:before {
    content: "\f0c7";
}

.icon-sign-blank:before {
    content: "\f0c8";
}

.icon-reorder:before {
    content: "\f0c9";
}

.icon-list-ul:before {
    content: "\f0ca";
}

.icon-list-ol:before {
    content: "\f0cb";
}

.icon-strikethrough:before {
    content: "\f0cc";
}

.icon-underline:before {
    content: "\f0cd";
}

.icon-table:before {
    content: "\f0ce";
}

.icon-magic:before {
    content: "\f0d0";
}

.icon-truck:before {
    content: "\f0d1";
}

.icon-pinterest:before {
    content: "\f0d2";
}

.icon-pinterest-sign:before {
    content: "\f0d3";
}

.icon-google-plus-sign:before {
    content: "\f0d4";
}

.icon-google-plus:before {
    content: "\f0d5";
}

.icon-money:before {
    content: "\f0d6";
}

.icon-caret-down:before {
    content: "\f0d7";
}

.icon-caret-up:before {
    content: "\f0d8";
}

.icon-caret-left:before {
    content: "\f0d9";
}

.icon-caret-right:before {
    content: "\f0da";
}

.icon-columns:before {
    content: "\f0db";
}

.icon-sort:before {
    content: "\f0dc";
}

.icon-sort-down:before {
    content: "\f0dd";
}

.icon-sort-up:before {
    content: "\f0de";
}

.icon-envelope-alt:before {
    content: "\f0e0";
}

.icon-linkedin:before {
    content: "\f0e1";
}

.icon-undo:before {
    content: "\f0e2";
}

.icon-legal:before {
    content: "\f0e3";
}

.icon-dashboard:before {
    content: "\f0e4";
}

.icon-comment-alt:before {
    content: "\f0e5";
}

.icon-comments-alt:before {
    content: "\f0e6";
}

.icon-bolt:before {
    content: "\f0e7";
}

.icon-sitemap:before {
    content: "\f0e8";
}

.icon-umbrella:before {
    content: "\f0e9";
}

.icon-paste:before {
    content: "\f0ea";
}

.icon-user-md:before {
    content: "\f200";
}

#access {
    zoom: 1;
}

#access:before,
#access:after {
    content: "";
    display: table;
}

#access:after {
    clear: both;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    margin-right: 0.5em;
    opacity: 0.2;
}


/* Defaut link style */

#access a,
#access #menu a,
#menu li a {
    background-color: #689384;
    display: block;
    color: #e5f1ea;
    text-decoration: none;
    padding: 0.5em;
    cursor: pointer;
    cursor: hand;
    -webkit-transition: -webkit-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
    -moz-transition: -moz-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
    -ms-transition: -ms-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
    -o-transition: -o-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
    transition: transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
}

#access a:hover,
#access #menu a:hover,
#access a.skip-link.focus,
#access #menu a.skip-link.focus,
#menu li a:hover {
    background-color: #b9d9ce;
    color: #5a4741;
    cursor: pointer;
    cursor: hand;
}

#access {
    font-size: 1.5em;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#access a.skip-link,
#access #menu a.skip-link {
    position: relative;
    z-index: 2;
}

#access a.skip-link span,
#access #menu a.skip-link span {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    -webkit-box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
    padding: 0 0.3em;
}

#access #menu li.active a a,
#access #menu li.active a a:hover,
#access #menu li.active:nth-child(odd) a,
#access #menu li.active:nth-child(odd) a:hover {
    background-color: #5a4741;
    color: #fff;
    cursor: default;
}

#menu {
    border: 0 none;
    margin: 0;
    padding: 0;
}

#menu li {
    list-style-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: hand;
    -webkit-transition: max-height 500ms linear;
    -moz-transition: max-height 500ms linear;
    -ms-transition: max-height 500ms linear;
    -o-transition: max-height 500ms linear;
    transition: max-height 500ms linear;
}

#menu li a {
    white-space: nowrap;
    overflow: hidden;
    cursor: hand;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-binding: url('xml/ellipsis.xml#ellipsis');
}

@media only screen and (max-width: 5px) {
    #menu {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: margin 500ms linear;
        -moz-transition: margin 500ms linear;
        -ms-transition: margin 500ms linear;
        -o-transition: margin 500ms linear;
        transition: margin 500ms linear;
        margin-top: -1.2em;
        overflow: hidden;
    }
    #menu li {
        max-height: 0;
        position: relative;
        cursor: hand;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -ms-perspective: 1000px;
        -o-perspective: 1000px;
        perspective: 1000px;
        display: none;
    }
    #menu li a {
        -webkit-transform-origin: top 50%;
        -moz-transform-origin: top 50%;
        -ms-transform-origin: top 50%;
        -o-transform-origin: top 50%;
        transform-origin: top 50%;
        -webkit-transform: rotateX(-90deg) scale(0.97);
        -moz-transform: rotateX(-90deg) scale(0.97);
        -ms-transform: rotateX(-90deg) scale(0.97);
        -o-transform: rotateX(-90deg) scale(0.97);
        transform: rotateX(-90deg) scale(0.97);
        position: relative;
        overflow: hidden;
        background-color: #48665c;
        cursor: hand;
        display: none;
    }
    #menu li:nth-child(odd) a {
        -webkit-box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.5);
        -webkit-transform: rotateX(90deg) scale(0.97);
        -moz-transform: rotateX(90deg) scale(0.97);
        -ms-transform: rotateX(90deg) scale(0.97);
        -o-transform: rotateX(90deg) scale(0.97);
        transform: rotateX(90deg) scale(0.97);
        display: none;
    }
    #menu li.active a:before,
    #menu li a:hover:before {
        opacity: 1;
    }
    #menu li a:hover:before {
        color: #689384;
    }
    #menu li.active a:before,
    #menu li.active a:hover:before {
        color: #fff;
    }
    #menu:target,
    #menu.target {
        margin-top: 0;
    }
    #menu:target li,
    #menu.target li {
        max-height: 2.5em;
        height: auto;
    }
    #menu:target li a,
    #menu.target li a {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
        -webkit-transform: rotateX(0) scale(1);
        -moz-transform: rotateX(0) scale(1);
        -ms-transform: rotateX(0) scale(1);
        -o-transform: rotateX(0) scale(1);
        transform: rotateX(0) scale(1);
    }
}

@media only screen and (min-width: 769px) {
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        display: block;
        text-align: center;
        margin-right: 0;
    }
    #access a.skip-link {
        display: none;
    }
    #menu {
        width: 100%;
        background: #689384;
        text-align: center;
    }
    #menu li {
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        white-space: nowrap;
    }
    #menu li {
        *display: inline;
    }
    #menu li a:before {
        -webkit-transition: -webkit-transform 500ms ease-in;
        -moz-transition: -moz-transform 500ms ease-in;
        -ms-transition: -ms-transform 500ms ease-in;
        -o-transition: -o-transform 500ms ease-in;
        transition: transform 500ms ease-in;
    }
    #menu li a:hover:before {
        -webkit-transform: translateY(1em) scale(3) rotate(15deg);
        -moz-transform: translateY(1em) scale(3) rotate(15deg);
        -ms-transform: translateY(1em) scale(3) rotate(15deg);
        -o-transform: translateY(1em) scale(3) rotate(15deg);
        transform: translateY(1em) scale(3) rotate(15deg);
    }
}


/*Navbar Properties - End*/
