<form class="form-inline">
  <div class="form-group">
    <div class="input-group">      
      <div class="input-group-append">
        <input class="form-control" placeholder="dd-mm-yyyy"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <button class="btn btn-outline-secondary glyphicon glyphicon-calendar" (click)="d.toggle()" type="button">
        </button>
      </div>
    </div>
  </div>
</form>