<div class="container" style="padding-top: 6rem; width=20%;">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3 text-center">
            <h3><span class="fa fa-user-secret" aria-hidden="true"></span> Contul meu</h3>
            <h4>Sunteti logat ca <b><i>{{ $ctrl.getCurrentUser().name }}</i><b></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>
                <div class="form-group">
                    <label>Parola veche</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ vm.errors.other }}
                    </p>
                </div>
                <div class="form-group">
                    <label>Parola noua</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required autocomplete="off"/>
                    <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                        Parola trebuie sa fie din cel putin 3 caractere.
                    </p>
                </div>
                <div class="form-group">
                    <label>Confirmare parola noua</label>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword"
                        ng-minlength="3" required="" autocomplete="off"/>
                    <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
                        Parolele trebuie sa fie identice.
                    </p>
                </div>
                <p class="help-block"> {{ vm.message }} </p>
                <button class="btn btn-primary btn-primary" type="submit">Salvare</button>
            </form>
        </div>
    </div>
</div>