<!-- maparea mesajelor se face la atributul NAME al unui input field -->

<p ng-message="required">Camp obligatoriu</p>
<p ng-message="maxlength">Campul introdus este prea lung</p>
<p ng-message="email">Adresa de email invalida</p>
<p ng-message="number">Valoarea invalida</p>
<p ng-message="snpIsObject">Valoarea invalida</p>
<p ng-message="snpLowerThan">Valoarea invalida</p>
<p ng-message="snpDateLowerThan">Data invalida</p>
<p ng-message="snpIsCnp">CNP invalid</p>
