<div>
	<h2>Order list manager
		<a [routerLink]="['/products']" class="btn btn-info">
			<i class="fas fa-home"></i>
		</a>
		<a [routerLink]="['/order-create']" class="btn btn-default btn-lg">
			<i class="fas fa-receipt"></i>
		</a>
		<a [routerLink]="['/areas']" class="btn btn-default btn-lg">
			<i class="fas fa-folder-plus"></i>
		</a>
		<button class="btn btn-success" (click)="logout()">Logout</button>
	</h2>

	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="input-group">
				<!-- <input type="text" class="form-control" placeholder="enter product" id="txtSearch" /> -->
				<select [(ngModel)]="product" (ngModelChange)="onChange($event)" id="product">
   					<option value="" disabled selected>Select a product</option>
   					<option *ngFor="let item of products" [value]="item._id">{{item.display_name}}</option>
 				</select>
				<div class="input-group-btn">
					<button class="btn btn-primary" type="button" (click)="sendToOrder()">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
				</div>
			</div>			
		</div>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Brand</th>
					<th>Description</th>
					<th>Display Name</th>
					<th>Price</th>
					<th>Tax</th>
					<th>Discount</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of orders">
					<td>{{product.brand}}</td>
					<td>{{product.description}}</td>
					<td>{{product.display_name}}</td>
					<td>{{product.price}}</td>
					<td>{{product.tax}}</td>
					<td>{{product.discount}}</td>
				</tr>
				<tr>
					<td>Total:</td>
					<td colspan="2"></td>
					<td>{{total_price}}</td>
					<td>{{total_tax}}</td>
					<td>{{total_discount}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>