<div class="container" style="padding-top: 6rem">
	<div class="row">
		<div class="col-sm-12">
			<h1>Inregistrare utilizator</h1>
		</div>
		<div class="col-sm-12">
			<form class="form" name="form" ng-submit="vm.register(form)" novalidate>

				<div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
					<label>Nume si prenume</label>

					<input type="text" name="name" class="form-control" ng-model="vm.user.name" required autocomplete="off" />
					<p class="help-block" ng-show="form.name.$error.required && vm.submitted">
						Numele este obligatoriu
					</p>
				</div>
				<div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
					<label>Parola</label>

					<input type="password" name="password" class="form-control" ng-model="vm.user.password" ng-minlength="3" required mongoose-error/>
					<p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
						Parola trebuie sa aiba cel putin 3 caractere
					</p>
					<p class="help-block" ng-show="form.password.$error.mongoose">
						{{ vm.errors.password }}
					</p>
				</div>

				<div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
					<label>Confirmare Parola</label>
					<input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.password"
						ng-minlength="3" required autocomplete="off" autocomplete="off" />
					<p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
						Parolele trebuie sa fie la fel
					</p>
				</div>

				<div>
					<button class="btn btn-inverse btn-lg btn-register" type="submit">
            <span class="fa fa-save"></span> Salvare
          </button>
				</div>
			</form>
		</div>
	</div>
	<hr>
</div>