.table{
    box-sizing: border-box;
    position: relative;
    border: 2px solid darkslategray;
    margin: 10px;
    padding: 0 10px;
    height: 80px;
    padding-top: 10px;
    padding-right: 5px;
    cursor: pointer;
}