<div class="container">
	<h1>Edit Category</h1>
	<div class="row">
		<div class="col-md-6">
			<form (ngSubmit)="updateCategory(category._id)" #productForm="ngForm">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" [(ngModel)]="category.display_name" name="name" required>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input type="text" class="form-control" [(ngModel)]="category.description" name="description" required>
				</div>
				<div class="form-group">
					<label for="long_description">Long description</label>
					<input type="text" class="form-control" [(ngModel)]="category.long_description" name="long_description" required>
				</div>
				<!-- <div class="form-group"> 
					<label for="creation_date">Creation date</label>
					<mat-form-field class="dP-full-width">
						<input matInput [matDatepicker]="creation_date" [(ngModel)]="category.creation_date" placeholder="Choose a date" name="creation_date">
						<mat-datepicker-toggle matSuffix [for]="creation_date"></mat-datepicker-toggle>
						<mat-datepicker touchUi #creation_date></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="form-group">
					<label for="start_date">Start date</label>
					<mat-form-field class="dP-full-width">
						<input matInput [matDatepicker]="start_date" [(ngModel)]="category.start_date" placeholder="Choose a date" name="start_date">
						<mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
						<mat-datepicker touchUi #start_date></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="form-group">
					<label for="end_date">End date</label>
					<mat-form-field class="dP-full-width">
						<input matInput [matDatepicker]="end_date" [(ngModel)]="category.end_date" placeholder="Choose a date" name="end_date">
						<mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
						<mat-datepicker touchUi #end_date></mat-datepicker>
					</mat-form-field>
				</div>-->
				<div class="form-group">
					<label for="keywords">Keywords</label>
					<input type="text" class="form-control" [(ngModel)]="category.keywords" name="keywords" required>
				</div>
				<div class="form-group">
					<label for="root">Root</label>
					<input type="checkbox" class="form-control" [(ngModel)]="category.root" name="root" required>
				</div>
				<div class="form-group">
					<label for="thumbnail">Thumbnail</label>
					<input type="file" class="form-control" id="thumbnail_file" [(ngModel)]="category.thumbnail" name="thumbnail" (change)="handleFileInputs($event.target.files)">
				</div>
				<div class="form-group">
					<label for="small_image">Small image</label>
					<input type="file" class="form-control" id="small_image_file" [(ngModel)]="category.small_image" name="small_image" (change)="handleFileInputs($event.target.files)">
				</div>
				<div class="form-group">
					<label for="large_image">Large image</label>
					<input type="file" class="form-control" id="large_image_file" [(ngModel)]="category.large_image" name="large_image" (change)="handleFileInputs($event.target.files)">
				</div>
				<div class="form-group">
					<label for="version">Version</label>
					<input type="text" class="form-control" [(ngModel)]="category.version" name="version
					">
				</div>
				<div class="formGroup">
					<button type="submit" class="btn btn-success" [disabled]="!categoryForm.form.valid">
						Update
					</button>
				</div>
			</form>
		</div>
	</div>
</div>