<div snp-esc="cancel(clientForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(clientForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="save()" novalidate name="clientForm">
        <div class="modal-body">
            <div class="form-group">
                <p class="text-danger">{{item.message}}</p>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': clientForm.name.$touched && clientForm.name.$invalid }">
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-user"></span>
                                <input type="text" class="form-control" placeholder="Denumire / Nume client" id="name" name="name" ng-model="item.name" required="required" autofocus/>
                                <div class="help-block" ng-messages="clientForm.name.$error" ng-if="clientForm.name.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="inner-addon left-addon" ng-class="{ 'has-error': clientForm.RegNo.$touched && clientForm.RegNo.$invalid }">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <input type="text" class="form-control" placeholder="CNP / CUI" id="RegNo" name="RegNo" ng-model="item.RegNo" required="required" title="CNP / CUI" />
                                <div class="help-block" ng-messages="clientForm.RegNo.$error" ng-if="clientForm.RegNo.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="inner-addon left-addon" ng-class="{ 'has-error': clientForm.clientType.$touched && clientForm.clientType.$invalid }">
                                <select id="clientType" name="clientType" ng-model="item.type" class="form-control" title="Tip client" required="required">
                                    <option value="Fizic">Fizic</option>
                                    <option value="Juridic">Juridic</option>
                                </select>
                                <div class="help-block" ng-messages="clientForm.clientType.$error" ng-if="clientForm.clientType.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <input type="text" class="form-control" placeholder="Adresa client" id="address" ng-model="item.address" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="inner-addon left-addon" ng-class="{ 'has-error': clientForm.mobile.$touched && clientForm.mobile.$invalid }">
                                <span class="glyphicon glyphicon-phone"></span>
                                <input type="text" class="form-control" placeholder="Mobil client" id="mobile" name="mobile" ng-model="item.mobile" required="required" title="Mobil client" />
                                <div class="help-block" ng-messages="clientForm.mobile.$error" ng-if="clientForm.mobile.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="inner-addon left-addon" ng-class="{ 'has-error': clientForm.email.$touched && clientForm.email.$invalid }">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <input type="email" class="form-control" placeholder="Email client" id="email" name="email" ng-model="item.email" email="^([a-zA-Z0-9]+[a-zA-Z0-9._%-]*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4})$" />
                                <div class="help-block" ng-messages="clientForm.email.$error" ng-if="clientForm.email.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-user"></span>
                                <input type="text" class="form-control" placeholder="Persoana de contact" id="contactPerson" ng-model="item.contactPerson.name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-earphone"></span>
                                <input type="text" class="form-control" placeholder="Mobil pers. contact" id="contactPersonMobile" ng-model="item.contactPerson.mobile" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': clientForm.email2.$touched && clientForm.email2.$invalid }">
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <input type="email" class="form-control" placeholder="Email persoana de contact" id="contactPersonEmail" name="contactPersonEmail" ng-model="item.contactPerson.email" email="^([a-zA-Z0-9]+[a-zA-Z0-9._%-]*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4})$" />
                                <div class="help-block" ng-messages="clientForm.contactPersonEmail.$error" ng-if="clientForm.contactPersonEmail.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="">
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <p><b>Detalii suplimentare despre client</b></p>
                                <textarea placeholder="Ex: Alte persoane de contact, discounturi etc." id="message" name="message" class="form-control" rows="2" ng-model="item.details"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="panel panel-default" ng-repeat="caseFile in item.cases">
                        <div class="panel-heading">
                            Dosar numar: {{caseFile.caseNumber}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "caseId">Numar dosar</label>
                                        <div class="inner-addon left-addon">
                                            <span class="glyphicon glyphicon-file"></span>
                                            <input type="text" class="form-control" id="case" ng-model="caseFile.caseNumber" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label for "caseDesc">Descriere</label>
                                        <input type="text" class="form-control" id="caseDescription" ng-model="caseFile.caseDescription" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "buildingId">Bloc</label>
                                        <select ng-model="caseFile.extended.location.building" class="form-control" ng-options="building.name for building in caseFile.extended.buildings" ng-change="caseFile.extended.locationChange(caseFile, 'building')">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "stairs">Scara</label>
                                        <select ng-model="caseFile.extended.location.stair" class="form-control" ng-options="stair.name for stair in caseFile.extended.stairs" ng-change="caseFile.extended.locationChange(caseFile, 'stair')">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "floor">Etaj</label>
                                        <select ng-model="caseFile.extended.location.floor" class="form-control" ng-options="floor.name for floor in caseFile.extended.floors" ng-change="caseFile.extended.locationChange(caseFile, 'floor')">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "apartament">Numar apt.</label>
                                        <select ng-model="caseFile.extended.location.apartment" class="form-control" ng-options="apartment.number for apartment in caseFile.extended.apartments">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "apType">Tip Apt.</label>
                                        <input type="text" class="form-control" id="type" ng-model="caseFile.extended.location.apartment.type" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col-xs-12"><b>Fisiere existente</b></p>
                                <div ng-repeat="file in caseFile.files" class="col-xs-6">
                                    <ul class="list-inline">
                                        <li>
                                            <snp-delete confirm="caseFile.extended.removeFile(caseFile, file)" size="btn-xs"></snp-delete>
                                        </li>
                                        <li>
                                            <a href="" ng-click="snpUtils.download(file.path)" title="{{file.name}}">
                                                {{file.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <p class="col-xs-12"><b>Fisiere noi</b></p>
                            </div>
                            <snp-upload accept="" files="caseFile.extended.newFiles"> </snp-upload>
                        </div>
                    </div>
                    <!--new case file-->
                    <div class="panel panel-default" ng-show="item.extended.expandCreateNewCaseFile">
                        <div class="panel-heading">
                            Dosar nou
                        </div>
                        <div class="panel-body">
                            <div class="row no-gutter">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label>Numar dosar</label>
                                        <div class="inner-addon left-addon">
                                            <span class="glyphicon glyphicon-file"></span>
                                            <input type="text" class="form-control" ng-model="item.extended.newCaseFile.caseNumber" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <label>Descriere</label>
                                        <input type="text" class="form-control" ng-model="item.extended.newCaseFile.caseDescription" />
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "buildingId">Bloc</label>
                                        <select ng-model="item.extended.newCaseFile.extended.location.building" class="form-control" ng-options="building.name for building in item.extended.newCaseFile.extended.buildings" ng-change="item.extended.newCaseFile.extended.locationChange(item.extended.newCaseFile, 'building')">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "stairs">Scara</label>
                                        <select ng-model="item.extended.newCaseFile.extended.location.stair" class="form-control" ng-options="stair.name for stair in item.extended.newCaseFile.extended.stairs" ng-change="item.extended.newCaseFile.extended.locationChange(item.extended.newCaseFile, 'stair')">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "floor">Etaj</label>
                                        <select ng-model="item.extended.newCaseFile.extended.location.floor" class="form-control" ng-options="floor.name for floor in item.extended.newCaseFile.extended.floors" ng-change="item.extended.newCaseFile.extended.locationChange(item.extended.newCaseFile, 'floor')">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "apartament">Numar apt.</label>
                                        <select ng-model="item.extended.newCaseFile.extended.location.apartment" class="form-control" title="Numar apartament" ng-options="apartment.number for apartment in item.extended.newCaseFile.extended.apartments">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for "apType">Tip Apt.</label>
                                        <input type="text" class="form-control" id="type" ng-model="item.extended.newCaseFile.extended.location.apartment.type" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col-xs-12"><b>Fisiere noi</b></p>
                            </div>
                            <snp-upload accept="" files="item.extended.newCaseFile.extended.newFiles"> </snp-upload>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-primary" ng-click="item.extended.expandCreateNewCaseFile = true;" ng-show="!item.extended.expandCreateNewCaseFile">Creaza un dosar nou</button>
                        </div>
                        <div class="col-xs-8 text-right">
                            <ul class="list-inline">
                                <li>
                                    <button type="button" class="btn btn-success" ng-disabled="!item.extended.newCaseFile.extended.location.apartment.id || !item.extended.newCaseFile.caseNumber" ng-click="item.extended.addNewCaseFile(item, item.extended.newCaseFile)" ng-show="item.extended.expandCreateNewCaseFile">Adauga dosar</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default" ng-click="item.extended.cancelAddingNewCaseFile(item)" ng-show="item.extended.expandCreateNewCaseFile">Renunta</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <snp-delete ng-show="delete.visible" confirm="delete.confirm()"></snp-delete>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancel(clientForm.$dirty)">Cancel</button>
                        <button type="submit" class="btn btn-success" value="save" ng-disabled="!clientForm.$valid">Salvare</button>
                    </div>
                </div>
            </div>
            <div ng-include="'app/views/misc/snp-overlay.html'">
            </div>
        </div>
    </form>
</div>
