<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta clientul / dosarul" id="searchClients" ng-model="searchClients" />
            </div>
        </div>
        <div class="col-md-offset-11">
            <img src="resources/img/addButton.ico" ng-click="openModal('add')" class="center-block img-circle img-responsive mouseOver" style="height: 2.5rem; width: 2.5rem;" tooltip="Adauga client">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th ng-click="sort('name')" class="span2">
                            <span class="glyphicon glyphicon-user"></span> Client si dosar
                            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('RegNo')" class="span2">
                            <i class="fa fa-file"></i> Numar identificare (CUI / CNP)
                            <span class="glyphicon sort-icon" ng-show="sortKey=='RegNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('mobile')" class="span2">
                            <i class="fa fa-phone"></i> Tel. mobil
                            <span class="glyphicon sort-icon" ng-show="sortKey=='mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('email')" class="span2">
                            <i class="fa fa-globe"></i> E-Mail
                            <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('address')">
                            <span class="glyphicon glyphicon-map-marker"></span> Adresa
                            <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="client in clients | filter:searchClients | orderBy:sortKey:reverse |  itemsPerPage: itemsPerPage ">
                        <td>
                            <button class="btn btn-link" ng-click="openModal('edit', client)">
                                {{client.name}}</button>
                            <p>
                                <i> Dosare: </i>
                                <span ng-repeat="caseFile in client.cases"> {{caseFile.caseNumber}}
                                    <span ng-if="caseFile.files.length > 0">[</span>
                                    <a href="" ng-click="snpUtils.download(file.path)" ng-repeat="file in caseFile.files" tooltip="{{file.name}}">
                                        <i class="fa fa-file"></i>
                                    </a>
                                    <span ng-if="caseFile.files.length > 0">]</span>
                                </span>
                            </p>
                        </td>
                        <td>
                            {{client.RegNo}}
                        </td>
                        <td>
                            {{client.mobile}}
                        </td>
                        <td>
                            {{client.email}}
                        </td>
                        <td>
                            {{client.address}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="itemsPerPage" ng-model="itemsPerPage" class="form-control" tooltip="Pagini">
                        <option value="999999">Toti ({{clients.length}})</option>
                        <option value="10">10/Pag</option>
                        <option value="17" ng-selected="{{itemsPerPage == 17}}">17/Pag</option>
                        <option value="50">50/Pag</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
