<div snp-esc="cancel(supplierForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(supplierForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="save()" novalidate name="supplierForm">
        <div class="modal-body">
            <tabset>
                <tab heading="Introducere furnizor">
                    <div class="form-group">
                        <p class="text-danger">{{item.message}}</p>
                    </div>
                    <div class="form-group">
                        <div class="row no-gutter">
                            <div class="col-md-7">
                                <div class="form-group" ng-class="{ 'has-error': supplierForm.name.$touched && supplierForm.name.$invalid }">
                                    <div class="inner-addon left-addon">
                                        <span class="fa fa-truck"></span>
                                        <input type="text" class="form-control" placeholder="Nume Furnizor" id="name" name="name" ng-model="item.name" required="required" autofocus/>
                                        <div class="help-block" ng-messages="supplierForm.name.$error" ng-if="supplierForm.name.$touched">
                                            <div ng-messages-include="app/views/misc/messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" ng-class="{ 'has-error': supplierForm.CUI.$touched && supplierForm.CUI.$invalid }">
                                    <div class="inner-addon left-addon">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        <input type="text" class="form-control" placeholder="CUI" id="CUI" name="CUI" ng-model="item.CUI" />
                                        <div class="help-block" ng-messages="supplierForm.CUI.$error" ng-if="supplierForm.CUI.$touched">
                                            <div ng-messages-include="app/views/misc/messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="inner-addon left-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <input type="text" class="form-control" placeholder="Persoana de contact" id="contactPerson" ng-model="item.contactPerson" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error': supplierForm.mobile1.$touched && supplierForm.mobile1.$invalid }">
                                    <div class="inner-addon left-addon">
                                        <span class="glyphicon glyphicon-phone"></span>
                                        <input type="number" class="form-control" placeholder="Mobil" id="mobile1" name="mobile1" ng-model="item.mobile1" step="any"/>
                                        <div class="help-block" ng-messages="supplierForm.mobile1.$error" ng-if="supplierForm.mobile1.$touched">
                                            <div ng-messages-include="app/views/misc/messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="form-group">
                                <div class="inner-addon left-addon">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    <input type="text" class="form-control" placeholder="Adresa" id="address" ng-model="item.address" />
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="inner-addon left-addon">
                                        <span class="glyphicon glyphicon-phone-alt"></span>
                                        <input type="number" class="form-control" placeholder="Telefon/Fax" id="telephoneFax" ng-model="item.telephoneFax" step="any"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="inner-addon left-addon">
                                        <span class="glyphicon glyphicon-earphone"></span>
                                        <input type="number" class="form-control" placeholder="Mobil firma" id="mobile2" ng-model="item.mobile2" step="any"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="inner-addon left-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        <input type="email" class="form-control" placeholder="Email" id="email" ng-model="item.email1" name="email" email="^([a-zA-Z0-9]+[a-zA-Z0-9._%-]*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4})$" />
                                        <div class="help-block" ng-messages="supplierForm.email.$error" ng-if="supplierForm.email.$touched">
                                            <div ng-messages-include="app/views/misc/messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="inner-addon left-addon">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <input type="text" class="form-control" placeholder="Website" id="website" ng-model="item.website" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <p><i>Detalii suplimentare despre furnizor</i></p>
                                <textarea placeholder="Ex: Numarul de inregistrare, discounturi etc." id="message" name="message" class="form-control" rows="3" ng-model="item.details"></textarea>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Asignare servicii">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr ng-repeat="service in item.extended.services">
                                <td>
                                    {{service.name}}
                                </td>
                                <td class="text-right" width="100px">
                                    <snp-delete confirm="item.extended.deleteService(service, item)"></snp-delete>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" placeholder="Cautare serviciu" autocomplete="false" ng-model="item.extended.newService" typeahead="service as service.name for service in item.extended.allServices | filter: $viewValue | limitTo:8" typeahead-select-on-exact="true" typeahead-focus-first="true" typeahead-on-select="item.extended.addService($item, item)" typeahead-min-length="0">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <snp-delete ng-show="delete.visible" confirm="delete.confirm(supplierForm.$dirty)"></snp-delete>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(supplierForm.$dirty)">Cancel</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!supplierForm.$valid">Salvare</button>
                </div>
            </div>
        </div>
        <div ng-include="'app/views/misc/snp-overlay.html'"></div>
    </form>
</div>