<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta furnizorul" id="search" ng-model="searchSupplier" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-offset-11">
            <img src="resources/img/addButton.ico" ng-click="openModal('add')" class="center-block img-circle img-responsive mouseOver" style="height: 2.5rem; width: 2.5rem;" title="Adauga furnizor">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th ng-click="sort('name')">
                            <i class="fa fa-truck"></i> Denumire furnizor
                            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('CUI')">
                            <i class="fa fa-file"></i> CUI
                            <span class="glyphicon sort-icon" ng-show="sortKey=='CUI'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('contactPerson')">
                            <span class="glyphicon glyphicon-user"></span> Persoana contact
                            <span class="glyphicon sort-icon" ng-show="sortKey=='contactPerson'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('mobile1')">
                            <i class="fa fa-phone"></i> Mobil
                            <span class="glyphicon sort-icon" ng-show="sortKey=='mobile1'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('services')">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Servicii
                            <span class="glyphicon sort-icon" ng-show="sortKey=='services'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="supplier in suppliers | filter:searchSupplier | orderBy:sortKey:reverse | itemsPerPage: itemsPerPage ">
                        <td>
                            <button class="btn btn-link" ng-click="openModal('edit', supplier)">
                                {{supplier.name}}
                            </button>
                        </td>
                        <td>
                            {{supplier.CUI}}
                        </td>
                        <td>
                            {{supplier.contactPerson}}
                        </td>
                        <td>
                            {{supplier.mobile1}}
                        </td>
                        <td>
                            <span ng-repeat="service in supplier.services" class="glyphicon glyphicon-wrench" title="{{service.name}}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="itemsPerPage" ng-model="itemsPerPage" class="form-control" title="Pagini">
<!--                         <option value="999999">Toti ({{suppliers.length}})</option> -->
                        <option value="10">10/Pag</option>
                        <option value="17" ng-selected="{{itemsPerPage == 17}}">17/Pag</option>
                        <option value="50">50/Pag</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
