<div>
	<h2>Order for table {{table.number}}</h2>

	<!-- <div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="enter product" id="txtSearch" />
				<select [(ngModel)]="product" (ngModelChange)="onChange($event)" id="product">
   					<option value="" disabled selected>Select a product</option>
   					<option *ngFor="let item of products" [value]="item._id">{{item.display_name}}</option>
 				</select>
				<div class="input-group-btn">
					<button class="btn btn-primary" type="button" (click)="sendToOrder()">
						<i class="far fa-plus-square"></i>
					</button>
					<button class="btn btn-primary" type="button" (click)="saveOrder()">
						<i class="far fa-save"></i>
					</button>
				</div>
			</div>			
		</div>
	</div> -->
	<div class="container">
		<span *ngFor="let category of categories">{{category.display_name}}</span>
		<!-- <table class="table">
			<thead>
				<tr>
					<th>Brand</th>
					<th>Description</th>
					<th>Display Name</th>
					<th>Price</th>
					<th>Tax</th>
					<th>Discount</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of orders">
					<td>{{product.brand}}</td>
					<td>{{product.description}}</td>
					<td>{{product.display_name}}</td>
					<td>{{product.price}}</td>
					<td>{{product.tax}}</td>
					<td>{{product.discount}}</td>
				</tr>
				<tr>
					<td>Total:</td>
					<td colspan="2"></td>
					<td>{{total_price}}</td>
					<td>{{total_tax}}</td>
					<td>{{total_discount}}</td>
				</tr>
			</tbody>
		</table> -->
	</div>
</div>