<div snp-esc="cancel(form.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(form.$dirty)">×</a>
        <h4 class="modal-title text-center">{{title}}</h4>
    </div>
    <form name="form" role="form" ng-submit="save()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': form.code.$touched && form.code.$invalid }">
                            <label class="control-label">Cod</label>
                            <div class="icon-addon">
                                <i class="fa fa-sort-numeric-asc"></i>
                                <input type="text" class="form-control" placeholder="Cod" name="code" id="code" ng-model="item.code" required="required"
                                    autofocus autocomplete="off" />
                                <div class="help-block" ng-messages="form.code.$error" ng-if="form.code.$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7" style="padding:0;">
                        <label>Denumire</label>
                        <div class="icon-addon">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" placeholder="Denumire" name="name" id="name" ng-model="item.name" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox text-center" style="top: 1.5rem;">
                            <label>
                            <input type="checkbox" ng-model="item.active"> Activ
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-md-12" style="padding:0;">
                        <label>Descriere</label>
                        <div class="icon-addon">
                            <i class="fa fa-file-text-o"></i>
                            <input type="text" class="form-control" placeholder="Descriere" name="description" id="description" ng-model="item.description"
                                autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <p><i>Detalii suplimentare despre sector</i></p>
                <textarea id="details" name="details" class="form-control" rows="3" ng-model="item.details"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <snp-delete ng-show="delete.visible" confirm="delete.confirm()" size="btn-sm"></snp-delete>
                </div>
                <div class="col-xs-8 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(form.$dirty)"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Anulare</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!form.$valid"><span class="fa fa-save"></span> Salvare</button>
                </div>
            </div>
            <div ng-include="'snp-overlay.html'"></div>
        </div>
    </form>
</div>