<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-3 col-xs-10 text-center">
            <h4><span class="fa fa-sitemap" aria-hidden="true"></span> Customizare sectoare</h4>
        </div>
        <div class="col-md-2 col-xs-10">
            <div class="icon-addon">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Cauta sector " id="search" ng-model="$ctrl.searchSector" autocomplete="off"
                />
            </div>
        </div>

        <div class="col-md-5 text-right">
            <span class="fa fa-plus-circle fa-3x mouseOver" ng-click="$ctrl.openModal('add')" uib-tooltip="Adauga sector" style="color:green;"
                tooltip-append-to-body="true"></span>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row no-gutter">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 table-responsive">
            <table class="table table-striped voffset1 table-condensed" id="alignedTable">
                <thead>
                    <tr class="mouseOver">
                        <th style="width: 80px!important;" class="text-center" ng-click="$ctrl.sort('active')">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='active'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='active'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('code')" style="width:10rem">
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Cod
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='code'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='code'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('name')" style="width:30rem">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Denumire sector
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='name'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='name'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('description')">
                            <span class="fa fa-file-text-o"></span> Descriere
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='description'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='description'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('details')" style="max-width: 30px!important;">
                            <span class="fa fa-navicon"></span> Detalii
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='details'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='details'"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="sector in $ctrl.sectors | filterByMatchingFields: $ctrl.searchSector : 'code' : 'name' : 'description' : 'details' | orderBy:$ctrl.customSorter:$ctrl.sortOptions.reverse | itemsPerPage: 20"
                        pagination-id="paginationSectors">
                        <td class="text-center">
                            <label title="Activ/Inactiv">
                            <i class="fa fa-check" ng-class="sector.active ? 'fa-check' : 'fa-minus'" aria-hidden="true"></i>
                        </label>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="$ctrl.openModal('edit', sector)">
                            {{sector.code}}
                        </button>
                        </td>
                        <td>
                            {{sector.name}}
                        </td>
                        <td>
                            {{sector.description}}
                        </td>
                        <td>
                            {{sector.details}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationSectors">
            </dir-pagination-controls>
        </div>
    </div>
</div>