<div id="cust-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Deschide meniu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><i class="fa fa-skyatlas fa-lg" aria-hidden="true" style="margin-right:1em"></i>MM Flow</a>
      <i class="fa fa-spinner fa-spin fa-2x voffset1" snp-loading></i>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse navbar-menubuilder" id="navbar-main">
      <ul ng-if="!$ctrl.isLoggedIn()" class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="login">Login</a></li>
      </ul>
      <ul ng-if="$ctrl.isLoggedIn()" class="nav navbar-nav navbar-right">
        <li uib-dropdown ng-class="" class="mouseOver">
          <a uib-dropdown-toggle><span class="fa fa-cogs" aria-hidden="true" ></span> Profit & Loss <b>(&beta;)</b><span class="caret"></span></a>
          <ul uib-dropdown-menu role="menu" style="text-align:center;">
            <li ui-sref-active="active"><a ui-sref="app.sell-volume"><span class="fa fa-bar-chart" aria-hidden="true"></span> Volum vanzari <b>(&beta;)</b></a></li>
            <li ui-sref-active="active"><a ui-sref="app.pnl"><span class="fa fa-bar-chart" aria-hidden="true"></span> Import P&L <b>(&beta;)</b></a></li>
          </ul>
        </li>
        <!-- <li ui-sref-active="active"><a ui-sref="app.achievement"><span class="fa fa-users" aria-hidden="true"></span> Realizari productie</a></li> -->
        <li uib-dropdown ng-class="" class="mouseOver">
          <a uib-dropdown-toggle><span class="fa fa-cogs" aria-hidden="true"></span> Raportare <span class="caret"></span></a>
          <ul uib-dropdown-menu role="menu" style="text-align:center;">
            <li ui-sref-active="active"><a ui-sref="app.report-profit-loss"><span class="fa fa-bar-chart" aria-hidden="true"></span> P&L <b>(&beta;)</b></a></li>
            <!-- <li ui-sref-active="active"><a ui-sref="app.report"><span class="fa fa-bar-chart" aria-hidden="true"></span> Productie <b>(&beta;)</b></a></li> -->
          </ul>
        </li>
        </li>
        <li ng-if="$ctrl.isAdmin()" uib-dropdown ng-class="{active: $ctrl.$state.includes('customizing') || $ctrl.$state.is('admin')}"
          class="mouseOver">
          <a uib-dropdown-toggle><span class="fa fa-cogs" aria-hidden="true"></span> Customizare <span class="caret"></span></a>
          <ul uib-dropdown-menu role="menu" style="text-align:center;">
            <!-- <li ui-sref-active="active"><a ui-sref="app.stuli"><span class="fa fa-clock-o" aria-hidden="true"></span> Stuli SAP</a></li> -->
            <!-- <hr style="height:1px;border:none;color:#333;background-color:#333;margin:0;" /> -->
            <li ui-sref-active="active"><a ui-sref="customizing.budget-line"><span class="fa fa-euro" aria-hidden="true"></span> Linii de buget <b>(&beta;)</b></a></li>
            <!--<li ui-sref-active="active"><a ui-sref="customizing.cost-grouping"><span class="fa fa-euro" aria-hidden="true"></span> Grupare costuri <b>(&beta;)</b></a></li>-->
            <li ui-sref-active="active"><a ui-sref="customizing.cost-center"><span class="fa fa-euro" aria-hidden="true"></span> Centre de cost <b>(&beta;)</b></a></li>
            <hr style="height:1px;border:none;color:#333;background-color:#333;margin:0;" />
            <!-- <li ui-sref-active="active"><a ui-sref="customizing.sector"><span class="fa fa-sitemap" aria-hidden="true"></span> Sectoare</a></li> -->
            <!-- <li ui-sref-active="active"><a ui-sref="customizing.material-group"><span class="fa fa-object-group" aria-hidden="true"></span> Grupe materiale</a></li> -->
            <hr style="height:1px;border:none;color:#333;background-color:#333;margin:0;" />
            <li ui-sref-active="active"><a ui-sref="admin"><span class="fa fa-user-plus" aria-hidden="true"></span> Utilizatori</a></li>
            <!--ng-show="$ctrl.isAdmin()"-->
          </ul>
        </li>
        <li uib-dropdown ng-class="{active: $ctrl.$state.is('my-account')}" class="mouseOver">
          <a uib-dropdown-toggle><span class="fa fa-user" aria-hidden="true"></span> {{ $ctrl.getCurrentUser().userName }} <span class="caret"></span></a>
          <ul uib-dropdown-menu role="menu" style="text-align:center;">
            <li ui-sref-active="active"><a ui-sref="settings"><span class="fa fa-user-secret" aria-hidden="true"></span> Contul meu</a></li>
            <!--logot should redirect to login-->
            <li><a ui-sref="logout"><span class="fa fa-sign-out" aria-hidden="true"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
      <!--<li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>-->
    </div>
  </div>
</div>
