<div class="container">
  <div class="row">
      <div class="card" id="usersManagement" (click)="openUsersManagement()">Users</div>
      <div class="card" id="categoriesManagement" (click)="openCategoriesManagement()">Categories</div>
      <div class="card" id="productsManagement" (click)="openProductsManagement()">Products</div>
  </div>
  <div #componentContainer></div> 
</div>