<div snp-esc="cancel(form.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(form.$dirty)">×</a>
        <h4 class="modal-title text-center">{{title}}</h4>
    </div>
    <form name="form" role="form" ng-submit="save()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label class="control-label">Luna si Anul</label>
                        <div>
                            <p class="input-group">
                                <input name="year" uib-datepicker-popup="{{item.pickerYear.dateOptions.format}}" type="text" class="form-control" ng-model="item.pickerYear.date"
                                    is-open="item.pickerYear.isOpen" datepicker-append-to-body="false" ng-required="true" close-text="Close"
                                    alt-input-formats="altInputFormats" ng-change="item.pickerYear.changed(item)" show-button-bar="false"
                                    style="text-align: center;" ng-readonly="true" required="required">
                                <span class="input-group-btn">
 								    <button type="button" class="btn btn-default" ng-click="item.pickerYear.open(item)"><i class="glyphicon glyphicon-calendar"></i></button>
 							    </span>
                            </p>
                            <div class="help-block" ng-messages="form.year.$error" ng-if="form.year.$touched">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.soldBudget.$touched && form.soldBudget.$invalid }">
                            <label class="control-label">Volum bugetat vandut</label>
                            <div class="icon-addon">
                                <i class="fa fa-sort-numeric-asc"></i>
                                <input type="number" class="form-control" placeholder="" name="soldBudget" id="soldBudget" ng-model="item.soldBudget" autofocus
                                    autocomplete="off" required="required" />
                                <div class="help-block" ng-messages="form.soldBudget.$error" ng-if="form.soldBudget.$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.prodBudget.$touched && form.prodBudget.$invalid }">
                            <label>Volum bugetat realizat</label>
                            <div class="icon-addon">
                                <i class="fa fa-sort-numeric-asc"></i>
                                <input type="number" class="form-control" placeholder="" name="prodBudget" id="prodBudget" ng-model="item.prodBudget" autocomplete="off"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.soldMins.$touched && form.soldMins.$invalid }">
                            <label class="control-label">Volum realizat vandut</label>
                            <div class="icon-addon">
                                <i class="fa fa-file-text-o"></i>
                                <input type="text" class="form-control" placeholder="" name="soldMins" id="soldMins" ng-model="item.soldMins" required="required"
                                    autocomplete="off" />
                                <div class="help-block" ng-messages="form.soldMins.$error" ng-if="form.soldMins.$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Volum realizat produs</label>
                        <div class="icon-addon">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" placeholder="" name="prodMins" id="prodMins" ng-model="item.prodMins" autocomplete="off"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-5 text-left">
                    <snp-delete ng-show="delete.visible" confirm="delete.confirm()" size="btn-sm"></snp-delete>
                </div>
                <div class="col-xs-7 text-right">
                    <!--<button type="button" class="btn btn-default btn-sm" ng-click="cancel(form.$dirty)"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Anulare</button>-->
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!form.soldBudget.$valid||!form.prodBudget.$valid||!form.soldMins.$valid||!form.year.$valid"><span class="fa fa-save"></span> Salvare</button>
                </div>
            </div>
            <div ng-include="'snp-overlay.html'"></div>
        </div>
    </form>
</div>