<div class="container-fluid" style="padding-top: 6rem">
    <div class="row no-gutter">
        <div class="col-md-3 col-xs-10 text-center">
            <h4><span class="fa fa-sitemap" aria-hidden="true"></span> Volum vanzari</h4>
        </div>
        <div class="col-md-2 col-xs-10">
            <div class="icon-addon">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Cauta volum vanzari" id="search" ng-model="$ctrl.serchSellVolume" autocomplete="off"
                />
            </div>
        </div>
        <div class="col-md-5 text-right">
            <span class="fa fa-plus-circle fa-3x mouseOver" ng-click="$ctrl.openModal('add')" uib-tooltip="Adauga volum vanzari" style="color:green;"
                tooltip-append-to-body="true"></span>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row no-gutter">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 table-responsive">
            <table class="table table-striped voffset1 table-condensed" id="alignedTable">
                <thead>
                    <tr class="mouseOver">
                        <th ng-click="$ctrl.sort('year')" class="text-center" style="width:20rem">
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Luna si anul
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='year'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='year'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('soldBudget')" class="text-center" style="width:20%">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Buget vandut
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='soldBudget'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='soldBudget'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('prodBudget')" class="text-center" style="width:20%">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Bugetat produs
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='prodBudget'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='prodBudget'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('sold_mins')" class="text-center" style="width:20%">
                            <span class="fa fa-file-text-o"></span> Realizat vandut
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='sold_mins'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='sold_mins'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('prod_mins')" class="text-center" style="width:20%">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Realizat produs
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='prod_mins'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='prod_mins'"></span>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="sellVolume in $ctrl.sellVolumes | filterByMatchingFields: $ctrl.serchCostCenter : 'year' : 'budget' : 'prod_mins' : 'sold_mins' | orderBy:$ctrl.customSorter:$ctrl.sortOptions.reverse | itemsPerPage: 20"
                        pagination-id="paginationSellVolume">
                        <td class="text-center">
                            <button class="btn btn-link" ng-click="$ctrl.openModal('edit', sellVolume)">
                            {{sellVolume.year | date:'MM-yyyy'}}
                        </button>
                        </td>
                        <td class="text-center">
                            {{sellVolume.soldBudget}}
                        </td>
                        <td class="text-center">
                            {{sellVolume.prodBudget}}
                        </td>
                        <td class="text-center">
                            {{sellVolume.soldMins}}
                        </td>
                        <td class="text-center">
                            {{sellVolume.prodMins}}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationSellVolume">
            </dir-pagination-controls>
        </div>
    </div>
</div>