<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-3 col-xs-10 text-center">
            <h4><span class="fa fa-sitemap" aria-hidden="true"></span> Customizare linii de buget</h4>
        </div>
        <div class="col-md-2 col-xs-10">
            <div class="icon-addon">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Cauta linie de buget " id="search" ng-model="$ctrl.searchBudgetLine"
                    autocomplete="off" />
            </div>
        </div>
        <div class="col-md-4 text-right">
            <span class="fa fa-plus-circle fa-3x mouseOver" ng-click="$ctrl.openModal('add')" uib-tooltip="Adauga linie de buget" style="color:green;"
                tooltip-append-to-body="true"></span>
            <!-- <span class="fa fa-user fa-3x mouseOver" ng-click="$ctrl.openModalYearlyBudget('add')" uib-tooltip="Adauga linie de buget"
                style="color:green;" tooltip-append-to-body="true"></span> -->
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row no-gutter">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 table-responsive">
            <table class="table table-striped voffset1 table-condensed" id="alignedTable">
                <thead>
                    <tr class="mouseOver">
                        <th style="width: 80px!important;" class="text-center" ng-click="$ctrl.sort('active')">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='active'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='active'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('code')" style="width:20rem">
                            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Cod
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='code'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='code'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('name')" style="width:30rem">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Denumire linie de buget
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='name'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='name'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('details')" class="text-right" style="padding-right: 3rem;">
                            <span class="fa fa-tasks"></span> Bugete anuale
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='yearlyBudget'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='yearlyBudget'"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="budgetLine in $ctrl.budgetLines | filterByMatchingFields: $ctrl.searchBudgetLine : 'code' : 'name' : 'validity' : 'yearlyBudget' | orderBy:$ctrl.customSorter:$ctrl.sortOptions.reverse | itemsPerPage: 20"
                        pagination-id="paginationBudgetLines">
                        <td class="text-center">
                            <label title="Activ/Inactiv">
                            <i class="fa fa-check" ng-class="budgetLine.isActive ? 'fa-check' : 'fa-minus'" aria-hidden="true"></i>
                        </label>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="$ctrl.openModal('edit', budgetLine)">
                            {{budgetLine.code}}
                        </button>
                        </td>
                        <td>
                            {{budgetLine.name}}
                        </td>
                        <td class="text-right" style="padding-right: 4rem!important;">
                            <span class="fa fa-tasks fa-lg mouseOver" ng-click="$ctrl.openModalYearlyBudget('edit', budgetLine)" uib-tooltip="Adauga / Editeaza buget"
                                style="color:blueviolet;" tooltip-append-to-body="true"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationBudgetLines">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>