<div snp-esc="cancel(form.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(form.$dirty)">×</a>
        <h4 class="modal-title text-center">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form name="formBudgetLine" role="form" novalidate>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4" class="form-group" ng-class="{ 'has-error': formBudgetLine.budgetLineCode.$touched && formBudgetLine.budgetLineCode.$invalid }">
                        <label class="control-label">Cod</label>
                        <div class="icon-addon">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" placeholder="Cod" name="budgetLineCode" ng-model="item.code" autocomplete="off"
                                required="required" />
                            <div class="help-block" ng-messages="formBudgetLine.budgetLineCode.$error" ng-if="formBudgetLine.budgetLineCode.$touched">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" class="form-group" ng-class="{ 'has-error': formBudgetLine.budgetLineName.$touched && formBudgetLine.budgetLineName.$invalid }">
                        <label class="control-label">Denumire linie de buget</label>
                        <div class="icon-addon">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" placeholder="Denumire" name="budgetLineName" ng-model="item.name" autocomplete="off"
                                required="required" />
                            <div class="help-block" ng-messages="formBudgetLine.budgetLineName.$error" ng-if="formBudgetLine.budgetLineName.$touched">
                                <div ng-message="required">Camp obligatoriu</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-5">
                        <label>Descriere</label>
                        <div class="icon-addon">
                            <i class="fa fa-file-text-o"></i>
                            <input type="text" class="form-control" placeholder="Descriere" name="description" id="description" ng-model="item.description"
                                autocomplete="off" />
                        </div>
                    </div>-->
                    <div class="col-md-2">
                        <div class="checkbox text-center" style="top: 1.5rem;">
                            <label>
                            <input type="checkbox" ng-model="item.isActive"> Activ
                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form role="form" novalidate name="formBudgetAccounts">
            <div class="form-group text-center">
                <table class="table table-condensed">
                    <caption><b><i>Conturi aferente liniei de buget</i></b></caption>
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Cont
                            </th>
                            <th>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> De la
                            </th>
                            <th class="text-right" style="width:11rem">
                                <button type="button" class="btn btn-link" style="padding:0px; margin:0px;" ng-show="!item.newAccount.isAddOpen" ng-click="item.newAccount.onAdd()">
									 	<i class="fa fa-plus-circle fa-2x" aria-hidden="true" style="color:green;" uib-tooltip="Adauga cont" tooltip-append-to-body="true"></i>
									 </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="account in item.accounts" ng-if="item.accounts.length > 0">
                            <td>
                                <div class="form-inline"  ng-class="{ 'has-error': formBudgetAccounts['accountName_' + $index].$touched && formBudgetAccounts['accountName_' + $index].$invalid }">
                                    <input type="text" class="form-control" name="accountName_{{$index}}" ng-model="account.name" required="required" autocomplete="off"
                                    />
                                    <div class="help-block" ng-messages="formBudgetAccounts['accountName_' + $index].$error" ng-if="formBudgetAccounts['accountName_' + $index].$touched">
                                        <div ng-message="required">Camp obligatoriu</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': formBudgetAccounts['accountValidFrom' + $index].$touched && formBudgetAccounts['accountValidFrom' + $index].$invalid }">
                                    <div>
                                        <p class="input-group">
                                            <input uib-datepicker-popup="{{account.pickerValidFrom.dateOptions.format}}" type="text" class="form-control" ng-model="account.pickerValidFrom.date"
                                                is-open="account.pickerValidFrom.isOpen" datepicker-append-to-body="false" ng-required="true"
                                                close-text="Close" alt-input-formats="altInputFormats" ng-change="account.pickerValidFrom.changed(account)"
                                                show-button-bar="false" style="text-align: center;" ng-readonly="true">
                                            <span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="account.pickerValidFrom.open(account)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
                                        </p>
                                        <div class="help-block" ng-messages="formBudgetAccounts['accountValidFrom' + $index].$error" ng-if="formBudgetAccounts['accountValidFrom' + $index].$touched">
                                            <div ng-message="required">Camp obligatoriu</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right" style="width:17rem">
                                <snp-delete confirm="item.onDeleteAccount(account)" size="btn-sm" style="display: inline-block"></snp-delete>
                            </td>
                        </tr>
                        <tr ng-if="item.newAccount.isAddOpen">
                            <td>
                                <div class="form-inline" ng-class="{ 'has-error': formBudgetAccounts.newAccountName.$touched && formBudgetAccounts.newAccountName.$invalid }">
                                    <input type="text" class="form-control" name="newAccountName" ng-model="item.newAccount.data.name" required="required" autocomplete="off"
                                    />
                                    <div class="help-block" ng-messages="formBudgetAccounts.newAccountName.$error" ng-if="formBudgetAccounts.newAccountName.$touched">
                                        <div ng-message="required">Camp obligatoriu</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': formBudgetAccounts.newAccountValidFrom.$touched && formBudgetAccounts.newAccountValidFrom.$invalid }">
                                    <div>
                                        <p class="input-group">
                                            <input name="newAccountValidFrom" uib-datepicker-popup="{{item.newAccount.pickerValidFrom.dateOptions.format}}" type="text"
                                                class="form-control" ng-model="item.newAccount.pickerValidFrom.date" is-open="item.newAccount.pickerValidFrom.isOpen"
                                                datepicker-append-to-body="false" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                                ng-change="item.newAccount.pickerValidFrom.changed(item.newAccount)" show-button-bar="false"
                                                style="text-align: center;" ng-readonly="true">
                                            <span class="input-group-btn">
 													<button type="button" class="btn btn-default" ng-click="item.newAccount.pickerValidFrom.open(item.newAccount)"><i class="glyphicon glyphicon-calendar"></i></button>
 												</span>
                                        </p>
                                        <div class="help-block" ng-messages="formBudgetAccounts.newAccountValidFrom.$error" ng-if="formBudgetAccounts.newAccountValidFrom.$touched">
                                            <div ng-message="required">Camp obligatoriu</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <snp-confirm class="text-right" confirm="item.newAccount.onConfirm()" cancel="item.newAccount.onCancel()" confirm-disabled="!formBudgetAccounts.$valid"
                                    size="btn-sm">
                                </snp-confirm>
                            </td>
                        </tr>
                        <tr ng-if="item.absences.length==0 && !item.newAccount.isAddOpen">
                            <td colspan="4" align="center">
                                <p><i>Nu exista intrari</i></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-4 text-left">
                <snp-delete ng-show="delete.visible" confirm="delete.confirm()" size="btn-sm"></snp-delete>
            </div>
            <div class="col-xs-8 text-right">
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel(form.$dirty)"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Anulare</button>
                <button type="button" class="btn btn-success" value="save" ng-click="save()" ng-disabled="!formBudgetLine.$valid || !formBudgetAccounts.$valid || item.newAccount.isAddOpen"><span class="fa fa-save"></span> Salvare</button>
            </div>
        </div>
        <div ng-include="'snp-overlay.html'"></div>
    </div>
    <!--</form>-->
</div>