<div snp-esc="cancel(form.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(form.$dirty)">×</a>
        <h4 class="modal-title text-center">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form name="formBudgets" role="form" ng-submit="save()" novalidate>
            <div class="form-group text-center">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-inline" ng-class="{ 'has-error': formBudgets.newBudgetFrom.$touched && formBudgets.newBudgetFrom.$invalid }">
                                        <div><label class="control-label">Selectati anul</label>
                                            <p class="input-group">
                                                <input name="newBudgetFrom" uib-datepicker-popup="{{item.newBudget.pickerFrom.dateOptions.format}}" type="text" class="form-control"
                                                    ng-model="item.newBudget.pickerFrom.date" is-open="item.newBudget.pickerFrom.isOpen"
                                                    datepicker-append-to-body="false" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                                    ng-change="item.newBudget.pickerFrom.changed(item.budgets, item.newBudget)"
                                                    show-button-bar="false" ng-readonly="true">
                                                <span class="input-group-btn">
 											<button type="button" class="btn btn-default" ng-click="item.newBudget.pickerFrom.open(item.newBudget)"><i class="glyphicon glyphicon-calendar"></i></button>
 										</span>
                                            </p>
                                            <div class="help-block" ng-messages="formBudgets.newBudgetFrom.$error" ng-if="formBudgets.newBudgetFrom.$touched">
                                                <div ng-message="required">Camp obligatoriu</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <snp-confirm class="text-right" confirm="item.newBudget.onConfirm()" cancel="item.newBudget.onCancel()" confirm-disabled="!formBudgets.$valid"
                                            size="btn-sm">
                                        </snp-confirm>
                                    </div>
                                </div>
                            </div>
                            <!--<td ng-if="item.isAvail" class="text-right" style="width:17rem">
                                <snp-delete confirm="item.onDeleteBudget(budget)" size="btn-sm" style="display: inline-block"></snp-delete>
                            </td>-->
                            <!--</th>-->
                            <!--<th class="text-right" style="width:11rem">
                                <button type="button" class="btn btn-link" style="padding:0px; margin:0px;" ng-show="!item.newBudget.isAddOpen" ng-click="item.newBudget.onAdd()">
									 	<i class="fa fa-plus-circle fa-2x" aria-hidden="true" style="color:green;" uib-tooltip="Adauga" tooltip-append-to-body="true"></i>
								</button>
                            </th>-->
                    </thead>
                    <tbody>
                        <!--<tr ng-if="item.newBudget.isAddOpen || !item.wasDeleted">
                            <td>
                                <table class="table table-condensed">
                                    <tbody>-->
                        <tr>
                            <td><label class="control-label">Ianuarie</label></td>
                            <td div class="form-inline" style="width:15%" ng-class="{ 'has-error': formBudgets['ian'].$touched && formBudgets['ian'].$invalid }">
                                <input type="number" class="form-control" name="ian" ng-model="item.newBudget.data.ian" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['ian'].$error" ng-if="formBudgets['ian'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">Februarie </label></td>
                            <td class="form-inline" style="width:15%" ng-class="{ 'has-error': formBudgets['feb'].$touched && formBudgets['feb'].$invalid }">
                                <input type="number" class="form-control" name="feb" ng-model="item.newBudget.data.feb" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['feb'].$error" ng-if="formBudgets['feb'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">Martie </label></td>
                            <td class="form-inline" style="width:15%" ng-class="{ 'has-error': formBudgets['mar'].$touched && formBudgets['mar'].$invalid }">
                                <input type="number" class="form-control" name="mar" ng-model="item.newBudget.data.mar" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['mar'].$error" ng-if="formBudgets['mar'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Aprilie</label></td>
                            <td class="form-inline" style="width:15%" ng-class="{ 'has-error': formBudgets['apr'].$touched && formBudgets['apr'].$invalid }">
                                <input type="number" class="form-control" name="apr" ng-model="item.newBudget.data.apr" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['apr'].$error" ng-if="formBudgets['apr'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">Mai</label></td>
                            <td class="form-inline" style="width:15%" ng-class="{ 'has-error': formBudgets['mai'].$touched && formBudgets['mai'].$invalid }">
                                <input type="number" class="form-control" name="mai" ng-model="item.newBudget.data.mai" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['mai'].$error" ng-if="formBudgets['mai'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">Iunie</label></td>
                            <td class="form-inline" style="width:15%" ng-class="{ 'has-error': formBudgets['iun'].$touched && formBudgets['iun'].$invalid }">
                                <input type="number" class="form-control" name="iun" ng-model="item.newBudget.data.iun" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['iun'].$error" ng-if="formBudgets['iun'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Iulie </label></td>
                            <td class="form-inline" ng-class="{ 'has-error': formBudgets['iul'].$touched && formBudgets['iul'].$invalid }">
                                <input type="number" class="form-control" name="iul" ng-model="item.newBudget.data.iul" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['iul'].$error" ng-if="formBudgets['iul'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">August</label></td>
                            <td class="form-inline" ng-class="{ 'has-error': formBudgets['aug'].$touched && formBudgets['aug'].$invalid }">
                                <input type="number" class="form-control" name="aug" ng-model="item.newBudget.data.aug" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['aug'].$error" ng-if="formBudgets['aug'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">Septembrie</label></td>
                            <td class="form-inline" ng-class="{ 'has-error': formBudgets['sep'].$touched && formBudgets['sep'].$invalid }">
                                <input type="number" class="form-control" name="sep" ng-model="item.newBudget.data.sep" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['sep'].$error" ng-if="formBudgets['sep'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Octombrie</label></td>
                            <td class="form-inline" ng-class="{ 'has-error': formBudgets['oct'].$touched && formBudgets['oct'].$invalid }">

                                <input type="number" class="form-control" name="oct" ng-model="item.newBudget.data.oct" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['oct'].$error" ng-if="formBudgets['oct'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">Noiembrie </label></td>
                            <td class="form-inline" ng-class="{ 'has-error': formBudgets['nov'].$touched && formBudgets['nov'].$invalid }">
                                <input type="number" class="form-control" name="nov" ng-model="item.newBudget.data.nov" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['nov'].$error" ng-if="formBudgets['nov'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                            <td><label class="control-label">Decembrie </label></td>
                            <td class="form-inline" ng-class="{ 'has-error': formBudgets['dcbr'].$touched && formBudgets['dcbr'].$invalid }">
                                <input type="number" class="form-control" name="dcbr" ng-model="item.newBudget.data.dcbr" required="required" autocomplete="off"
                                />
                                <div class="help-block" ng-messages="formBudgets['dcbr'].$error" ng-if="formBudgets['dcbr'].$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!--</table>
                </td>
                </tr>
                <tr ng-if="item.absences.length==0 && !item.newBudget.isAddOpen">
                    <td colspan="4" align="center">
                        <p><i>Nu exista intrari</i></p>
                    </td>
                </tr>
                </tbody>-->
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <!--<div class="col-xs-4 text-left">
                        <snp-delete ng-show="delete.visible" confirm="delete.confirm()" size="btn-sm"></snp-delete>
                    </div>-->
                    <div class="col-xs-4 text-left"></div>
                    <div class="col-xs-8 text-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancel(form.$dirty)"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Anulare</button>
                        <button type="submit" class="btn btn-success" value="save" ng-disabled="!formBudgets.$valid || item.newBudget.isAddOpen"><span class="fa fa-save"></span> Salvare</button>
                    </div>
                </div>
                <div ng-include="'snp-overlay.html'"></div>
            </div>
        </form>
    </div>
</div>