<!-- maparea mesajelor se face la atributul NAME al unui input field -->

<p ng-message="required">Campul este obligatoriu</p>
<p ng-message="minlength">Campul introdus este prea scurt</p>
<p ng-message="maxlength">Campul introdus este prea lung</p>
<p ng-message="email">Adresa de email nu e valida</p>
<p ng-message="number">Valoarea introdusa nu este valida</p>
<p ng-message="snpIsObject">Valoarea introdusa nu este valida</p>
<p ng-message="snpLowerThan">Valoarea introdusa nu este valida</p>
