<div class="container">
	<div class="row">
		<div id="appName" class="title col-md-3"><button class="btn" [routerLink]="['/']"><div class="title">OrdersGP</div><div class="sub-title">Racing for first</div></button></div>
		<div class="col-md-3"></div>
		<div id="adminMenu" class="col-md-2"><button class="btn btn-menu" (click)="openAdminZone()"><i class="fas fa-2x fa-cogs"></i><div>Admin</div></button></div>
		<div id="employeeMenu" class="col-md-2"><button class="btn btn-menu" (click)="openEmployeeZone()"><i class="fab fa-2x fa-jenkins"></i><div>Waiter</div></button></div>
		<div id="clientMenu" class="col-md-2"><button class="btn btn-menu" (click)="openClientZone()"><i class="fas fa-2x fa-book-reader"></i><div>Client</div></button></div>
	</div>
	<div #componentContainer></div>
</div>