.row{
    background-color: #f0f0f0;
}
.title{
    font-size: 3.6em;
}
.btn-menu:focus{
    outline: none !important;
    background-color: rgb(145,154,161);
}
.btn-menu:active{
    background-color: rgb(145,154,161) !important;
}