<div class="container">
	<h1>{{category.display_name}}</h1>
	<dl class="list">
		<dt>Name</dt>
		<dd>{{category.display_name}}</dd>
		<dt>Description</dt>
		<dd>{{category.description}}</dd>
		<dt>Long description</dt>
		<dd>{{category.long_description}}</dd>
		<dt>Root</dt>
		<dd>{{category.root}}</dd>
		<dt>Parent category</dt>
		<dd>{{category.parent_category}}</dd>
		<dt>Keywords</dt>
		<dd>{{category.keywords}}</dd>
		<dt>Thumbnail</dt>
		<dd>{{category.thumbnail}}</dd>
		<dt>Small image</dt>
		<dd>{{category.small_image}}</dd>
		<dt>Large image</dt>
		<dd>{{category.large_image}}</dd>
		<dt>Start date</dt>
		<dd>{{category.start_date}}</dd>
		<dt>End date</dt>
		<dd>{{category.end_date}}</dd>
		<dt>Creation date</dt>
		<dd>{{category.creation_date}}</dd>
		<dt>Update date</dt>
		<dd>{{category.update_date}}</dd>
		<dt>Version</dt>
		<dd>{{category.version}}</dd>
	</dl>
	<div class="row">
		<div class="col-md-12">
			<a [routerLink]="['/category-edit', category._id]" class="btn btn-success">EDIT</a>
			<button class="btn btn-danger" type="button" (click)="deleteProduct(category._id)">DELETE</button>
		</div>
	</div>
</div>