<div>
    <ng-transclude></ng-transclude> 
    <button type="button" class="btn btn-default" ng-class="size" ng-click="confirmationGroupVisible = !confirmationGroupVisible" ng-show="!confirmationGroupVisible">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    <div class="btn-group" role="group" aria-label="deleteConfirmation" ng-show="confirmationGroupVisible">
        <button type="button" class="btn btn-danger" ng-class="size" ng-click="confirm()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="size" ng-click="confirmationGroupVisible = false">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>
