<div class="container">
	<h1>{{product.title}}</h1>
	<dl class="list">
		<dt>Brand</dt>
		<dd>{{product.brand}}</dd>
		<dt>Creation Date</dt>
		<dd>{{product.creation_date}}</dd>
		<dt>Date Available</dt>
		<dd>{{product.date_available}}</dd>
		<dt>Days Available</dt>
		<dd>{{product.days_available}}</dd>
		<dt>Description</dt>
		<dd>{{product.description}}</dd>
		<dt>Display Name</dt>
		<dd>{{product.display_name}}</dd>
		<dt>Price</dt>
		<dd>{{product.price}}</dd>
		<dt>Tax</dt>
		<dd>{{product.tax}}</dd>
		<dt>Discount</dt>
		<dd>{{product.discount}}</dd>
		<dt>End Date</dt>
		<dd>{{product.end_date}}</dd>
		<dt>Keywords</dt>
		<dd>{{product.keywords}}</dd>
		<dt>Large Image</dt>
		<dd>{{product.large_image}}</dd>
		<dt>Long Description</dt>
		<dd>{{product.long_description}}</dd>
		<dt>Parent Category</dt>
		<dd>{{product.parent_category}}</dd>
		<dt>Small Image</dt>
		<dd>{{product.small_image}}</dd>
		<dt>Start Date</dt>
		<dd>{{product.start_date}}</dd>
		<dt>Thumbnail Image</dt>
		<dd>{{product.thumbnail_image}}</dd>
		<dt>Version</dt>
		<dd>{{product.version}}</dd>
		<dt>Update Date</dt>
		<dd>{{product.update_date}}</dd>		
	</dl>
	<div class="row">
		<div class="col-md-12">
			<a [routerLink]="['/product-edit', product._id]" class="btn btn-success">EDIT</a>
			<button class="btn btn-danger" type="button" (click)="deleteProduct(product._id)">DELETE</button>
		</div>
	</div>
</div>