<div class="container-fluid" style="padding-top: 6rem">
	<div class="row no-gutter">
		<div class="col-md-3 col-xs-10 text-center">
			<h4><span class="fa fa-clock-o fa-lg" aria-hidden="true"></span> Stuli SAP / Export</h4>
		</div>
		<div class="col-md-4 col-xs-10"></div>
		<div class="col-md-3" class="text-right" style="display: -webkit-inline-box!important;">
			<div class="form-inline">
				<label class="mouseOver" uib-tooltip="Introduceti valabilitatea noului fisier" tooltip-append-to-body="true">Valabilitate</label>
				<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="$ctrl.validity.date" is-open="$ctrl.validity.isOpen"
						datepicker-options="$ctrl.validity.dateOptions" datepicker-append-to-body="true" ng-required="true" close-text="Close"
						alt-input-formats="altInputFormats" ng-change="$ctrl.validity.changed()" show-button-bar="false" />
					<span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.validity.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
				</p>
			</div>
		</div>
		<div class="col-md-1 text-right">
			<snp-excel process-data="$ctrl.processData(data)" show-error="$ctrl.showError(error)" style="margin-left:1rem;"></snp-excel>
		</div>
		<div class="col-md-1 text-center">
			<button type="button" class="btn btn-primary btn-success" ng-disabled="!$ctrl.stuliFile || !$ctrl.stuliFile.extended.isValidForSaving || $ctrl.savingInProgress"
				ng-click="$ctrl.save()">
                <span class="fa fa-save"></span> Salvare
            </button>
			<button type="button" class="btn btn-danger" ng-if="$ctrl.stuliFile.extended.hasInvalidStulis" ng-model="$ctrl.stuliFile.extended.showOnlyInvalidStulis"
				uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                <span class="fa fa-filter">
            </button>
		</div>
	</div>
	<div class="row no-gutter" style="margin-top: 2rem; overflow:hidden;">
		<div class="col-md-4 text-center">
			<div class="row">
				<div class="icon-addon" style="margin-left: 15rem; margin-right: 15rem;">
					<span class="fa fa-search"></span>
					<input type="text" class="form-control" placeholder="Cauta fisier Stuli SAP" ng-model="$ctrl.searchStuliFile" autocomplete="off"
						ng-model-options="{ debounce: 1000 }" />
				</div>
			</div>
			<div class="table-responsive">
				<table class="table voffset1 table-condensed table-hover" id="alignedTable" style="margin-top: 1rem;">
					<thead>
						<tr>
							<th style="text-align:center; width:30%;" ng-click="$ctrl.sortFile('validity', 'D')" class="mouseOver">
								<i class="fa fa-calendar" aria-hidden="true"></i> Valabilitate fisier
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsFile.key=='validity'" ng-class="$ctrl.sortOptionsFile.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsFile.key!='validity'"></span>
							</th>
							<th style="text-align:center; ; width:55%;" ng-click="$ctrl.sortFile('name')" class="mouseOver">
								<span class="fa fa-pencil"></span> Denumire
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsFile.key=='name'" ng-class="$ctrl.sortOptionsFile.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsFile.key!='name'"></span>
							</th>
							<th class="text-right">
								<span class="fa fa-cogs"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="stuliFile in $ctrl.stuliFiles | filterByMatchingFields: $ctrl.searchStuliFile : 'validity' : 'name' | orderBy:$ctrl.customSorterFile:$ctrl.sortOptionsFile.reverse | itemsPerPage: 20"
							pagination-id="paginationStuliFiles" ng-class="{'info':stuliFile.id === $ctrl.stuliFile.id}">
							<td>
								<i class="fa fa-info-circle fa-md mouseOver" ng-if="stuliFile.created_at" style="color:blue;" uib-tooltip='Importat in data {{stuliFile.created_at | date:"dd-MM-yyyy HH:mm"}} de utilizatorul "{{stuliFile.User.name}}"'
									tooltip-append-to-body="true" tooltip-placement="right"> </i>
								<button class="btn btn-link" ng-click="$ctrl.selectFile(stuliFile)">
                                {{stuliFile.validity | date:'dd-MM-yyyy HH:mm'}}
                            </button>
							</td>
							<td>
								{{stuliFile.name}}
							</td>
							<td class="text-right">
								<snp-delete confirm="$ctrl.deleteStuliFile(stuliFile)" size="btn-sm"></snp-delete>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationStuliFiles">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
		<div class="col-md-8 text-center">
			<div class="row text-center" ng-if="!$ctrl.stuliFile" style="margin-top:15rem;">
				<h3>Selectati un fisier Stuli din lista pentru a ii vedea detaliile,<br> sau incarcati un fisier Stuli nou pentru salvare</h3>
			</div>

			<div class="row" ng-if="$ctrl.stuliFile">
				<div class="col-sm-9">
					<h4>
						Detalii fisier <i><b>{{$ctrl.stuliFile.name}}</b></i> valabil din <i>
						<b>{{$ctrl.stuliFile.validity | date:'dd-MM-yyyy HH:mm'}}</b>
                        </i>
					</h4>
				</div>
				<div class="col-md-3 text-center">
					<div class="icon-addon" style="margin-right:4rem">
						<span class="fa fa-search"></span>
						<input type="text" class="form-control" placeholder="Cauta detalii in fisierul Stuli" id="search" ng-model="$ctrl.searchStuli"
							autocomplete="off" />
					</div>
				</div>
			</div>
			<div class="table-responsive" style="margin-left:1rem;" ng-if="$ctrl.stuliFile">
				<table class="table table-striped voffset1 table-condensed table-hover" id="alignedTable">
					<thead>
						<tr>
							<th ng-click="$ctrl.sortStuli('materialCode')" class="text-center mouseOver">
								<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Cod material
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsStuli.key=='materialCode'" ng-class="$ctrl.sortOptionsStuli.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsStuli.key!='materialCode'"></span>
							</th>
							<th ng-click="$ctrl.sortStuli('materialDescription')" class="text-center mouseOver">
								<span class="fa fa-pencil"></span> Denumire material
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsStuli.key=='materialDescription'" ng-class="$ctrl.sortOptionsStuli.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsStuli.key!='materialDescription'"></span>
							</th>

							<th ng-click="$ctrl.sortStuli('materialGroupCode')" class="text-center mouseOver">
								<span class="fa fa-object-ungroup"></span> Grupa de materiale
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsStuli.key=='materialGroupCode'" ng-class="$ctrl.sortOptionsStuli.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsStuli.key!='materialGroupCode'"></span>
							</th>
							</th>
							<th ng-click="$ctrl.sortStuli('logisticUnit')" class="text-center mouseOver">
								<span class="fa fa-industry"></span> Unitate logistica
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsStuli.key=='logisticUnit'" ng-class="$ctrl.sortOptionsStuli.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsStuli.key!='logisticUnit'"></span>
							</th>
							<th ng-click="$ctrl.sortStuli('duration', 'N')" class="text-center mouseOver">
								<span class="fa fa-clock-o"></span> Timp executie
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsStuli.key=='duration'" ng-class="$ctrl.sortOptionsStuli.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsStuli.key!='duration'"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="stuli in $ctrl.stuliFile.stulis | filter : ($ctrl.stuliFile.extended.showOnlyInvalidStulis || '') && !stuli.extended.isInvalid | filterByMatchingFields: $ctrl.searchStuli : 'materialCode' : 'materialDescription' : 'materialGroupCode' : 'logisticUnit' : 'duration' | orderBy:$ctrl.customSorterStuli:$ctrl.sortOptionsStuli.reverse | itemsPerPage: 50"
							pagination-id="paginationStulis" ng-class="{danger:stuli.extended.isInvalid}">
							<td>
								{{stuli.materialCode}}
							</td>
							<td>
								{{stuli.materialDescription}}
							</td>
							<td class="text-center">
								{{stuli.materialGroupCode}}
							</td>
							<td class="text-center">
								{{stuli.logisticUnit}}
							</td>
							<td class="text-center">
								{{stuli.duration}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row" ng-if="$ctrl.stuliFile">
				<div class="col-xs-12 text-center">
					<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationStulis">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>