<div class="container-fluid" style="padding-top: 6rem">
    <div class="row no-gutter">
        <div class="col-md-3 text-center">
            <h4><span class="fa fa-bar-chart fa-lg" aria-hidden="true"></span> Raportare productie</h4>
        </div>
        <div class=" col-md-9 well well-sm">
            <form name="form" class="form" role="form" novalidate ng-submit="$ctrl.generateReport()">
                <div class="row no-gutter">
                    <div class="col-md-3">
                        <label>Denumire raport</label>
                        <input type="text" class="form-control" ng-model="$ctrl.selectionOptions.title" />
                    </div>
                    <div class="col-md-2">
                        <label>Selectie luna</label>
                        <select class="form-control" >
                          <option value="01-2017">Ian 2017</option>
                          <option value="02-2017">Feb 2017</option>
                          <option value="03-2017">Mar 2017</option>
                          <option value="04-2017">Apr 2017</option>
                          <option value="05-2017">Mai 2017</option>
                          <option value="06-2017">Iun 2017</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <div class="row no-gutter text-right">
                              <button type="reset" class="btn" style="margin-top: 10px; background-color:transparent" ng-click="$ctrl.resetReport()">
                                  <i class="fa fa-trash-o fa-lg clearFilters" uib-tooltip="Reseteaza criterii selectie" tooltip-append-to-body="true" ></i>
                              </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div ng-if="$ctrl.reportData.length > 0" class="row no-gutter text-right">
                        <button type="button" class="btn" style="margin-top: 10px; background-color:transparent;" ng-click="$ctrl.exportAction('excel')" uib-tooltip="Export Excel" tooltip-append-to-body="true">
                            <i class="fa fa-file-excel-o fa-2x"></i>
                        </button>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="table-responsive">
            <table class="table table-striped voffset1 table-condensed export-table" id="alignedTable">
              <col>
              <colgroup span="3"></colgroup>
              <colgroup span="3"></colgroup>
              <colgroup span="3"></colgroup>
              <colgroup span="3"></colgroup>
              <colgroup span="3"></colgroup>
                <thead>
                    <tr class="mouseOver">
                      <th style="width:5rem">

                      </th>
                      <th style="width:25rem">

                      </th>
                      <th colspan="3" scope="colgroup" style="width:25rem">
                        Total Luna
                      </th>
                      <th colspan="3" scope="colgroup" style="width:25rem">
                        Total Luna MFA2
                      </th>
                      <th colspan="3" scope="colgroup" style="width:25rem">
                        Total Luna Serie
                      </th>
                      <th colspan="3" scope="colgroup" style="width:25rem">
                        Total Luna Budget
                      </th>
                      <th colspan="3" scope="colgroup" style="width:25rem">
                        Actual vs Budget
                      </th>
                    </tr>
                    <tr class="mouseOver">
                      <th scope="col" style="width:5rem">
                        Cod
                      </th>
                      <th scope="col" style="width:25rem">
                        Denumire
                      </th>
                      <th scope="col" style="width:7rem">
                        Teur
                      </th>
                      <th scope="col" style="width:7rem">
                        Eur/min
                      </th>
                      <th scope="col" style="width:7rem">
                        %
                      </th>
                      <th scope="col" style="width:7rem">
                        Teur
                      </th>
                      <th scope="col" style="width:7rem">
                        Eur/min
                      </th>
                      <th scope="col" style="width:7rem">
                        %
                      </th>
                      <th scope="col" style="width:7rem">
                        Teur
                      </th>
                      <th scope="col" style="width:7rem">
                        Eur/min
                      </th>
                      <th scope="col" style="width:7rem">
                        %
                      </th>
                      <th scope="col" style="width:7rem">
                        Teur
                      </th>
                      <th scope="col" style="width:7rem">
                        Eur/min
                      </th>
                      <th scope="col" style="width:7rem">
                        %
                      </th>
                      <th scope="col" style="width:7rem">
                        Teur
                      </th>
                      <th scope="col" style="width:7rem">
                        Eur/min
                      </th>
                      <th scope="col" style="width:7rem">
                        %
                      </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in $ctrl.reportData | itemsPerPage : 100">
                        <td>
                          <span ng-if="item.lvl == 0"><b>{{item.code}}</b></span>
                          <span ng-if="item.lvl == 1">&nbsp;{{item.code}}</span>
                          <span ng-if="item.lvl == 2">&nbsp;&nbsp;{{item.code}}</span>
                        </td>
                        <td>
                          <span ng-if="item.lvl == 0"><b>{{item.name}}</b></span>
                          <span ng-if="item.lvl > 0">{{item.name}}</span>
                        </td>
                        <td>
                          {{item.monthly_total | number:2}}
                        </td>
                        <td>{{item.monthly_total*1000/$ctrl.e72 | number:2}}</td>
                        <td>b</td>
                        <td>
                          {{item.monthly_total_mfa2 | number:2}}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                          {{item.monthly_total_teur - item.monthly_total_mfa2 | number:2}}
                        </td>
                        <td>{{(item.monthly_total_teur - item.monthly_total_mfa2)*1000/$ctrl.k72 | number:2}}</td>
                        <td>b</td>
                        <td>
                          {{item.monthly_total_budget | number:2}}
                        </td>
                        <td>{{item.monthly_total_budget*1000/$ctrl.DI72 | number:2}}</td>
                        <td>b</td>
                        <td>
                          {{item.monthly_total - item.monthly_total_budget | number:2}}
                        </td>
                        <td>{{(item.monthly_total*1000/$ctrl.e72) - (item.monthly_total_budget*1000/$ctrl.DI72) | number:2}}</td>
                        <td>b</td>
                    </tr>
                    <td bgcolor="#FFFFFF" style="line-height:15px;" colspan=17>&nbsp;</td>
                    <tr dir-paginate="min in $ctrl.minutes | itemsPerPage : 100">
                        <td>

                        </td>
                        <td>
                          <b>{{min.name}}</b>
                        </td>
                        <td>
                          {{min.values[0] | number:2}}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                          {{min.values[1] | number:2}}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                          {{min.values[2] | number:2}}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                          {{min.values[3] | number:2}}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                          {{min.values[4] | number:2}}
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
