<div>
    <ng-transclude></ng-transclude>
    <div class="btn-group" role="group" aria-label="confirm">
        <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="confirmDisabled" ng-class="size">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
        <button type="button" class="btn btn-default" ng-click="cancel()" ng-class="size">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    </div>
</div>