<div class="container-fluid">
    <div class="col-md-4 text-center voffset6">
        <p class="lead"><b><i>Inregistrarea rapida a datelor companiei dvs.</i></b>
            <ul class="list-unstyled" style="line-height: 2">
                <li><span class="fa fa-check text-success"></span> Adaugarea facturilor </li>
                <li><span class="fa fa-check text-success"></span> Adaugarea unei plati simple (partiale sau totale)
                    <br/> sau a unei plati multiple</li>
                <li><span class="fa fa-check text-success"></span> Introducerea sumelor primite de la clienti</li>
                <li><span class="fa fa-check text-success"></span> Logarea transferurilor bancare din/in conturi proprii sau externe</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4 text-center">
        <table width="100%" height="100%">
            <tr>
                <td class="height" style="text-align: center; vertical-align: middle;">
                    <img src="resources/img/fpsLogo.png" class="img-responsive center-block" width=300 height=300 />
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4 text-center voffset6">
        <p class="lead"><b><i>Raportari exacte si customizare intuitiva</i></b>
            <ul class="list-unstyled" style="line-height: 2">
                <li><span class="fa fa-check text-success"></span> Raportare generala pe cuante de timp</li>
                <li><span class="fa fa-check text-success"></span> Raportari modulare</li>
                <li><span class="fa fa-check text-success"></span> Diagrame expresive cu legenda</li>
                <li><span class="fa fa-check text-success"></span> Customizare personalizata a serviciilor,
                    <br/> furnizorilor, clientilor si nu numai</li>
            </ul>
        </p>
    </div>
    <div id="footer" class="text-center">
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <h4>Aceasta aplicatie este in versiunea BETA.</h4>
            <h5>Bug-urile sau erorile de implementare se pot sesiza direct la adresa <a href="mailto:contact@snipesoft.ro">contact@snipesoft.ro</a></h5>
        </div>
    </div>
</div>
