<div class="row-fluid">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked text-center mouseOver">
            <li role="presentation" ng-class="setActiveClass('app.settings.services')"><a ng-click="navigateToState('app.settings.services')"><i class="fa fa-shopping-cart fa-2x"></i> Servicii</a></li>
            <li role="presentation" ng-class="setActiveClass('app.settings.suppliers')"><a ng-click="navigateToState('app.settings.suppliers')"><i class="fa fa-truck fa-2x"></i> Furnizori</a></li>
            <li role="presentation" ng-class="setActiveClass('app.settings.buildings')"><a ng-click="navigateToState('app.settings.buildings')"><i class="fa fa-building-o fa-2x"></i></i> Cladiri</a></li>
            <li role="presentation" ng-class="setActiveClass('app.settings.accounts')"><a ng-click="navigateToState('app.settings.accounts')"><i class="fa fa-credit-card fa-2x"></i> Conturi</a></li>
            <li role="presentation" ng-class="setActiveClass('app.settings.clients')"><a ng-click="navigateToState('app.settings.clients')"><i class="fa fa-user fa-2x"></i></i> Clienti</a></li>
            <li role="presentation" ng-class="setActiveClass('app.settings.users')"><a ng-click="navigateToState('app.settings.users')"><i class="fa fa-users fa-2x"></i> Utilizatori</a></li>
        </ul>
    </div>
    <div ui-view class="col-sm-10">
        <table width=100% height=100% id="alignedTable">
            <tr>
                <H5 style="text-align: center; vertical-align: middle;">
            <p class="lead"><b><i>Customizarea datelor companiei</i></b>
                <ul class="list-unstyled" style="line-height: 2">
                    <li><span class="fa fa-check text-success"></span> Definiti servicii si atribuiti-le furnizorilor cu care colaborati</li>
                    <li><span class="fa fa-check text-success"></span> Adaugati conturi bancare pentru efectuarea transferurilor</li>
                    <li><span class="fa fa-check text-success"></span> Introduceti clientii si dosarele fiecaruia</li>
                </ul>
            </p>

                </H3>
                <td class="height" style="text-align: center; vertical-align: middle;">
                    <img src="resources/img/fpsLogo.png" width=100 height=100 />
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
</div>
