<div class="container-fluid">
    <nav role="navigation" id="access">
        <ul id="menu" class="col-xs-12 col-sm-6 text-center">
            <li>
                <a ng-click="navigateToState('app.home')"><img src="resources/img/fps.png" width=60 height=60 /></a>
            </li>
            <li><a class="icon-envelope" ng-click="navigateToState('app.invoices')">Facturi</a></li>
            <li><a class="icon-credit-card" ng-click="navigateToState('app.incoms')">Intrari</a></li>
            <li><a class="icon-share-alt" ng-click="navigateToState('app.transfers')">Transferuri</a></li>
            <li><a class="icon-file" ng-click="navigateToState('app.reports')">Raportari</a></li>
            <li><a class="icon-cogs" ng-click="navigateToState('app.settings')">Setari</a></li>
            <li>
                <div class="btn-group" dropdown is-open="status.isopen" style="width:100%;">
                    <a dropdown-toggle ng-disabled="disabled">
                        <img src="resources/img/users-icon.png" width="60px" height="60px">
                    </a>
                    <ul class="dropdown-menu text-center" role="menu" aria-labelledby="single-button">
                        <li role="menuitem" style="padding: 10px;">
                            <div>Sunteti logat ca <b>{{extended.loggedUser.username}}</b>
                                <button type="button" class="btn btn-link text-center" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li style="width:100px">
                <i class="fa fa-spinner fa-spin fa-2x" snp-loading></i>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div ncy-breadcrumb>
                </div>
            </div>
            <div class="col-sm-6 col-sm-6 text-center" style="margin-top: 10px;">
                <p><i>Contul master pentru desfasurarea operatiunilor bancare este <b>BCR Lei</b></i></p>
            </div>
        </div>
        <div ui-view></div>
        <toast></toast>
    </div>
</div>
