<div snp-esc="cancel(incomeForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(incomeForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form role="form" ng-submit="save()" novalidate name="incomeForm">
        <div class="modal-body">
            <div class="form-group">
                <p class="text-danger text-center">{{item.message}}</p>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-7">
                        <div class="form-group" ng-class="{ 'has-error': incomeForm.clientAndCase.$touched 
                        && incomeForm.clientAndCase.$invalid }">
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-user"></span>
                                <input type="text" class="form-control" placeholder="Client" autocomplete="off" id="clientAndCase" name="clientAndCase" ng-model="item.extended.client" required="required" typeahead="client as client.name + ' (Dosar nr. ' + client.caseFile.caseNumber + ')'  for client in item.extended.getAllClientsForTypeahead() | filterMatchingFields:$viewValue:'name':'caseFile.caseNumber' | limitTo:15" typeahead-select-on-exact="true" typeahead-focus-first="true" typeahead-on-select="item.extended.clientSelected($item, item, incomeForm)" typeahead-min-length="1" snp-is-object/>
                                <div class="help-block" ng-messages="incomeForm.clientAndCase.$error" ng-if="incomeForm.clientAndCase.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group" ng-class="{ 'has-error': incomeForm.value.$touched && incomeForm.value.$invalid }">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-money"></i>
                                <input type="number" class="form-control" placeholder="Valoare" id="value" name="value" ng-model="item.amount" required="required" step="any" />
                                <div class="help-block" ng-messages="incomeForm.value.$error" ng-if="incomeForm.value.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group" ng-class="{ 'has-error': incomeForm.operationDT.$touched && incomeForm.operationDT.$invalid }">
                            <input type="text" id="operationDT" value="operationDT" class="form-control" datetime-picker="dd MMM yyyy" datepicker-options="item.extended.dateOptions" ng-model="item.operationDT" is-open="item.extended.isDateOpen" enable-time="false" required="required" />
                            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="item.extended.openCalendar($event, 'registeredDate')"><i class="fa fa-calendar"></i></button></span>
                            <div class="help-block" ng-messages="incomeForm.operationDT.$error" ng-if="incomeForm.operationDT.$touched">
                                <div ng-messages-include="app/views/misc/messages.html"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bloc</label>
                            <input type="text" class="form-control" ng-model="item.extended.client.caseFile.apartment.extended.building.name" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Scara</label>
                            <input type="text" class="form-control" ng-model="item.extended.client.caseFile.apartment.stairs" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Etaj</label>
                            <input type="text" class="form-control" ng-model="item.extended.client.caseFile.apartment.floor" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for "apType">Tip Apt.</label>
                            <input type="text" class="form-control" id="building" ng-disabled="true" ng-model="item.extended.client.caseFile.apartment.type" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Apt.</label>
                            <input type="text" class="form-control" ng-model="item.extended.client.caseFile.apartment.number" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Nr. Leg.</label>
                            <input type="text" class="form-control" id="nrLeg" ng-model="item.linkNumber" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-2">
                        <div class="form-group" ng-class="{ 'has-error': incomeForm.crt.$touched && incomeForm.crt.$invalid }">
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <input type="number" class="form-control" placeholder="Nr. CRT" id="crt" name="crt" ng-model="item.crt" ng-change="item.extended.validateThisCRT(item.crt)" ng-model-options='{ debounce: 1000 }' title="Numar CRT" required="required" step="any"/>
                                <div class="help-block" ng-messages="incomeForm.crt.$error" ng-if="incomeForm.crt.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <input type="text" class="form-control" placeholder="Descriere" id="description" ng-model="item.description" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <p><i>Detalii suplimentare despre plata clientului</i></p>
                    <textarea id="details" name="details" ng-model="item.details" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-md-6">
                    <label for="details">Fisiere existente</label>
                    <table>
                        <tr ng-repeat="file in item.files">
                            <td>
                                <snp-delete ng-if="item.files" confirm="item.extended.removeFile(file)" size="btn-xs"></snp-delete>
                            </td>
                            <td>
                                &nbsp;<i class="fa fa-file"></i>
                            </td>
                            <td>
                                &nbsp;<a href="" ng-click="snpUtils.download(file.pathToFile)" title="{{file.name}}">
                                {{file.name}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <label for="details">Fisiere noi</label>
                    <snp-upload accept="" files="item.extended.newFiles"> </snp-upload>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <snp-delete ng-show="delete.visible" confirm="delete.confirm()"></snp-delete>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(incomeForm.$dirty)">Cancel</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!incomeForm.$valid || (item.extended.validCRT == 0)">Salvare</button>
                </div>
            </div>
        </div>
        <div ng-include="'app/views/misc/snp-overlay.html'">
        </div>
    </form>
</div>
