<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta clientul sau dosarul" id="search" ng-model="searchIncoms.text" autofocus autocomplete="off" />

                <i class="inputFieldClear" ng-if="searchIncoms.text.length" ng-click="clearSearch()">
                    <b>X</b>
                </i> 
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="filterBuilding" ng-model="searchIncoms.building" class="form-control" title="Lista Cladiri" ng-options="b.name for b in extended.customizing.buildings" tooltip-append-to-body="true">
                    <option value="">Toate Cladirile</option>
                </select>
            </div>
        </div>
        <div class="col-md-1 col-md-offset-6">
            <img src="resources/img/addButton.ico" ng-click="openModal('add')" class="center-block img-circle img-responsive mouseOver" title="Adauga intrare" style="height: 2.5em; width: 2.5em;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th ng-click="sort('crt')">
                            <span class="glyphicon glyphicon-pencil"></span> Nr. Crt
                            <span class="glyphicon sort-icon" ng-show="sortKey=='crt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('extended.client.name')">
                            <span class="glyphicon glyphicon-user"></span> Client
                            </span>
                            <span class="glyphicon sort-icon" ng-show="sortKey=='extended.client.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('extended.client.caseFile.caseNumber')">
                            <span class="glyphicon glyphicon-file"></span> Nr. Dosar
                            <span class="glyphicon sort-icon" ng-show="sortKey=='extended.client.caseFile.caseNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('amount')">
                            <span class="fa fa-money"></span> Val. (LEI)
                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('linkNumber')">
                            <span class="glyphicon glyphicon-folder-open"></span> Nr. Leg
                            <span class="glyphicon sort-icon" ng-show="sortKey=='linkNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('operationDT')">
                            <span class="glyphicon glyphicon-calendar"></span> Data operatie
                            <span class="glyphicon sort-icon" ng-show="sortKey=='operationDT'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('description')">
                            <span class="glyphicon glyphicon-pencil"></span> Descriere
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('files')">
                            <i class="fa fa-paperclip"></i> Fisiere
                            <span class="glyphicon sort-icon" ng-show="sortKey=='files'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="ins in incoms | filterMatchingFields:searchIncoms.text:'crt':'extended.client.name':'extended.client.caseFile.caseNumber':'amount':'linkNumber':'description' | filterMatchingFields:searchIncoms.building.id:'extended.client.caseFile.apartment.buildingId' | orderBy:sortKey:reverse | itemsPerPage: itemsPerPage ">
                        <td class="text-center">
                            <span>{{ins.crt}}</span>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="openModal('edit', ins)">
                                {{ins.extended.client.name}}
                            </button>
                        </td>
                        <td>{{ins.extended.client.caseFile.caseNumber}}</td>
                        <td>
                            {{ins.amount}}
                        </td>
                        <td>
                            {{ins.linkNumber}}
                        </td>
                        <td>
                            <i>{{ins.operationDT | dateTimeFormat}}</i>
                        </td>
                        <td>
                            {{ins.description}}
                        </td>
                        <td>
                            <a href="" ng-click="snpUtils.download(file.pathToFile)" ng-repeat="file in ins.files" title="{{file.name}}">
                                <i class="fa fa-file"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="itemsPerPage" ng-model="itemsPerPage" class="form-control" title="Pagini">
                    <!-- aplicatia merge f greu daca o lasam sa selecteze toate facturile -->
                        <!-- <option value="999999">Toate ({{incoms.length}})</option> -->
                        <option value="10">10/Pag</option>
                        <option value="17" ng-selected="{{itemsPerPage == 17}}">17/Pag</option>
                        <option value="50">50/Pag</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
