<div class="modal-header">
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="container">
		<h1>Add New Category</h1>
		<div class="row">
			<div class="col-md-6">
				<form (ngSubmit)="saveCategory()" #categoryForm="ngForm">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" [(ngModel)]="category.display_name" name="name"
							required>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" [(ngModel)]="category.description" name="description"
							required>
					</div>
					<div class="form-group">
						<label for="long_description">Long description</label>
						<input type="text" class="form-control" [(ngModel)]="category.long_description"
							name="long_description" >
					</div>
					<div class="form-group">
						<label for="keywords">Keywords</label>
						<input type="text" class="form-control" [(ngModel)]="category.keywords" name="keywords"
							>
					</div>
					<div class="form-group">
						<label for="root">Root</label>
						<input type="checkbox" class="form-control" [(ngModel)]="category.root" name="root">
					</div>
					<!-- <div class="form-group">
						<label for="thumbnail">Thumbnail</label>
						<input type="file" class="form-control" id="thumbnail_file" [(ngModel)]="category.thumbnail"
							name="thumbnail" (change)="handleFileInputs($event.target.files)">
					</div>
					<div class="form-group">
						<label for="small_image">Small image</label>
						<input type="file" class="form-control" id="small_image_file" [(ngModel)]="category.small_image"
							name="small_image" (change)="handleFileInputs($event.target.files)">
					</div>
					<div class="form-group">
						<label for="large_image">Large image</label>
						<input type="file" class="form-control" id="large_image_file" [(ngModel)]="category.large_image"
							name="large_image" (change)="handleFileInputs($event.target.files)">
					</div> 
					<div class="form-group">
						<label for="version">Version</label>
						<input type="text" class="form-control" [(ngModel)]="category.version" name="version
						">
					</div> -->
					<div class="form-group">
						<button type="submit" class="btn btn-success" [disabled]="!categoryForm.form.valid">
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>