<div snp-esc="cancel(buildingForm.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(buildingForm.$dirty)">×</a>
        <h3 class="modal-title text-center">{{title}}</h3>
    </div>
    <form name="buildingForm" role="form" ng-submit="save()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error': buildingForm.name.$touched && buildingForm.name.$invalid }">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-building"></i>
                                <input type="text" class="form-control" placeholder="Bloc" name="name" id="name" ng-model="item.name" required="required" autofocus />
                                <div class="help-block" ng-messages="buildingForm.name.$error" ng-if="buildingForm.name.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group"  ng-class="{ 'has-error': buildingForm.address.$touched && buildingForm.address.$invalid }">
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <input type="text" class="form-control" placeholder="Adresa" name="address" id="address" ng-model="item.address" required/>
                                      <div class="help-block" ng-messages="buildingForm.address.$error" ng-if="buildingForm.address.$touched">
                                    <div ng-messages-include="app/views/misc/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <p><i>Detalii suplimentare despre cladire</i></p>
                        <textarea id="message" name="message" class="form-control" rows="3" ng-model="item.details"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <snp-delete ng-show="delete.visible" confirm="delete.confirm()"></snp-delete>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" class="btn btn-default btn-sm" ng-click="cancel(buildingForm.$dirty)">Cancel</button>
                            <button type="submit" class="btn btn-success" value="save" ng-disabled="!buildingForm.$valid">Salvare</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'app/views/misc/snp-overlay.html'"></div>
    </form>
</div>
