<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Cauta cladirea" id="search" ng-model="searchBuilding" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-offset-11">
            <img src="resources/img/addButton.ico" ng-click="openModal('add')" class="center-block img-circle img-responsive mouseOver" style="height: 2.5rem; width: 2.5rem;" title="Adauga cladire">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped voffset2 table-condensed" id="alignedTable">
                <thead>
                    <tr>
                        <th ng-click="sort('name')">
                            <i class="fa fa-building"></i> Nume cladire
                            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('address')">
                            <span class="glyphicon glyphicon-map-marker"></span> Adresa
                            <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="building in buildings| filter:searchBuilding | orderBy:sortKey:reverse    | itemsPerPage: 17 ">
                        <td>
                            <button class="btn btn-link" ng-click="openModal('edit', building)">
                                {{building.name}}
                            </button>
                        </td>
                        <td>
                            {{building.address}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</div>
