<div class="modal-header">
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="container">
		<h1>Add New Product</h1>
		<div class="row">
			<div class="col-md-6">
				<form (ngSubmit)="saveProduct()" #productForm="ngForm">
					<div class="form-group">
						<label for="brand">Brand</label>
						<input type="text" class="form-control" [(ngModel)]="product.brand" name="brand" required>
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" [(ngModel)]="product.display_name" name="name" required>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" [(ngModel)]="product.description" name="description"
							required>
					</div>
					<div class="form-group">
						<label for="name">Price</label>
						<input type="text" class="form-control" [(ngModel)]="product.price" name="price" required>
					</div>
					<div class="form-group">
						<label for="name">Tax</label>
						<input type="text" class="form-control" [(ngModel)]="product.tax" name="tax" required>
					</div>
					<div class="form-group">
						<label for="name">Discount</label>
						<input type="text" class="form-control" [(ngModel)]="product.discount" name="discount" required>
					</div>
					<div class="form-group">
						<label for="long_description">Long description</label>
						<input type="text" class="form-control" [(ngModel)]="product.long_description"
							name="long_description" required>
					</div>
					<div class="form-group">
						<label for="description">Category</label>						
						<select [(ngModel)]="product.category_id" id="categoryDropDown" class="form-control" name="category" required>
						  <option *ngFor='let category of categories' [value]="category._id">{{category.display_name}}</option>
						</select>
					  </div>
					<div class="form-group">
						<label for="keywords">Keywords</label>
						<input type="text" class="form-control" [(ngModel)]="product.keywords" name="keywords" required>
					</div>
					<!--<div class="form-group">
						<label for="start_date">Start date</label>
						<mat-form-field class="dP-full-width">
							<input matInput [matDatepicker]="start_date" [(ngModel)]="product.start_date" placeholder="Choose a date" name="start_date">
							<mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
							<mat-datepicker touchUi #start_date></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="form-group">
						<label for="end_date">End date</label>
						<mat-form-field class="dP-full-width">
							<input matInput [matDatepicker]="end_date" [(ngModel)]="product.end_date" placeholder="Choose a date" name="end_date">
							<mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
							<mat-datepicker touchUi #end_date></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="form-group">
						<label for="date_available">Date available</label>
						<mat-form-field class="dP-full-width">
							<input matInput [matDatepicker]="date_available" [(ngModel)]="product.date_available" placeholder="Choose a date" name="date_available">
							<mat-datepicker-toggle matSuffix [for]="date_available"></mat-datepicker-toggle>
							<mat-datepicker touchUi #date_available></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="form-group">
						<label for="days_available">Days available</label>
						<input type="text" class="form-control" [(ngModel)]="product.days_available" name="days_available" required>
					</div>-->
					<!-- <div class="form-group">
						<label for="thumbnail">Thumbnail</label>
						<input type="file" class="form-control" id="thumbnail_file" [(ngModel)]="product.thumbnail"
							name="thumbnail" (change)="handleFileInputs($event.target.files)">
					</div>
					<div class="form-group">
						<label for="small_image">Small image</label>
						<input type="file" class="form-control" id="small_image_file" [(ngModel)]="product.small_image"
							name="small_image" (change)="handleFileInputs($event.target.files)">
					</div>
					<div class="form-group">
						<label for="large_image">Large image</label>
						<input type="file" class="form-control" id="large_image_file" [(ngModel)]="product.large_image"
							name="large_image" (change)="handleFileInputs($event.target.files)">
					</div> -->
					<div class="form-group">
						<button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>