<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<div class="container">
  <h1>Add New Table</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveTable()" #tableForm="ngForm">
        <div class="form-group">
          <label for="display_name">Table number</label>
          <input type="text" class="form-control" [(ngModel)]="table.number" name="number" required>
        </div> 
        <div class="form-group">
          <label for="description">Area</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="table.area" name="area" required> -->
          <select [(ngModel)]="table.areaId" id="areaDropDown" class="form-control" name="area" required>
            <option *ngFor='let area of areas' [value]="area._id">{{area.display_name}}</option>
          </select>
        </div>     
        <div class="form-group">
          <label for="seats">Seats</label>
          <input type="text" class="form-control" [(ngModel)]="table.seats" name="seats" required>
        </div>
        <div class="form-group">
          <label for="observations">Observations</label>
          <input type="text" class="form-control" [(ngModel)]="table.observations" name="observations">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!tableForm.form.valid">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>