<div class="container-fluid" style="padding-top: 6rem">
	<div class="row no-gutter">
		<div class="col-md-3 col-xs-10 text-center">
			<h4><span class="fa fa-users fa-lg" aria-hidden="true"></span> Realizari productie</h4>
		</div>
		<div class="col-sm-7"></div>
		<div class="col-sm-1" class="text-right">
			<snp-excel process-data="$ctrl.processData(data)" show-error="$ctrl.showError(error)"></snp-excel>
		</div>
		<div class="col-md-1 text-center">
			<button class="btn btn-success" ng-click="$ctrl.save()" ng-disabled="!$ctrl.achievementFile || $ctrl.achievementFile.id || !$ctrl.achievementFile.extended.isValidForSaving || $ctrl.savingInProgress">
                <span class="fa fa-save"></span> Salvare
            </button>
			<button type="button" class="btn btn-danger" ng-if="$ctrl.achievementFile && $ctrl.achievementFile.extended.hasInvalidAchievements"
				ng-model="$ctrl.achievementFile.extended.showOnlyInvalidAchievements" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                <span class="fa fa-filter" uib-tooltip="Arata intrari invalide" tooltip-append-to-body="true" tooltip-placement="bottom">
            </button>
		</div>
	</div>
	<div class="row no-gutter" style="margin-top: 2rem; overflow:hidden;">
		<div class="col-md-4 text-center">
			<div class="row">
				<div class="icon-addon" style="margin-left: 15rem;margin-right: 15rem;">
					<span class="fa fa-search"></span>
					<input type="text" class="form-control" placeholder="Cauta fisier productie" id="search" ng-model="$ctrl.searchAchievementFile"
						ng-model-options="{ debounce: 1000 }" autocomplete="off" />
				</div>
			</div>
			<div class="table-responsive">
				<table class="table voffset1 table-condensed table-hover" id="alignedTable" style="margin-top: 1rem;">
					<thead>
						<tr>
							<th style="text-align:center; width:35%;" ng-click="$ctrl.sortFile('workingDayDateTime', 'D')">
								<i class="fa fa-calendar" aria-hidden="true"></i> Data fisier
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsFile.key=='workingDayDateTime'" ng-class="$ctrl.sortOptionsFile.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsFile.key!='workingDayDateTime'"></span>
							</th>
							<th style="text-align:center; ; width:50%;" ng-click="$ctrl.sortFile('name')">
								<span class="fa fa-pencil"></span> Denumire
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsFile.key=='name'" ng-class="$ctrl.sortOptionsFile.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsFile.key!='name'"></span>
							</th>
							<th style="text-align:right;">
								<span class="fa fa-cogs "></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="achievementFile in $ctrl.achievementFiles | filterByMatchingFields: $ctrl.searchAchievementFile : 'workingDayDateTime' : 'name' | orderBy:$ctrl.customSorterFile:$ctrl.sortOptionsFile.reverse | itemsPerPage: 30"
							pagination-id="paginationAchievementFiles" ng-class="{'info':achievementFile.id === $ctrl.achievementFile.id}">
							<td style="text-align:center; width:35%;">
								<i class="fa fa-info-circle fa-md mouseOver" style="color:blue;" ng-if="achievementFile.created_at" 
								uib-tooltip='Importat in data {{achievementFile.created_at | date:"dd-MM-yyyy HH:mm"}} de utilizatorul "{{achievementFile.User.name}}"'
									tooltip-append-to-body="true" tooltip-placement="right"></i> 
								<button class="btn btn-link" ng-click="$ctrl.selectFile(achievementFile)">
                                    {{achievementFile.workingDayDateTime | date:'dd-MM-yyyy HH:mm'}}
                                </button>
							</td>
							<td class="textOverflow" style="overflow: hidden; text-overflow: ellipsis; text-align:center; ; width:50%;">
								{{achievementFile.name}}
							</td>
							<td class="text-right">
								<snp-delete confirm="$ctrl.deleteAchievementFile(achievementFile)" size="btn-sm"></snp-delete>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" pagination-id="paginationAchievementFiles">
					</dir-pagination-controls>
				</div>
			</div>
		</div>

		<div class="col-md-8 text-center">
			<div class="row text-center" ng-if="!$ctrl.achievementFile" style="margin-top:15rem;">
				<h3>Selectati un fisier de realizari productie din lista pentru a ii vedea detaliile,<br> sau incarcati un fisier de productie
					nou pentru salvare
				</h3>
			</div>
			<div class="row" ng-if="$ctrl.achievementFile">
				<div class="col-sm-9">
					<h4>
						Detalii fisier <i><b>{{$ctrl.achievementFile.name}}</b></i> din <i><b>{{$ctrl.achievementFile.workingDayDateTime | date:'dd-MM-yyyy HH:mm'}}</b>
                        </i>
					</h4>
				</div>
				<div class="col-md-3 text-center">
					<div class="icon-addon" style="margin-right:4rem">
						<span class="fa fa-search"></span>
						<input type="text" class="form-control" placeholder="Cauta detalii in fisierul de productie" id="search" ng-model="$ctrl.searchAchievement"
							autocomplete="off" />
					</div>
				</div>
			</div>
			<div class="table-responsive" style="margin-left:1rem;" ng-if="$ctrl.achievementFile">
				<table class="table table-striped voffset1 table-condensed table-hover" id="alignedTable">
					<thead>
						<tr>
							<th ng-click="$ctrl.sortAchievement('recordedDateTime', 'D')" class="text-center mouseOver">
								<i class="fa fa-calendar" aria-hidden="true"></i> Data si ora
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='recordedDateTime'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='recordedDateTime'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('logisticUnit')" class="text-center mouseOver">
								<i class="fa fa-pencil" aria-hidden="true"></i> Unit. Log.
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='logisticUnit'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='logisticUnit'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('storageUnit')" class="text-center mouseOver">
								<i class="fa fa-pencil" aria-hidden="true"></i> Loc Depoz.
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='storageUnit'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='storageUnit'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('materialGroupCode')" class="text-center mouseOver">
								<i class="fa fa-pencil" aria-hidden="true"></i> Grupa
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='materialGroupCode'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='materialGroupCode'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('materialCode')" class="text-center mouseOver">
								<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Cod material
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='materialCode'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='materialCode'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('materialName')" class="text-center mouseOver">
								<span class="fa fa-pencil"></span> Descriere material
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='materialName'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='materialName'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('movementType')" class="text-center mouseOver">
								<span class="fa fa-pencil"></span> Tip misc.
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='movementType'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='movementType'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('quantity', 'N')" class="text-center mouseOver">
								<span class="fa fa-puzzle-piece"></span> Buc.
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='quantity'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='quantity'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('profitCenter')" class="text-center mouseOver">
								<span class="fa fa-slack"></span> Gama
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='profitCenter'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='profitCenter'"></span>
							</th>
							<th ng-click="$ctrl.sortAchievement('materialProductionTime', 'N')" class="text-center mouseOver">
								<span class="fa fa-clock-o"></span> Exec.
								<span class="fa sort-icon" ng-show="$ctrl.sortOptionsAchievement.key=='materialProductionTime'" ng-class="$ctrl.sortOptionsAchievement.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
								<span class="fa fa-sort" ng-show="$ctrl.sortOptionsAchievement.key!='materialProductionTime'"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="achievement in $ctrl.achievementFile.achievements | filter : ($ctrl.achievementFile.extended.showOnlyInvalidAchievements || '') && !(achievement.extended.message.length === 0) | filterByMatchingFields: $ctrl.searchAchievement : 'recordedDateTime' : 'logisticUnit' : 'storageUnit' : 'material_group_id' : 'materialCode' : 'materialName' : 'movementType' : 'quantity' : 'profitCenter' : 'materialProductionTime' | orderBy:$ctrl.customSorterAchievement:$ctrl.sortOptionsAchievement.reverse | itemsPerPage: 50"
							pagination-id="paginationAchievements" ng-class="{danger: achievement.extended.message}" title="{{achievement.extended.message}}">
							<td>
								{{achievement.recordedDateTime | date:'dd-MM-yyyy / HH:mm:ss'}}
							</td>
							<td>
								{{achievement.logisticUnit}}
							</td>
							<td>
								{{achievement.storageUnit}}
							</td>
							<td>
								{{achievement.materialGroupCode}}
							</td>
							<td>
								{{achievement.materialCode}}
							</td>

							<td>
								{{achievement.materialDescription}}
							</td>
							<td>
								{{achievement.movementType}}
							</td>
							<td>
								{{achievement.quantity}}
							</td>
							<td>
								{{achievement.profitCenter}}
							</td>
							<td>
								{{achievement.materialProductionTime}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row" ng-if="$ctrl.achievementFile">
				<div class="col-xs-12 text-center">
					<dir-pagination-controls max-size="30" direction-links="true" boundary-links="true" pagination-id="paginationAchievements">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>