<div class="container-fluid" style="padding-top: 6rem">
    <div class="row no-gutter">
        <div class="col-md-3 text-center">
            <h4><span class="fa fa-bar-chart fa-lg" aria-hidden="true"></span> Raportare productie</h4>
        </div>
        <div class=" col-md-9 well well-sm">
            <form name="form" class="form" role="form" novalidate ng-submit="$ctrl.generateReport()">
                <div class="row no-gutter">
                    <div class="col-md-3">
                        <label>Denumire raport</label>
                        <input type="text" class="form-control" ng-model="$ctrl.selectionOptions.title" />
                    </div>
                    <div class="col-md-2">
                        <div class="form-group" ng-class="{ 'has-error': form.fromDate.$touched && form.fromDate.$invalid }">
                            <label class="control-label">De la</label>
                            <p class="input-group">
                                <input type="text" name="fromDate" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="$ctrl.selectionOptions.fromDate.date"
                                    is-open="$ctrl.selectionOptions.fromDate.isOpen" datepicker-options="$ctrl.dateOptions" datepicker-append-to-body="true"
                                    ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="$ctrl.selectionOptions.fromDate.changed()"
                                    ng-readonly="true" show-button-bar="false" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.selectionOptions.fromDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                                <div class="help-block" ng-messages="form.fromDate.$error" ng-if="form.fromDate.$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group" ng-class="{ 'has-error': form.toDate.$touched && form.toDate.$invalid }">
                            <label class="control-label">Pana la</label>
                            <p class="input-group">
                                <input type="text" name="toDate" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="$ctrl.selectionOptions.toDate.date"
                                    is-open="$ctrl.selectionOptions.toDate.isOpen" datepicker-options="$ctrl.dateOptions" datepicker-append-to-body="true"
                                    ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="$ctrl.selectionOptions.toDate.changed()"
                                    ng-readonly="true" show-button-bar="false"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.selectionOptions.toDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                                <div class="help-block" ng-messages="form.toDate.$error" ng-if="form.toDate.$touched">
                                    <div ng-message="required">Camp obligatoriu</div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.openProfitCentersModal()" style="margin-top: 2rem">
                                <span class="fa fa-cubes"></span> Alegere game ({{$ctrl.selectionOptions.getProfitCentersSelected().length}} / {{$ctrl.selectionOptions.profitCenters.length}})
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row no-gutter text-right">
                                <button type="reset" class="btn" style="margin-top: 10px; background-color:transparent" ng-click="$ctrl.resetReport()">
                                    <i class="fa fa-trash-o fa-lg clearFilters" uib-tooltip="Reseteaza criterii selectie" tooltip-append-to-body="true" ></i>
                                </button>
                                <button type="submit" style="background-color:transparent" value="generate" class="btn" ng-disabled="!form.$valid || ($ctrl.selectionOptions.getProfitCentersSelected().length === 0)">
                                    <i class="fa fa-files-o fa-3x generateReport" uib-tooltip="Genereaza raport" tooltip-append-to-body="true"></i>
                                </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.reportData.length > 0">
        <div class="col-xs-6 col-md-10 text-center">
            <h4>{{$ctrl.reportTitle}}</h4>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.reportData.length > 0">
        <div  class="col-xs-12 col-md-1">
        </div>
        <div class="col-xs-12 col-md-10 table-responsive">
            <table class="table table-striped voffset2 table-condensed table-hover export-table">
                <thead>
                    <tr class="mouseOver">
                        <th ng-click="$ctrl.sort('profitCenter')">
                            Gama
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='profitCenter'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='profitCenter'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('date', 'D')">
                            Data
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='date'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='date'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('sectorName')">
                            Sector
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='sectorName'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='sectorName'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('quantity', 'N')">
                            Piese realizate
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='quantity'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='quantity'"></span>
                        </th>
                        <th ng-click="$ctrl.sort('duration', 'N')">
                            Min. piese Stuli
                            <span class="fa sort-icon" ng-show="$ctrl.sortOptions.key=='duration'" ng-class="$ctrl.sortOptions.reverse ? 'fa fa-sort-desc':'fa fa-sort-asc'"></span>
                            <span class="fa fa-sort" ng-show="$ctrl.sortOptions.key!='duration'"></span>
                        </th>
                        <th>
                            Grupe material
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in $ctrl.reportData | orderBy:$ctrl.customSorter:$ctrl.sortOptions.reverse">
                        <td>
                            {{entry.profitCenter}}
                        </td>
                        <td>
                            {{entry.date | date:'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{entry.sectorName}}
                        </td>
                        <td>
                            {{entry.quantity}}
                        </td>
                        <td>
                            {{entry.duration}}
                        </td>
                        <td>
                            <span ng-repeat="mg in entry.materialGroups">
                                <span ng-if="$index == 0">{{mg}}</span>
                                <span ng-if="$index != 0">, {{mg}}</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td class="text-right">
                            <b>Total:</b>
                        </td>
                        <td>
                           <b>{{$ctrl.totalQuantity}}</b>
                        </td>
                        <td>
                            <b>{{$ctrl.totalDuration}}</b>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
