<div snp-esc="cancel(form.$dirty)">
    <div class="modal-header">
        <a class="close" ng-click="cancel(form.$dirty)">×</a>
        <h4 class="modal-title text-center">{{title}}</h4>
    </div>
    <form name="form" role="form" ng-submit="save()" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6 col-md-offset-9 col-md-3 ">
                    <div class="icon-addon">
                        <span class="fa fa-search"></span>
                        <input type="text" class="form-control" placeholder="Filtrare game" ng-model="item.filterProfitCenter" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-gutter">
                    <div class="col-md-3" ng-repeat="profitCenter in item.profitCenters | filterByMatchingFields: item.filterProfitCenter : 'name'">
                        <div class="checkbox text-center">
                            <label>
                                <input type="checkbox" ng-model="profitCenter.isSelected" ng-change="item.profiCenterIsSelectedChange()"> {{profitCenter.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="item.toggleSelectAllProfitCenters()"> <i class="fa fa-check-square-o" aria-hidden="true"></i> Comutati gamele</button>
                </div>
                <div class="col-xs-8 text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel(form.$dirty)"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Anulare</button>
                    <button type="submit" class="btn btn-success" value="save" ng-disabled="!form.$valid"><span class="fa fa-save"></span> Salvare</button>
                </div>
            </div>
            <div ng-include="'snp-overlay.html'"></div>
        </div>
    </form>
</div>